<section class="section section--gray">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Выберите форму ведения бизнеса</h2>
    </header>
    <div class="section__content">
      <div class="packages-row js-packages-row">
        <div class="packages-row__inner">
          <div class="packages-row__cell">
            {{> widgets/pricing-card
                    title="ИП"
                    text="Индивидуальный предприниматель — физическое лицо, идеальный вариант для личного бизнеса"
                    param-1="1"
                    param-1-value="Количество участников"
                    param-2="Заявление (только физическое лицо)<br/>Фотография"
                    param-2-value="Пакет документов"
                    param-3="Не требуется"
                    param-3-red=true
                    param-3-value="Уставный фонд"
                    param-4="Не требуется"
                    param-4-red=true
                    param-4-value="Юридический адрес"
                    param-5="Налог (3%, 5%, 16%) в зависимости от системы налогообложения"
                    param-5-value="Налог"
                    param-6="Учредитель отвечает всем имеющимся имуществом"
                    param-6-value="Ответственность"
                    button-label="Оформить документы"
            }}
          </div>
          <div class="packages-row__cell">
            {{> widgets/pricing-card  selected=true
                    title="ЧУП"
                    text="ЧУП — юридическое лицо, подходит для семейного и малого бизнеса с 1 учредителем"
                    param-1="1"
                    param-1-value="Количество участников"
                    param-2="Заявление<br/>
Решение учредителя<br/>
Устав<br/>
Электронная копия устава<br/>
Анкета учредителя<br/>
Квитанция об оплате госпошлины<br/>
Справка о согласовании наименования"
                    param-2-value="Пакет документов"
                    param-3="Законодательством не установлен"
                    param-3-value="Уставный фонд"
                    param-4="Жилое или нежилое помещение"
                    param-4-value="Юридический адрес"
                    param-5="Общая система – уплата налога на прибыль, НДС<br/>Упрощенная система налогообложения - уплата налогов от выручки, НДС/без НДС"
                    param-5-value="Налог"
                    param-6="Без ограничений"
                    param-6-value="Найм работников"
                    param-7="ЧУП не отвечает по обязательствам своего учредителя. Нельзя обратить взыскание на имущество ЧУП по долгам учредителя"
                    param-7-value="Ответственность"
                    button-label="Оформить документы"
            }}
          </div>
          <div class="packages-row__cell">
            {{> widgets/pricing-card
                    title="ООО"
                    text="ООО — юридическое лицо, подходит для семейного и малого бизнеса с 1 и более учредителем"
                    param-1="От 1 до 50"
                    param-1-value="Количество участников"
                    param-2="Заявление<br/>
Решение учредительного собрания<br/>
Устав<br/>
Электронная копия учредительных документов<br/>
Анкета учредителя (для каждого учредителя)<br/>
Квитанция об оплате госпошлины<br/>
Справка о согласовании наименования"
                    param-2-value="Пакет документов"
                    param-3="Законодательством не установлен"
                    param-3-value="Уставный фонд"
                    param-4="Нежилое помещение"
                    param-4-value="Юридический адрес"
                    param-5="Общая система – уплата налога на прибыль, НДС<br/>Упрощенная система налогообложения - уплата налогов от выручки, НДС/без НДС"
                    param-5-value="Налог"
                    param-6="Без ограничений"
                    param-6-value="Найм работников"
                    param-7="ООО не отвечает по обязательствам своего учредителя. Можно обратить взыскание на долю учредителя в ООО"
                    param-7-value="Ответственность"
                    button-label="Оформить документы"
            }}
          </div>
      </div>
    </div>
  </div>
</section>

