<section class="page-filters page-filters--fixed js-filters">
  <div class="container">
    <div class="page-filters__content">
      <div class="page-filters__header">
        <div class="page-filters__header-right">
          {{>components/button-filter js-mod="js-filters__toggle"}}

          <button class="btn btn-outline btn--small btn-outline--gray btn--icon btn--icon-right js-scroll-to"
                  data-scroll-target=".rates-convertor">
            Конвертер валюты {{>ui/svg name="ui--convert-small"}}
          </button>
        </div>
      </div>
      <div class="page-filters__body js-filters__body">
        <div class="page-filters__inner">
          <div class="page-filters__inner-left">
            <ul class="page-filters__list js-filters__list">
              <li class="page-filters__list-item">
                {{#> form/select border=true search=true search-empty="Городов не найдено"}}
                  <option value="Минск" selected>В Минске</option>
                  <option value="Гродно">В Бресте</option>
                  <option value="Гомель">В Гомеле</option>
                  <option value="Гомель">В Могилеве</option>
                  <option value="Гомель">В Витебске</option>
                  <option value="Гомель">В Гродно</option>
                {{/form/select}}
              </li>
              <li class="page-filters__list-item">
                {{#> form/select border=true}}
                  <option value="0">Все отделения</option>
                  <option value="2">Отделение 1</option>
                  <option value="3">Отделение 2</option>
                  <option value="4">Отделение 3</option>
                  <option value="5">Отделение 4 Отделение 4</option>
                  <option value="6">Отделение 5</option>
                  <option value="7">Отделение 6</option>
                {{/form/select}}
              </li>
              <li class="page-filters__list-item">
                {{> components/btn-toggle label="Работают сейчас" id="check_01"}}
              </li>
              <li class="page-filters__list-item">
                {{> components/btn-toggle label="Сначала ближайшие" id="check_02"}}
              </li>
            </ul>
          </div>
          <div class="page-filters__inner-right">
            {{> form/date disabled-last-14=true border=true default=true}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
