<li class="header-nav__item">
  <a href="#" class="header-nav__link">Крупный бизнес</a>
</li>
<li class="header-nav__item js-header__item">
  <a href="#" class="header-nav__link js-header__link">Международный бизнес</a>
  <div class="header-nav__dropdown js-header__dropdown">
    {{> blocks/header/dropdown/corporation/world}}
  </div>
</li>
