<div class="header-buttons {{#if hidden}}header-buttons--hidden{{/if}}">
  <div class="header-buttons__item">
    {{>components/button-chat icon="ui--chat"}}
  </div>
  <div class="header-buttons__item header-buttons__item--desktop">
    {{>components/button-bank}}
  </div>
</div>
