<li class="header-nav__item js-header__item">
  <a href="#" class="header-nav__link js-header__link">Открытие и ведение счета</a>
  <div class="header-nav__dropdown js-header__dropdown">
    {{> blocks/header/dropdown/business/open}}
  </div>
</li>
<li class="header-nav__item js-header__item">
  <a href="#" class="header-nav__link js-header__link">Финансирование</a>
  <div class="header-nav__dropdown js-header__dropdown">
    {{> blocks/header/dropdown/business/finance}}
  </div>
</li>
<li class="header-nav__item js-header__item">
  <a href="#" class="header-nav__link js-header__link">Депозиты</a>
  <div class="header-nav__dropdown js-header__dropdown">
    {{> blocks/header/dropdown/business/deposits}}
  </div>
</li>
<li class="header-nav__item js-header__item">
  <a href="#" class="header-nav__link js-header__link">Сервисы</a>
  <div class="header-nav__dropdown js-header__dropdown">
    {{> blocks/header/dropdown/business/services}}
  </div>
</li>
<li class="header-nav__item js-header__item">
  <a href="#" class="header-nav__link js-header__link">Эквайринг</a>
  <div class="header-nav__dropdown js-header__dropdown">
    {{> blocks/header/dropdown/business/acquiring}}
  </div>
</li>
