<div class="map js-map-widget" data-api-url="/assets/ajax/map">
  {{> widgets/map/sidebar/container }}
  <div class="map__container js-map"
       data-api-url="https://api-maps.yandex.ru/2.1/?lang=ru_RU"
       data-center="53.90253130,27.55209297"
       data-markers="{{markers}}"
       data-zoom="12">
  </div>
</div>
