{{>blocks/common/gallery-slider gallery-content=@root.internal.about-property.slider}}

<div class="property-item__table">
  <table>
    <tr>
      <td>Пробег</td>
      <td>87 000 км</td>
    </tr>
    <tr>
      <td>Коробка</td>
      <td>Механическая</td>
    </tr>
    <tr>
      <td>Владелец</td>
      <td>1 владелец</td>
    </tr>
    <tr>
      <td>Цена</td>
      <td>20 000 BYN</td>
    </tr>
  </table>
</div>

<div class="static">
  <ul>
    <li>Возможна покупка в кредит, а так же выгодный обмен на ваш автомобиль.</li>
    <li>При покупке в кредит гарантированная скидка.</li>
  </ul>

  <ol>
    <li>Нумерованный 1</li>
    <li>Нумерованный 2</li>
    <li>Нумерованный 3</li>
    <li>Нумерованный 3</li>
  </ol>

  <table>
    <tr>
      <td>Пробег</td>
      <td>87 000 км</td>
    </tr>
    <tr>
      <td>Коробка</td>
      <td>Механическая</td>
    </tr>
    <tr>
      <td>Владелец</td>
      <td>1 владелец</td>
    </tr>
    <tr>
      <td>Цена</td>
      <td>20 000 BYN</td>
    </tr>
  </table>
</div>
