.benefits-card {
  height: 100%;

  &__container {
    height: 100%;
    padding: 22px 30px 43px;
    background-color: $color-white;
    border-color: transparent;
    border-radius: 15px;

    @include media(mobile) {
      padding: 20px 20px 50px;
      border-radius: 8px;
    }
  }

  &__image, img {
    width: 65px;
    height: 65px;

    @include media(mobile) {
      width: 55px;
      height: 55px;
    }
  }

  &__inner {
    margin-top: 20px;
  }

  &__title {
    display: block;
    margin: 0;
    @include text-h4;
    color: $color-gray-100;

    @include media(mobile) {
      @include text-h5;
    }
  }

  &__text {
    display: block;
    margin: 5px 0 0;
    @include text-body-2;
    color: $color-gray-80;
  }

  &__btn {
    margin-top: 20px;
    color: $color-primary;

    .btn {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.04em;
      padding: 0;
    }
  }
}
