.rates-card {
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.04em;
    margin-bottom: 30px;

    @include mobile {
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 15px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: $color-gray-20;
    position: relative;

    &:before {
      content: '';
      @include align(true, true);
    }

    &--usd:before {
      @include sprite('rates-usd');
    }

    &--eur:before {
      @include sprite('rates-eur');
    }

    &--rub:before {
      @include sprite('rates-rub');
    }
  }

  &__value {
    .rates-card .rates-card__icon + & {
      margin-left: 15px;
      @include mobile {
        margin-left: 25px;
      }
    }
  }

  &__number {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -0.04em;

    @include mobile {
      font-size: 16px;
    }
  }

  &__double {
    display: flex;

    &-cell {
      margin-left: 25px;

      &:first-child {
        margin-left: 0;
      }
    }

    &-label {
      font-size: 12px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: $color-gray-80;
      display: block;
    }

    &-value {
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: -0.04em;
      display: block;
      margin-top: 5px;
      padding-right: 18px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        @include align(false, true);
      }

      &--down:after {
        @include sprite('rates-minus');
      }

      &--up:after {
        @include sprite('rates-plus');
      }
    }
  }
}
