.service-card {
  position: relative;
  width: 100%;
  height: 100%;

  &__link {
    @include fill;
    z-index: z(default);
  }

  &:hover{
    .service-card__container {
      bottom: 5px;
      @include shadow(xl);

      @include media(mobile) {
        @include shadow(lg);
      }
    }
  }

  &__container {
    position: relative;
    bottom: 0;
    display: flex;
    min-height: 310px;
    height: 100%;
    color: $color-gray-80;
    @include shadow(md);
    border-radius: 15px;
    background-color: $color-white;
    @include transition;
    cursor: pointer;

  }

  &__icon {
    $app-value: 55px;

    width: $app-value;
    min-height: $app-value;
    border-radius: 8px;
    @include shadow(sm);
    overflow: hidden;
  }

  &__content {
    margin-top: 20px;

    @include media(mobile) {
      margin-top: 0;
    }
  }

  &__title {
    display: block;
    margin: 0;
    padding: 0;
    color: $color-gray-100;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.04em;
    z-index: 1;
    position: relative;

    @include media(mobile) {
      flex: 1 1 100%;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: -0.02em;
    }

    + .service-card__text {
      margin-top: 5px;
    }
  }

  &__text {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.04em;

    //Prevent overflowing text
    max-height: 63px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    @include mobile {
      font-size: 14px;
      margin-top: 5px;
    }
  }

  &__button {
    display: inline-block;
    color: $color-primary;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: -0.04em;

    @include mobile {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      color: $color-primary-hover;
    }
  }

  &__button-container {
    margin-bottom: 25px;
    padding: 0;

    width: 100%;
    justify-content: center;

    @include mobile{
      margin: 0 25px 0 0;
    }
  }

  &__actions {
    white-space: nowrap;
  }

  &__bottom{
    padding-top: 15px;
    margin-top: auto;
    @include mobile{
      display: flex;
      padding-top: 30px;
      justify-content: center;
      align-items: center;
    }
  }

  &__actions-link {
    display: inline-flex;
    align-items: center;
    color: $color-gray-80;
    @include text-caption;

    @include media(mobile, up) {
      padding: 0;
    }

    &:hover,
    &:focus {
      color: $color-gray-100;
    }

    .icon {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
  }

  &--small {
    .service-card {
      &__container {
        padding: 25px;

        @include media(mobile) {
          padding: 25px 20px;
        }
      }

      &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &__icon {
        @include media(mobile) {
          flex: 0 0 55px;
          display: block;
          margin-bottom: 20px;
        }
      }

      &__button-container {
        @include media(mobile, up) {
          margin-bottom: 30px;
        }

        @include media(mobile) {
          display: block;
          margin-top: 15px;
        }
      }
    }
  }

  &--big {
    .service-card {
      &__container {
        padding: 30px 35px;

        @include media(mobile) {
          padding: 20px;
          padding-bottom: 35px;
        }
      }

      &__inner {
        @include media(mobile, up) {
          flex: 0 1 calc(100% - 260px);
          max-width: 315px;
        }

        @include media(mobile) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }

      &__icon {
        @include media(mobile) {
          display: none;
        }
      }

      &__button-container {
        @include media(mobile) {
          display: flex;
          align-items: center;
          margin-bottom: 0;
        }
      }

      &__image {
        @include media(mobile, up) {
          position: absolute;
          right: 0;
          bottom: 0;
          min-height: 310px;
          max-width: 296px;
        }

        @include media(mobile) {
          margin: 25px auto 0;

          img {
            display: block;
            max-width: 82%;
            margin: 0 auto;
          }
        }
      }

      &__actions {
        @include media(mobile) {
          .app-stores {
          }
        }
      }

      &__actions-item {
        @include media(mobile) {
          display: none;
        }
      }
    }
  }

  &--primary {
    .service-card__container {
      background: linear-gradient(93.43deg, #00A2FD -0.4%, #1B74FD 99.74%);
      color: $color-white-70;
    }

    .service-card__button,
    .service-card__title {
      color: $color-white;
    }

    .service-card__button {
      &:hover,
      &:focus {
        color: $color-white-70;
      }
    }

    .service-card__text {
      color: $color-white-70;
    }

    .app-stores__link {
      &:hover {
        color: $color-white-70;
      }
    }
  }

  &--title-link {
    .service-card {
      &__container {
        cursor: default;

        @include media(mobile) {
          min-height: auto;
        }
      }

      &__title a {
        @include transition;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  .service-card__button,
  .app-stores__link {
    position: relative;
    z-index: z(default);
  }

  &__browser {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: $color-gray-80;
    padding-left: 20px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      @include sprite('browser');
    }
  }
}
