.sidebar-widget {
  &__title {
    display: block;
    margin: 0;
    @include text-h5;

    + .sidebar-widget__content {
      margin-top: 15px;

      @include media(mobile) {
        margin-top: 10px;
      }
    }
  }
}
