<section class="section section--gray">
  <div class="container">
    <div class="banners-list__item">
      {{> banners/deposit
              img="deposits/deposit-card/01"
              img-mobile="deposits/deposit-card/01-mobile"
              currency-1="BYN"
              title="МТБелки Online"
              text="Ваша белка, только став МТБелкой, может принести и удачу и прибыль!"
              feature-1-value="до 13,00%"
              feature-1-label="Процентная ставка"
              feature-2-value="50 BYN"
              feature-2-label="Мин. сумма вклада"
              feature-3-value="до 36 месяцев"
              feature-3-label="Срок вклада"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/deposit
              img="deposits/deposit-card/02"
              img-mobile="deposits/deposit-card/02-mobile"
              currency-1="BYN"
              title="МТБелки"
              text="Ваша белка, только став МТБелкой, может принести и удачу и прибыль!"
              feature-1-value="до 13,00%"
              feature-1-label="Процентная ставка"
              feature-2-value="50 BYN"
              feature-2-label="Мин. сумма вклада"
              feature-3-value="до 36 месяцев"
              feature-3-label="Срок вклада"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/deposit
              img="deposits/deposit-card/03"
              img-mobile="deposits/deposit-card/03-mobile"
              currency-1="EUR"
              currency-2="USD"
              title="Актуальный"
              text="Депозит в иностранной валюте с высокой доходностью"
              feature-1-value="до 0,5%"
              feature-1-label="Процентная ставка"
              feature-2-value="100 USD/EUR"
              feature-2-label="Мин. сумма вклада"
              feature-3-value="до 24 месяцев"
              feature-3-label="Срок вклада"
      }}
    </div>
  </div>
</section>
