{{> widgets/hero-banner
        assets-folder="business-leasing-single"
        features-icons=true
        features-enabled=true
        text-wide=true
        title="Быстрый лизинг новых легковых и коммерческих автомобилей"
        button-label="Смотреть каталог партнеров"
        feature-1-title="Гарант качества"
        feature-1-text="Наш лизинг находится под защитой <a href='#'>гарании качества</a>."
        feature-2-title="Рассмотрение в течение 2-х дней"
        feature-2-text="Мы ценим ваше время, и сообщим о решении за 2 дня."
        feature-3-title="Новая и б/у техника"
        feature-3-text="Любой вид техники. Банк поможет с выбором."
}}
