<div class="error-404">
  <div class="error-404__image">
    {{>components/image img="404/bg" ext="png"}}
  </div>
  <div class="error-404__inner">
    <h1 class="error-404__title">Страница не найдена</h1>
    <p class="error-404__text">Такой страницы больше не существует</p>
    <div class="error-404__btn">
      {{>ui/btn label="Перейти на главную" color="primary" href="/home.html"}}
    </div>
  </div>
</div>
