.contact-map {
  display: flex;
  align-items: center;
  padding: 60px 0 50px;

  @include mobile {
    padding: 30px 0 50px;
    display: block;
  }

  &__image {
    width: 330px;
    @include desktop {
      margin-left: 50px;
    }

    @include mobile {
      width: auto;
      display: flex;
      justify-content: center;
      img{
        max-width: 250px;
      }
    }
  }

  &__content {

    @include desktop {
      max-width: 605px;
      margin-left: 115px;
    }

    @include tablet {
      margin-left: 40px;
    }

    @include mobile {
      margin-top: 40px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.04em;
    display: block;
    color: $color-white;

    @include mobile {
      font-size: 21px;
      line-height: 120%;
    }
  }

  &__text {
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -0.04em;
    color: $color-white-70;
    margin-top: 10px;
    display: block;

    @include mobile {
      font-size: 15px;
      line-height: 140%;
    }
  }

  &__button {
    margin-top: 30px;
    @include mobile {
      margin-top: 20px;
    }
  }
}
