.feature-tabs {
  @include reset-slider-container-small-tablet;

  &__inner {
    display: flex;

    @include smallTablet-and-mobile{
      margin-bottom: -20px;
    }
  }

  &__tab {
    margin-left: 6px;
    white-space: nowrap;

    @include smallTablet-and-mobile{
      padding-bottom: 20px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    padding: 0 16px;
    height: 42px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.04em;
    border-radius: 100px;

    @include mobile {
      font-size: 12px;
      line-height: 100%;
      letter-spacing: -0.02em;
      padding: 0 12px;
      height: 33px;
      font-weight: 400;
    }

    &:hover {
      color: $color-gray-80;
    }

    &.active {
      background: $color-primary;
      color: $color-white;
      box-shadow: 0px 9px 20px rgba(48, 66, 117, 0.13);

      &:hover {
        color: $color-white;
      }
    }
  }
}
