.pricing {
  &__tabs {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: -25px;
    @include tablet-and-mobile{
      margin-top: 0;
    }
    @include smallTablet-and-mobile{
      margin-bottom: 25px;
      margin-top: -10px;
    }
  }

  .button-tab {
    @include media(mobile) {
      padding: 9.5px 12px;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: -0.02em;
    }
  }

  &__section {
    margin-top: 60px;

    @include media(mobile) {
      margin-top: 50px;
      &:first-child{
        margin-top: 0;
      }
    }

    &--files {
      .pricing__content {
        margin-top: 40px;

        @include media(mobile) {
          margin-top: 20px;
        }
      }

      .pricing__list {
        display: flex;
        flex-wrap: wrap;
        margin: -12.5px -20px;

        @include media(tabletSmall) {
          margin: -5px;
        }
      }

      .pricing__item {
        flex: 1 1 40%;
        max-width: calc(50% - 40px);
        margin: 12.5px 20px;
        border-bottom: unset;

        @include media(tabletSmall) {
          max-width: 100%;
          margin: 5px;
        }
      }
    }
  }

  &__title {
    display: block;
    margin: 0;
    @include text-h3
  }

  &__content {
    margin-top: 10px;
  }

  &__item {
    border-bottom: 1px solid $color-gray-40;
  }
}
