.scroll-up{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 1px 4px 9px rgba(48, 66, 117, 0.13);
  position: fixed;
  left: 29px;
  bottom: 29px;
  background: #fff;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  @include transition;

  @include smallTablet-and-mobile{
    display: none;
  }

  &.visible{
    opacity: 1;
    visibility: visible;
  }

  &:hover{
    background: #eee;
  }

  &:before{
    content: '';
    @include align(true, true);
    @include sprite('scroll-up');
  }
}
