<section class="section section--no-mt">
  <div class="container">
    <div class="promotions-main">
      <ul class="banners-list">
        <li class="banners-list__item">
          {{>widgets/promotions-banner
              banner-mode="purple"
              img="01"
              ext="png"
              title="Халва Плюс ищет новых друзей — <br>10 приветственных баллов!"
              text="Скидки и сезонные распродажи – это прекрасно, но они, скорее, исключение, чем правило, а зарабатывать на покупках хочется постоянно."
              time-left="Действует еще 12 дней"
              period="с 19.07.20 по 25.07.20"
          }}
        </li>
        <li class="banners-list__item">
          {{>widgets/promotions-banner
              banner-mode="green"
              img="02"
              ext="png"
              title="Сократи расходы на авто с Автокартой!"
              text="Какой автовладелец не мечтает об идеальном состоянии машины, а заодно о небольших расходах на его поддержание?"
              time-left="Действует еще 3 дня"
              period="с 19.07.20 по 25.07.20"
          }}
        </li>
        <li class="banners-list__item">
          {{>widgets/promotions-banner
              banner-mode="yellow"
              img="03"
              ext="png"
              title="Такси Пятница со скидкой 7%"
              text="Это современное такси с высокими стандартами, созданное специально для людей."
              time-left="Последний день акции"
              period="с 19.07.20 по 25.07.20"
          }}
        </li>
        <li class="banners-list__item">
          {{>widgets/promotions-banner
              banner-mode="black"
              img="04"
              ext="png"
              title="Яндекс.Такси со скидкой 20%"
              text="По 31.05.2020 предлагаем скидку 20% на поездки c Яндекс.Такси по тарифам Комфорт+ и Бизнес держателям премиальной карточки World Mastercard Black Edition."
              time-left="Действует всегда"
          }}
        </li>
        <li class="banners-list__item">
          {{>widgets/promotions-banner
              banner-mode="blue"
              img="05"
              ext="png"
              title="Получите шанс выиграть Iphone 11 Pro!"
              text="Онлайн покупки актуальны сегодня как никогда ранее. <br> С 25.04.2020-30.06.2020 при оплате заказов в каталоге Онлайнера картами Visa от МТБанка вы сможете каждую неделю принимать участие в розыгрыше Iphone 11 Pro!"
              time-left="Действует еще 60 дней"
              period="с 19.07.20 по 25.07.20"
          }}
        </li>
        <li class="banners-list__item">
          {{>widgets/promotions-banner
              banner-mode="purple"
              img="01"
              ext="png"
              title="Халва Плюс ищет новых друзей — <br> 10 приветственных баллов!"
              text="Скидки и сезонные распродажи – это прекрасно, но они, скорее, исключение, чем правило, а зарабатывать на покупках хочется постоянно. "
              time-left="Действует еще 30 дней"
              period="с 19.07.20 по 25.07.20"
          }}
        </li>
      </ul>
    </div>

    <div class="section__pagination">
      {{>ui/pagination}}
    </div>
  </div>
</section>
