<div class="agreement-checkbox {{#if error}}_error{{/if}}">
  {{>form/checkbox error=error label='Я даю согласие на <a href="#">обработку персональных данных</a>'}}

  <span class="agreement-checkbox__error">Для продолжения нужно согласие с условиями. Мы гарантируем безопасность и сохранность ваших данных.</span>
</div>
