<div class="award-card">
  <div class="award-card__image">
    {{> components/image img=img ext="png"}}
  </div>
  <div class="award-card__content">
    <span class="award-card__name">{{title}}</span>
  </div>
</div>
