<div class="blog-card">
  <a href="#" class="blog-card__link">
    <div class="blog-card__bg">
      {{>components/image img=this.img ext="jpg"}}
    </div>
    <div class="blog-card__content">
      <span class="blog-card__label">{{this.label}}</span>
      <p class="blog-card__title">{{this.title}}</p>
    </div>
  </a>
</div>
