<div class="deposit-offer">
  <span class="deposit-offer__name">{{title}}</span>
  <span class="deposit-offer__value deposit-offer__value--{{color}}">{{value}}</span>
  <p class="deposit-offer__text">{{text}}</p>
  <div class="deposit-offer__button">
    {{>ui/btn label=button-label color="primary" size="large"}}
  </div>
</div>
