<div class="exchange-convertor">
  <div class="exchange-convertor__input">
    {{> widgets/exchange-input}}
  </div>
  <div class="exchange-convertor__splitter">
    <button>
      {{> ui/svg name="action--switch"}}
    </button>
  </div>
  <div class="exchange-convertor__input">
    {{> widgets/exchange-input}}
  </div>
</div>
