<div class="exchange-input js-exchange-input">
  <div class="exchange-input__input">
    <input value="1" type="text" class="js-numeric-input">
  </div>
  <div class="exchange-input__select">
    <select class="js-link-select visually-hidden">
      <option value="usd" selected>USD</option>
      <option value="byn">BYN</option>
      <option value="eur">EUR</option>
      <option value="rub">RUB</option>
    </select>
  </div>
</div>
