<a href="#" target="_blank"
   class="mobileapp-button {{#if light}}mobileapp-button--light{{/if}} {{#if white}}mobileapp-button--white{{/if}} {{#if label}}mobileapp-button--label{{/if}} {{#if
           size}}mobileapp-button--{{size}}{{/if}} mobileapp-button--{{#if
           appstore}}appstore{{/if}}{{#if
           googleplay}}googleplay{{/if}}{{#if
           android}}android{{/if}}">{{#if label}}{{label}}{{/if}}</a>
