<article class="news-article">
  <a class="news-article__link" href="about--press-single.html"></a>
  <div class="news-article__container">
    <span class="news-article__title">{{{title}}}</span>
    {{#if text}}
      <p class="news-article__text">{{text}}</p>
    {{/if}}
    <div class="news-article__pubdate-container">
      <time class="news-article__time" datetime="{{datetime}}">{{time}}</time>
    </div>
  </div>
</article>
