<div class="news-card">
  <a href="/about--press-single.html" class="news-card__link">
    <span class="news-card__label">{{label}}</span>
    <span class="news-card__title">{{title}}</span>
  </a>
</div>
