<div class="number-step">
  <div class="number-step__left">
    <span class="number-step__number">{{number}}</span>
  </div>
  <div class="number-step__content">
    <span class="number-step__title">{{title}}</span>
    <p class="number-step__text">{{text}}</p>
  </div>
</div>
