<div class="partner">
  <div class="partner__image">
    {{>components/image img=(concat 'common/brands/' name) ext="svg"}}
  </div>
  <div class="partner__content">
    <p class="partner__text">{{text}}</p>
  </div>
</div>
