<div class="review-container">
  <p class="review-container__title">{{title}}</p>
  <p class="review-container__text">{{text}}</p>
  {{>blocks/common/review-person image=person-image name=person-name text=person-text ext=person-ext}}
</div>
