<div class="promotions-card">
  <a class="promotions-card__link" href="#"></a>
  <div class="promotions-card__container">
    <div class="promotions-card__image">
      {{>components/image img=img ext=ext}}
    </div>
    <div class="promotions-card__content">
      <span class="promotions-card__title">{{title}}</span>
      <span class="promotions-card__tag">{{tag}}</span>
    </div>
  </div>
</div>
