<article class="related-promotion">
  <a class="related-promotion__link" href="#"></a>
  <div class="related-promotion__container">
    <div class="related-promotion__image">
      {{>components/image img=(concat "internal/about-promotions/single/related-0" img) ext="jpg"}}
    </div>
    <div class="related-promotion__content">
      <span class="related-promotion__title">{{title}}</span>
      <p class="related-promotion__text">{{text}}</p>
      <span class="related-promotion__label">{{label}}</span>
    </div>
  </div>
</article>
