<div class="search-item">
  <div class="search-item__left">
    <a href="#" class="search-item__category">{{category}}</a>
  </div>
  <div class="search-item__right">
    <span class="search-item__title">{{{title}}}</span>
    <p class="search-item__text">{{text}}</p>
  </div>
</div>
