<div class="sidebar-widget">
  <div class="sidebar-widget__container">
    <p class="sidebar-widget__title">{{title}}</p>
    <div class="sidebar-widget__content">
      {{> @partial-block }}
    </div>
  </div>
</div>
