<section class="section section--gray">
  <div class="container">
    <div class="banners-list__item">
      {{> banners/deposit
              img="business/deposits/deposit_01"
              img-mobile="business/deposits/deposit_01-mobile"
              title="Безотзывный"
              text="Депозит без возможности досрочного отзыва и с возможностью пополнения.  Позволяет получать максимальный доход."
              feature-1-value="до 13,00%"
              feature-1-label="Процентная ставка"
              feature-2-value="50 BYN"
              feature-2-label="Мин. сумма вклада"
              feature-3-value="до 36 месяцев"
              feature-3-label="Срок вклада"
              button-label="Оформить депозит"
              link-label="Подробнее"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/deposit
              img="business/deposits/deposit_02"
              img-mobile="business/deposits/deposit_02-mobile"
              title="Отзывный"
              text="Депозит с возможностью досрочного отзыва и возможностью пополнения."
              feature-1-value="до 13,00%"
              feature-1-label="Процентная ставка"
              feature-2-value="50 BYN"
              feature-2-label="Мин. сумма вклада"
              feature-3-value="до 36 месяцев"
              feature-3-label="Срок вклада"
              button-label="Оформить депозит"
              link-label="Подробнее"
      }}
    </div>
  </div>
</section>
