<section class="section">
  <section class="section">
    <div class="container">
      <hr class="section__splitter"/>
      {{> widgets/terms-list no-number=true
              term-1="Ставки точно в рынке"
              term-2="Оформление за 1 час"
              term-3="Индивидуальный подход"
      }}
    </div>
  </section>
</section>
