<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Информация о банке</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="about--about-us.html">О нас</a></li>
              <li class="header-dropdown__list-item"><a href="about--leadership.html">Руководство</a></li>
              <li class="header-dropdown__list-item"><a href="#">Банкам-корреспондентам</a></li>
              <li class="header-dropdown__list-item"><a href="#">Реквизиты</a></li>
              <li class="header-dropdown__list-item"><a href="#">Раскрытие информации</a></li>
              <li class="header-dropdown__list-item"><a href="#">Финансовая отчетность</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Информация для клиентов</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Курсы валют</a></li>
              <li class="header-dropdown__list-item"><a href="about--pricing.html">Тарифы и документы</a></li>
              <li class="header-dropdown__list-item"><a href="about--promotions.html">Акции</a></li>
              <li class="header-dropdown__list-item"><a href="#">Реквизиты</a></li>
              <li class="header-dropdown__list-item"><a href="#">Учебный портал</a></li>
              <li class="header-dropdown__list-item"><a href="#">Информирование о сборе и обработке
                данных пользователя на сайте</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Информация для партнеров</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="about--tenders.html">Тендеры</a></li>
              <li class="header-dropdown__list-item"><a href="about--property.html">Реализация имущества</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
