<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Связаться с банком</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="about--press.html">Пресс-центр</a></li>
              <li class="header-dropdown__list-item"><a href="#">Отделения и банкоматы</a></li>
              <li class="header-dropdown__list-item"><a href="#">Контакт-центр</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
