<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Поддержка клиентов</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Ваше мнение</a></li>
              <li class="header-dropdown__list-item"><a href="#">Сообщение о неправомерных действиях</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Полезная информация</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Вопросы-Ответы</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
