.popup-person {
  display: flex;
  flex-direction: column;
  width: 700px;
  max-width: 100%;
  padding: 40px 75px;
  height: 100%;

  @include mobile {
    padding: 20px 17px;
  }

  &__header {
    flex: 0 0 auto;
  }

  &__content {
    height: 100%;
    margin-top: 40px;
    overflow-y: auto;
  }

  &__section {
    margin-top: 30px;
    color: $color-gray-100;

    @include mobile {
      margin-top: 25px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.04em;

    @include mobile {
      font-weight: bold;
      font-size: 16px;
      line-height: 130%;
    }
  }

  &__body {
    margin-top: 10px;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -0.04em;

    @include mobile {
      font-size: 15px;
      line-height: 140%;
    }

    ul li {
      padding-left: 26px;
      position: relative;

      margin-top: 5px;

      @include mobile {
        margin-top: 10px;
      }

      &:first-child {
        margin-top: 0;
      }

      &:before {
        content: '';
        background: $color-primary;
        position: absolute;
        top: 10px;
        left: 0;

        @include mobile {
          top: 8px;
        }

        @include circle(5px);
      }
    }
  }
}
