<section class="section">
  <div class="container">
    <div class="salary-content">
      <div class="salary-content__image">
        {{> components/image img="salary/salary" ext="png" img-mobile="salary/salary-mobile"}}
      </div>
      <div class="salary-content__content">
        <span class="salary-content__title">Получайте зарплату в МТБанке</span>
        <p class="salary-content__text">В вашей компании используют карты другого банка для зарплаты?
          Обратите внимание вашего руководства на зарплатные пакеты от МТБанка.</p>
        <div class="salary-content__actions">
          {{> widgets/button-and-more label="Заполнить заявку" no-link=true}}
        </div>
      </div>
    </div>
  </div>
</section>
