<section class="section">
  <div class="container">
    <div class="rates-nbrb">
      <div class="rates-nbrb__cell">
        {{> widgets/rates-card label="1 Доллар США" icon="usd" value="2,645"}}
      </div>
      <div class="rates-nbrb__cell">
        {{> widgets/rates-card label="1 Евро" icon="eur" value="2,645"}}
      </div>
      <div class="rates-nbrb__cell">
        {{> widgets/rates-card label="100 Российских рублей" icon="rub" value="2,645"}}
      </div>
    </div>
  </div>
</section>
