.brief-about {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 0 0 auto;
  padding-bottom: 40px;

  @include mobile{
    padding-bottom: 0;
  }

  > * + * {
    @include media(mobile) {
      margin-top: 40px;
    }
  }

  &__item {
    flex: 0 1 495px;

    @include media(mobile, up) {
      margin-top: 90px;

      &:nth-child(even) {
        margin-left: 45px;
      }

      &:nth-child(-n + 2) {
        margin-top: 0;
      }
    }

    @include media(tablet) {
      flex: 0 1 calc(49% - 45px);
    }

    @include media(mobile) {
      flex: 1 1 100%;
    }
  }
}
