<section class="section section--background">
  <div class="section__bg" style="background: linear-gradient(269.66deg, #216ADB 0.49%, #1553B4 99.75%);"></div>

  <div class="container">
    <div class="contact-map">
      <div class="contact-map__image">
        {{> components/image img="business/leasing/map" ext="png"}}
      </div>
      <div class="contact-map__content">
        <h2 class="contact-map__title">Как нас найти?</h2>
        <p class="contact-map__text">Сейчас у нас 50 офисов в 15 разных городах. Найдите длижайший офис на карте на нашем сайте.</p>
        <div class="contact-map__button">
          {{> ui/btn size="large" color="white" label="Смотрить офисы на карте"}}
        </div>
      </div>
    </div>
  </div>
</section>
