<div class="page-tabs">
  <div class="container">
    <div class="page-tabs__wrapper">
      <div class="page-tabs__inner">
        {{#if tab-1}}
          <div class="page-tabs__tab">
            <a href="#" class="page-tabs__link js-tab active" data-target=".tab-1">{{tab-1}}</a>
          </div>
        {{/if}}
        {{#if tab-2}}
          <div class="page-tabs__tab">
            <a href="#" class="page-tabs__link js-tab" data-target=".tab-2">{{tab-2}}</a>
          </div>
        {{/if}}
        {{#if tab-3}}
          <div class="page-tabs__tab">
            <a href="#" class="page-tabs__link js-tab" data-target=".tab-3">{{tab-3}}</a>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
