<div class="review-person">
  <div class="review-person__image">{{>components/image img=image ext=ext}}</div>
  <div class="review-person__content">
    <p class="review-person__text"><span>{{name}}</span> — {{text}}</p>
  </div>
</div>
