<section class="sidebar-block js-sidebar-block" id="{{id}}">
  <div class="sidebar-block__header">
    <span class="sidebar-block__title">{{title}}</span>
  </div>
  <div class="sidebar-block__content">
    {{> @partial-block }}
  </div>
</section>
