<section class="section">
  <div class="container">
    <div class="section-socials">
      <div class="section-socials__left">
        <h2 class="section__title">МТБанк в соц. сетях</h2>
        <p class="section__description">Откровенно и нескучно о взаимоотношениях с финансами, о выгодных вложениях
          и скидках и о том, как не тратить деньги впустую.</p>
        <div class="section-socials__links">
          {{> widgets/social-button social="instagram"}}
          {{> widgets/social-button social="vkontakte"}}
          {{> widgets/social-button social="youtube"}}
          {{> widgets/social-button social="facebook"}}
        </div>
      </div>
      <div class="section-socials__right">
        {{> components/image img="common/socials" ext="png"}}
      </div>
    </div>
  </div>
</section>
