<section class="section">
  <div class="container">
    <div class="section__header">
      <span class="section__title {{#if small-title}}section__title--small{{/if}}">{{title}}</span>
    </div>
    <div class="section__content">
      {{> widgets/terms-list }}
    </div>
  </div>
</section>

