.header-search {
  height: 100%;
  position: relative;

  @include tablet-and-mobile{
    &.hidden{
      display: none;
    }
  }

  &__opened {
    display: none;

    &.active {
      display: block;
    }

    width: 465px;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: $color-primary;

    form {
      height: 100%;
    }

    @include tablet-and-mobile {
      .mobile-opened & {
        background: transparent;
        width: 100%;
        height: 42px;
        display: block;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    cursor: default;
  }

  &__icon {
    width: 16px;
    color: $color-white;
    position: absolute;
    left: 17px;
    display: flex;
    align-items: center;
    @include align(false, true);

    @include tablet-and-mobile {
      color: #ADB3C5;
    }

    &-search {
      @include tablet-and-mobile {
        display: block;
        .header-search.active & {
          display: none;
        }
      }
    }

    &-back {
      display: none;
      @include tablet-and-mobile {
        .header-search.active & {
          display: block;
        }
      }
    }
  }

  &__input {
    margin-right: 12px;
    height: 100%;
    flex: 1 1 auto;
    padding: 0 16px;
    cursor: default;

    input {
      background: transparent;
      border: 0 none;
      display: block;
      width: 100%;
      height: 100%;
      color: $color-white;
      @include tablet-and-mobile {
        color: $color-gray-100;
      }
      font-size: 15px;

      padding-left: 30px;

      @include placeholder {
        color: $color-white-70;

        @include tablet-and-mobile {
          color: $color-gray-60;
        }
      }

      @include tablet-and-mobile {
        background: $color-gray-20;
        border-radius: 100px;
        padding: 0 52px;
        color: $color-gray-100;
      }

      @include mobile320{
        font-size: 14px;
      }
    }

    @include tablet-and-mobile {
      padding: 0;
      margin: 0;
    }
  }

  &__close {
    position: absolute;
    right: 0;
    @include align(false, true);

    width: 18px;
    height: 18px;

    @include tablet-and-mobile {
      width: 16px;
      height: 16px;
    }

    &:before, &:after {
      content: '';
      width: 100%;
      left: 0;
      right: 0;
      height: 1px;
      background: $color-white;
      position: absolute;

      @include tablet-and-mobile {
        background: $color-gray-60;
      }
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    @include tablet-and-mobile {
      right: 19px;
      display: none;
      &.visible {
        display: block;
      }
    }
  }

  &__dropdown {
    @include header-dropdown;
    width: 100%;
    left: 0;


    .header-search.active & {
      display: block;
    }

    @include tablet-and-mobile {
      left: -15px;
      right: -20px;
      width: auto;
      bottom: -100000px;
      z-index: 111111;
    }

    @include tablet-and-mobile {
      display: none;
      left: -20px;
      right: -20px;
      width: auto;

      &.visible {
        display: block;
      }
    }

    @include mobile{
      left: -15px;
      right: -15px;
    }

    @include tablet {
      height: calc(var(--vh, 1vh) * 100 - 183px);
    }
    @include mobile {
      height: calc(var(--vh, 1vh) * 100 - 62px);
    }
  }

  &__intro {
    padding: 23px 32px;

    @include mobile{
      padding: 23px 15px;
    }

    display: none;

    &.visible {
      display: block;
    }
  }

  &__section {
    margin-top: 29px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &__title {
    font-size: 18px;
    line-height: 150%;
    color: $color-gray-100;
    font-weight: bold;
  }


  &__reset {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.04em;

    color: $color-primary;

    &:hover {
      color: $color-primary-hover;
    }
  }

  &__list {

    &-item {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }

    &-action {
      font-size: 15px;
      line-height: 140%;
      color: $color-gray-100;
      letter-spacing: -0.04em;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__result {
    display: none;

    &.visible {
      display: block;
    }

    padding: 12px 0 32px;
  }

  &__results {

    &-item {
      display: block;
    }

    &-link {
      padding: 12px 33px;
      @include mobile{
        padding: 12px 15px;
      }
      display: block;

      &:hover {
        background: $color-gray-10;

        .header-search__results-title {
          color: $color-primary;

          mark {
            color: $color-primary;
          }
        }
      }
    }

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: $color-gray-80;
      letter-spacing: -0.04em;
      display: block;

      mark {
        color: $color-gray-100;
        background: none;
      }
    }

    &-category {
      display: block;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: $color-gray-60;
      margin-top: 6px;
    }
  }

  &__summary {
    margin-top: 35px;
    margin-left: 33px;

    @include tablet-and-mobile{
      margin-left: 15px;
      margin-top: 20px;
    }

    &-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.04em;

      color: $color-primary;

      &:hover {
        color: $color-primary-hover;
      }
    }
  }
}
