.header-dropdown {
  @include tablet-and-mobile {

  }

  &__inner {
    padding-left: 220px;
    @include tablet-and-mobile {
      padding-left: 0;
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    @include desktop {
      padding-bottom: 25px;
    }

    @include mobile {
      display: block;
    }
  }

  &__cell {
    margin-left: 100px;

    @include no-smallTablet {
      max-width: 400px;
    }

    @include mobile {
      margin-top: 50px;
      margin-left: 0;
      &:first-child {
        margin-top: 0;
      }
    }

    @include tablet {
      margin-left: 50px;
    }

    &:first-child {
      margin-left: 0;
    }

    &--full {
      @include desktop {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: $color-gray-100;
    letter-spacing: -0.04em;
    display: block;
    margin-bottom: 17px;

    @include mobile {
      font-size: 16px;
      line-height: 130%;
    }
  }

  &__nav {
    display: flex;

    @include mobile {
      display: block;
    }
  }

  &__list {
    margin-left: 40px;

    @include mobile {
      margin-top: 15px;
      margin-left: 0;
      &:first-child {
        margin-top: 0;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &-item {
      margin-top: 5px;

      @include mobile {
        margin-top: 15px;
      }

      &:first-child {
        margin-top: 0;
      }

      @include desktop {
        //min-width: 250px;
      }

      a {
        font-size: 17px;
        line-height: 150%;
        color: $color-gray-100;

        @include tablet-and-mobile {
          font-size: 15px;
          line-height: 140%;
        }

        &:hover {
          color: $color-primary;
        }
      }

      &--bold {
        margin-top: 17px;

        a {
          font-weight: bold;
          font-size: 18px;
          line-height: 150%;
          letter-spacing: -0.04em;

          @include tablet-and-mobile {
            font-size: 16px;
            line-height: 130%;
          }
        }
      }
    }
  }

  &__footer {
    margin-top: 55px;

    @include tablet-and-mobile {
      margin-top: 40px;
      padding-bottom: 20px;
    }
  }

  &__links {
    display: flex;
    align-items: center;

    @include mobile {
      display: block;
    }

    &-icon {
      width: 14px;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablet-and-mobile {
        margin-right: 11px;
      }
    }

    &-cell {
      height: 25px;
      display: flex;
      align-items: center;

      @include mobile {
        margin-top: 15px;
        height: 25px;
        display: block;
        &:first-child {
          margin-top: 0;
        }
      }

      &:not(:first-child) {
        margin-left: 15px;
        padding-left: 15px;
        position: relative;
        display: block;

        @include mobile {
          margin-left: 0;
          padding-left: 0;
        }

        &:before {
          content: '';
          position: absolute;
          background: $color-gray-40;
          width: 1px;
          left: 0;
          top: 0;
          bottom: 0;

          @include mobile {
            display: none;
          }
        }
      }

      a {
        display: flex;
        white-space: nowrap;
        align-items: center;
        height: 100%;
        color: $color-gray-100;
        font-size: 12px;

        @include tablet-and-mobile {
          font-size: 14px;
          letter-spacing: -0.04em;
          display: inline-flex;
          width: 100%;
        }

        &:hover {
          color: $color-primary;
        }
      }
    }

    &-icon {
      margin-right: 8px;

      @include tablet-and-mobile {
        margin-right: 11px;
      }
    }
  }
}


