<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title section__title--small">Кроме того вы получите</h2>
    </header>
    <div class="section__content">
      <div class="row-three row-three--mobile-column">
        <div class="row-three__inner">
          <div class="row-three__cell">
            {{>widgets/base-card small=true
                    img="business/product/feature_01"
                    ext="png"
                    title="Бесплатное online обслуживание"
                    text="системы «Интернет-банк» или «Клиент-банк»  на выбор"
                    label="Узнать больше"
                    outlined=true
            }}
          </div>
          <div class="row-three__cell">
            {{>widgets/base-card small=true
                    img="business/product/feature_02"
                    ext="png"
                    title="2 корпоративные карты бесплатно"
                    text="бесплатный выпуск и обслуживание двух карт Visa Business"
                    label="Узнать больше"
                    outlined=true
            }}
          </div>
          <div class="row-three__cell">
            {{>widgets/base-card small=true
                    img="business/product/feature_03"
                    ext="png"
                    title="Бесплатные терминалы"
                    text='при подключении тарифного плана мобильного эквайринга "mPOS Pro"'
                    label="Узнать больше"
                    outlined=true
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="js-carousel-slider" data-slides-count="3">
      <header class="section__header">
        <h2 class="section__title section__title--small">Кроме того вы получите</h2>
        <div class="section__header-right">
          {{> components/slider-nav small=true}}
        </div>
      </header>
      <div class="section__content">
        <div class="carousel-slider carousel-slider--3">
          <div class="swiper-container carousel-slider__inner js-carousel-slider__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide carousel-slider__slide">
                {{>widgets/base-card small=true
                        img="business/product/feature_01"
                        ext="png"
                        title="Бесплатное online обслуживание"
                        text="системы «Интернет-банк» или «Клиент-банк»  на выбор"
                        label="Узнать больше"
                        outlined=true
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{>widgets/base-card small=true
                        img="business/product/feature_02"
                        ext="png"
                        title="2 корпоративные карты бесплатно"
                        text="бесплатный выпуск и обслуживание двух карт Visa Business"
                        label="Узнать больше"
                        outlined=true
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{>widgets/base-card small=true
                        img="business/product/feature_03"
                        ext="png"
                        title="Бесплатные терминалы"
                        text='при подключении тарифного плана мобильного эквайринга "mPOS Pro"'
                        label="Узнать больше"
                        outlined=true
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{>widgets/base-card small=true
                        img="business/product/feature_03"
                        ext="png"
                        title="Бесплатные терминалы"
                        text='при подключении тарифного плана мобильного эквайринга "mPOS Pro"'
                        label="Узнать больше"
                        outlined=true
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
