<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title section__title--small">Вам также может быть интересно</h2>
    </header>
    <div class="section__content">
      <div class="row-two row-two--mobile-column">
        <div class="row-two__inner">
          <div class="row-two__cell">
            {{> widgets/ibank-card dark=true big=true bg-color="linear-gradient(93.34deg, #104BA6 -0.4%, #316ECC 99.88%);"
                    title="Овердрафт"
                    text="К текущему (расчетному) счету, оформление за 1 день"
                    image="business/product/banner_01"
                    image-mobile="business/product/banner_01-mobile"
                    button-label=false
                    link-label="Подробнее"
            }}
          </div>
          <div class="row-two__cell">
            {{> widgets/ibank-card dark=true big=true bg-color="linear-gradient(144.15deg, #1C1D2C 19.48%, #141C41 79.03%);"
                    title='ЗП проект "Симпл"'
                    text="Зарплатный проект Пакет услуг «Simple»"
                    image="business/product/banner_02"
                    image-mobile="business/product/banner_02-mobile"
                    button-label=false
                    link-label="Подробнее"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
