<div class="header-dropdown__footer">
  <ul class="header-dropdown__links">
    <li class="header-dropdown__links-cell">
      <a href="#">
        <div class="header-dropdown__links-icon">
          {{>ui/svg name="header--sub-questions"}}
        </div>
        Вопросы и ответы
      </a>
    </li>
    <li class="header-dropdown__links-cell">
      <a href="#">
        <div class="header-dropdown__links-icon">
          {{>ui/svg name="header--sub-usd"}}
        </div>
        Курсы валют
      </a>
    </li>
    <li class="header-dropdown__links-cell">
      <a href="#">
        <div class="header-dropdown__links-icon">
          {{>ui/svg name="header--sub-docs"}}
        </div>
        Тарифы и документы
      </a>
    </li>
    <li class="header-dropdown__links-cell">
      <a href="#">
        <div class="header-dropdown__links-icon">
          {{>ui/svg name="ui--chat"}}
        </div>
        Обратная связь
      </a>
    </li>
  </ul>
</div>
