<section class="section">
  <div class="container">
    <div class="js-carousel-slider">
      <header class="section__header">
        <span class="section__title">Как работает ApplePay</span>

        <div class="section__header-right">
          {{> components/slider-nav small=true}}
        </div>
      </header>

      <div class="section__content">
        <div class="carousel-slider">
          <div class="swiper-container carousel-slider__inner js-carousel-slider__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_01" title="Touch ID" text="Поднесите iPhone к терминалу и подтвердите оплату, приложив палец к Touch ID."}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_02" title="Face ID" text="Кликните дважды по боковой кнопке, взгляните на экран и поднесите iPhone к терминалу"}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_03" title="Apple Watch" text="Дважды нажмите боковую кнопку и поверните Apple Watch дисплеем к терминалу."}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_04" title="Онлайн" text="На MacBook Air и MacBook Pro можно расплатиться одним касанем — просто поднесите палец к Touch ID."}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_01" title="Touch ID" text="Поднесите iPhone к терминалу и подтвердите оплату, приложив палец к Touch ID."}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_02" title="Face ID" text="Кликните дважды по боковой кнопке, взгляните на экран и поднесите iPhone к терминалу"}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_03" title="Apple Watch" text="Дважды нажмите боковую кнопку и поверните Apple Watch дисплеем к терминалу."}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_04" title="Онлайн" text="На MacBook Air и MacBook Pro можно расплатиться одним касанем — просто поднесите палец к Touch ID."}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="js-carousel-slider">
      <header class="section__header">
        <span class="section__title">Как работает ApplePay</span>

        <div class="section__header-right">
          {{> components/slider-nav small=true}}
        </div>
      </header>

      <div class="section__content">
        <div class="carousel-slider">
          <div class="swiper-container carousel-slider__inner js-carousel-slider__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_01" title="Touch ID" text="Поднесите iPhone к терминалу и подтвердите оплату, приложив палец к Touch ID."}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_02" title="Face ID" text="Кликните дважды по боковой кнопке, взгляните на экран и поднесите iPhone к терминалу"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="js-carousel-slider">
      <header class="section__header">
        <span class="section__title">Как работает ApplePay</span>

        <div class="section__header-right">
          {{> components/slider-nav small=true}}
        </div>
      </header>

      <div class="section__content">
        <div class="carousel-slider">
          <div class="swiper-container carousel-slider__inner js-carousel-slider__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_01" title="Touch ID" text="Поднесите iPhone к терминалу и подтвердите оплату, приложив палец к Touch ID."}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_02" title="Face ID" text="Кликните дважды по боковой кнопке, взгляните на экран и поднесите iPhone к терминалу"}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_01" title="Touch ID" text="Поднесите iPhone к терминалу и подтвердите оплату, приложив палец к Touch ID."}}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/product-card video=true img="services/apple-pay/about_02" title="Face ID" text="Кликните дважды по боковой кнопке, взгляните на экран и поднесите iPhone к терминалу"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
