<section class="section section--background">
  <div class="section__bg">
    {{> components/image img="services/apple-pay/banner" ext="jpg"}}
  </div>
  <div class="container">
    <div class="applepay-banner">
      <h2 class="section__title">Ра-а-аз. И оплата прошла!</h2>
      <p class="section__description">Apple Pay — это удобный и безопасный способ оплаты покупок в обычных магазинах и в
        интернете с помощью устройств Apple. Платите в любых местах, где есть терминалы бесконтактной оплаты, в
        онлайн-приложениях и на сайтах за несколько секунд.</p>
      <div class="applepay-banner__logos">
        {{> components/image img="services/apple-pay/banner_logo_01" ext="svg"}}
        {{> components/image img="services/apple-pay/banner_logo_02" ext="svg"}}
      </div>
    </div>
  </div>
</section>
