<section class="section">
  <div class="container">
    <h2 class="section__title">Apple Pay доступен если:</h2>
    <div class="service-advantages">
      <div class="service-advantages__row">
        <div class="service-advantages__cell">
          {{>widgets/offer-card
                  image="services/apple-pay/feature_01"
                  title="Ваше устройство совместимо"
                  text="Устройство, которое всегда под рукой: iPhone c функцией Face ID и Touch ID (кроме iPhone 5s), Apple Watch."
                  link="Полный список устройств"
          }}
        </div>
        <div class="service-advantages__cell">
          {{>widgets/offer-card
                  image="services/apple-pay/feature_02"
                  title="Правильные настройки"
                  text="Включенный Touch ID/ Face ID и авторизация в iCloud. Приложние Apple Wallet."
                  link="Установить Apple Wallet"
          }}
        </div>
        <div class="service-advantages__cell">
          {{>widgets/offer-card
                  image="services/apple-pay/feature_03"
                  title="У вас любая карта МТБанка"
                  text="Все карты банка поддерживают оплату с помощью Apple Pay, в том числе и карты Пакетов решений."
                  link="Оформить карту"
          }}
        </div>
      </div>
    </div>
  </div>
</section>
