<div class="map-preview map-preview--popup map-side__preview-popup js-preview-popup">
  <div class="map-preview__drawer" data-scroller>
    <button class="map-preview__close-button" data-close>
      <i class="_icon">{{> ui/svg name="app-download-close" }}</i>
    </button>
    <div class="map-preview__body" data-content></div>
  </div>
</div>
