<div class="map-preview map-side__preview-tab js-preview-tab">
  <div class="map-preview__drawer" data-scroller>
    <div class="map-preview__header">
      <button class="map-preview__close-button" data-close>
        <i class="_icon">{{> ui/svg name="action--arrow-left" }}</i>
        Назад
      </button>
    </div>
    <div class="map-preview__body" data-content></div>
  </div>
</div>
