<section class="section">
  <div class="container">
    <div class="cards-advantages">
      <ul class="cards-advantages__list">
        <li class="cards-advantages__item">
          {{>widgets/advantage-card
                  img=feature-1-icon
                  ext="png"
                  title=feature-1-title
                  text=feature-1-text
                  size="big"
          }}
        </li>
        <li class="cards-advantages__item">
          {{>widgets/advantage-card
                  img=feature-2-icon
                  ext="png"
                  title=feature-2-title
                  text=feature-2-text
                  size="big"
          }}
        </li>
        <li class="cards-advantages__item">
          {{>widgets/advantage-card
                  img=feature-3-icon
                  ext="png"
                  title=feature-3-title
                  text=feature-3-text
                  size="big"
          }}
        </li>
        <li class="cards-advantages__item">
          {{>widgets/advantage-card
                  img=feature-4-icon
                  ext="png"
                  title=feature-4-title
                  text=feature-4-text
                  size="big"
          }}
        </li>
      </ul>
    </div>
  </div>
</section>
