<section class="section">
  <div class="container">
    {{> banners/partners
            title=title
            text=text
            feature-1-value=feature-1-value
            feature-1-label=feature-1-label
            feature-2-value=feature-2-value
            feature-2-label=feature-2-label
            button-label=button-label
    }}
  </div>
</section>
