<div class="form-checkbox form-checkbox--extended {{#if error}}_error{{/if}}">
  <label class="form-checkbox__label" for="{{id}}">
    <input type="checkbox" class="form-checkbox__input" id="{{id}}">
    <span class="form-checkbox__icon"><i class="form-checkbox__icon-container"></i></span>
    <div class="form-checkbox__inner">
      <span class="form-checkbox__title">{{title}}</span>
      <p class="form-checkbox__text">{{text}}</p>
    </div>
  </label>
</div>
