<div class="tabs-radio">
  <label class="tabs-radio__label">
    <input name="{{name}}" value="1" type="radio" checked>
    <span class="tabs-radio__text">{{option-1}}</span>
  </label>
  <label class="tabs-radio__label">
    <input name="{{name}}" value="2" type="radio">
    <span class="tabs-radio__text">{{option-2}}</span>
  </label>
</div>
