<section class="section">
  <div class="container-770">
    {{>blocks/common/page-breadcrumbs
            label="Назад к новостям банка"
            icon="action--arrow-left"
            href="about--press.html"
    }}

    <h1 class="page-title">H1 Время ДЛЯ СЕБЯ — МТБанк запустил бесплатную карту для пенсионеров</h1>

    <div class="static">
      <h2>H2 Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие.</h2>

      <p>Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие. Балуйте себя приятными
        покупками, наслаждайтесь культурными мероприятиями, открывайте мир заново, а новая карта для получателей пенсий
        и пособий <a href="#">«ДЛЯ СЕБЯ»</a> от МТБанка позаботится, чтобы все ваши расчеты были удобными,
        безопасными и выгодными:</p>

      <blockquote>
        <p>«Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие.Настало время
          прислушаться
          к своим истинным желаниям и пожить в свое удовольствие. Балуйте себя приятными покупками, наслаждайтесь
          культурными мероприятиями»</p>
        <footer>Иванов Олег Валерьянович</footer>
      </blockquote>

      <figure>
        {{>components/image
                img="internal/about-informational/01"
                img-mobile="internal/about-informational/01"
                ext="jpg"
        }}
        <figcaption>Подпись под фото</figcaption>
      </figure>

      <h3>H3 Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие.</h3>
      <p>Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие. Балуйте себя приятными
        покупками, наслаждайтесь культурными мероприятиями, открывайте мир заново, а новая карта для получателей
        пенсий
        и пособий
        <a href="#">«ДЛЯ СЕБЯ»</a> от МТБанка позаботится, чтобы все ваши расчеты были удобными, безопасными и
        выгодными:</p>

      <div class="content-table">
        <div class="content-table__container">
          <table>
            <thead>
            <tr>
              <th>Имя</th>
              <th>E–mail</th>
              <th>Комментарий</th>
            </tr>
            </thead>
            <tbody>
            {{#times 6}}
              <tr>
                <td>Александр</td>
                <td>admin@gmail.com</td>
                <td>Всем привет, это таблица!</td>
              </tr>
            {{/times}}
            </tbody>
          </table>
        </div>
      </div>

      <h4>H4 Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие.</h4>
      <p>Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие. Балуйте себя приятными
        покупками, наслаждайтесь культурными мероприятиями, открывайте мир заново, а новая карта для получателей пенсий
        и пособий
        <a href="#">«ДЛЯ СЕБЯ»</a> от МТБанка позаботится, чтобы все ваши расчеты были удобными, безопасными и
        выгодными:</p>

      <div class="content-note">
        <b>Важно:</b>
        <p>Рассчитываться картой Халва вне сети партнеров можно только за счет собственных средств. За покупки,
          оплаченные собственными средствами, вы получаете Мани-бэк .</p>
      </div>

      {{>blocks/common/gallery-slider gallery-content=internal.about-informational.slider}}

      <h5>H5 Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие.</h5>

      <p>Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие. Балуйте себя приятными
        покупками, наслаждайтесь культурными мероприятиями, открывайте мир заново, а новая карта для получателей пенсий
        и пособий
        <a href="#">«ДЛЯ СЕБЯ»</a> от МТБанка позаботится, чтобы все ваши расчеты были удобными, безопасными и
        выгодными:</p>

      <ol>
        <li>Управление маркетинга</li>
        <li>Юридическое управление</li>
        <li>Юридическое управление</li>
      </ol>

      <p>Настало время прислушаться к своим истинным желаниям и пожить в свое удовольствие. Балуйте себя приятными
        покупками, наслаждайтесь культурными мероприятиями, открывайте мир заново, а новая карта для получателей пенсий
        и пособий
        <a href="#">«ДЛЯ СЕБЯ»</a> от МТБанка позаботится, чтобы все ваши расчеты были удобными, безопасными и
        выгодными:</p>

      <ul>
        <li>Юридическое управление</li>
        <li>Юридическое управление</li>
        <li>Юридическое управление</li>
      </ul>

    </div>
  </div>
</section>
