<section class="section">
  <div class="container container-880">
    <h2 class="section__title">Документы</h2>
    <div class="deposit-documents">
      {{#>blocks/common/accordion-item title="Публичные оферты"}}
        <ul class="files-list">
          <li class="files-list__item">
            {{>components/file-download color="red"
                    label="Публичная оферта на заключение договора срочного отзывного банковского вклада (депозита) физического лица в белорусских рублях «МТБелки online»"
                    small="Doc, 753 KB" file-icon="files--pdf"}}
          </li>
          <li class="files-list__item">
            {{>components/file-download color="red"
                    label='Публичная оферта на заключение договора срочного безотзывного банковского вклада (депозита) физического лица в белорусских рублях «МТБелки online» с возможностью пополнения и без возможности пролонгации, утвержденная протоколом заседания Правления ЗАО "МТ'
                    small="Doc, 753 KB" file-icon="files--pdf"}}
          </li>
        </ul>
      {{/blocks/common/accordion-item}}

      {{#>blocks/common/accordion-item title="Документы"}}
        <ul class="files-list">
          <li class="files-list__item">
            {{>components/file-download color="red"
                    label="Публичная оферта на заключение договора срочного отзывного банковского вклада (депозита) физического лица в белорусских рублях «МТБелки online»"
                    small="Doc, 753 KB" file-icon="files--pdf"}}
          </li>
          <li class="files-list__item">
            {{>components/file-download color="red"
                    label='Публичная оферта на заключение договора срочного безотзывного банковского вклада (депозита) физического лица в белорусских рублях «МТБелки online» с возможностью пополнения и без возможности пролонгации, утвержденная протоколом заседания Правления ЗАО "МТ'
                    small="Doc, 753 KB" file-icon="files--pdf"}}
          </li>
        </ul>
      {{/blocks/common/accordion-item}}

      {{#>blocks/common/accordion-item title="Архив публичных оферт"}}
        <ul class="files-list">
          <li class="files-list__item">
            {{>components/file-download color="red"
                    label="Публичная оферта на заключение договора срочного отзывного банковского вклада (депозита) физического лица в белорусских рублях «МТБелки online»"
                    small="Doc, 753 KB" file-icon="files--pdf"}}
          </li>
          <li class="files-list__item">
            {{>components/file-download color="red"
                    label='Публичная оферта на заключение договора срочного безотзывного банковского вклада (депозита) физического лица в белорусских рублях «МТБелки online» с возможностью пополнения и без возможности пролонгации, утвержденная протоколом заседания Правления ЗАО "МТ'
                    small="Doc, 753 KB" file-icon="files--pdf"}}
          </li>
        </ul>
      {{/blocks/common/accordion-item}}
    </div>
  </div>
</section>
