<section class="section">
  <div class="container">
    <header class="section__header section__header--simple">
      <h2 class="section__title">Развитие бизнеса</h2>
      <span class="section__description">Бизнес должен развиваться</span>
    </header>
    <div class="section__content">
      <div class="row-two row-two--tablet-small">
        <div class="row-two__inner">
          <div class="row-two__cell">
            {{> widgets/product-banner
                    img="business/credits/growth_01"
                    img-mobile="business/credits/growth_01-mobile"
                    title="Кредит в текущую деятельность"
                    item-1="Для пополнения оборотных активов"
                    item-2="До 48 месяцев"
                    item-3="Индивидуальный подход"
                    button-label="Подробнее"
            }}
          </div>
          <div class="row-two__cell">
            {{> widgets/product-banner
                    img="business/credits/growth_02"
                    img-mobile="business/credits/growth_02-mobile"
                    title="Инвестиционный кредит"
                    item-1="Финансирование до 100% проекта"
                    item-2="Индивидуальный график погашения"
                    item-3="Гибкий подход к залогу"
                    button-label="Подробнее"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
