<section class="section section--gray">
  <div class="container">
    <header class="section__header section__header--simple">
      <h2 class="section__title">Быстрые кредиты</h2>
      <span class="section__description">МТБанк не бросит вас в сложное время.</span>
    </header>
    <div class="section__content">
      <div class="row-two">
        <div class="row-two__inner">
          <div class="row-two__cell">
            {{> widgets/background-card img="business/credits/fast_01" img-mobile="business/credits/fast_01-mobile" title="Овердрафт"
                    feature-1="До 300 000 BYN"
                    feature-2="На срок до 12 месяцев"
                    feature-3="Без залога"
                    button-label="Подробнее" button-dark=true
            }}
          </div>
          <div class="row-two__cell">
            {{> widgets/background-card img="business/credits/fast_02" img-mobile="business/credits/fast_02-mobile" title="Бизнес-экспресс"
                    feature-1="До 25 000 USD в экв."
                    feature-2="Рассмотрение до 3-х дней"
                    feature-3="Простой пакет документов"
                    button-label="Подробнее" button-dark=true
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
