<section class="section">
  <div class="container">
    <header class="section__header section__header--simple">
      <h2 class="section__title">Молоток</h2>
      <span class="section__description">Финансирование отсрочки платежа при приобретении товара Кредитополучателем у Партнера МТБанка.</span>
    </header>
    <div class="section__content">
      <div class="row-two row-two--tablet-small">
        <div class="row-two__inner">
          <div class="row-two__cell">
            {{> widgets/product-banner
                    img="business/credits/molotok_01"
                    img-mobile="business/credits/molotok_01-mobile"
                    title="Партнерская программа для бизнеса"
                    item-1="Отсрочка или рассрочка платежа для ваших клиентов"
                    item-2="Простой пакет документов для рассмотрения партнера"
                    item-3="Снижения риска неоплаты дебиторской задолженности"
                    button-label="Подробнее"
            }}
          </div>
          <div class="row-two__cell">
            {{> widgets/product-banner
                    img="business/credits/molotok_02"
                    img-mobile="business/credits/molotok_02-mobile"
                    title="Кредитная программа для бизнеса"
                    item-1="Без залога"
                    item-2="Рассмотрение до 2 рабочих дней"
                    item-3="Минимальный пакет документов"
                    button-label="Подробнее"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
