<section class="section">
  <div class="container">
    <div class="js-carousel-slider">
      <header class="section__header">
        <div class="section__header-left section__header-left--block">
          <span class="section__title">Банковская гарантия</span>
        </div>
        <div class="section__header-right">
          {{> components/slider-nav small=true}}
        </div>
      </header>

      <div class="section__content">
        <div class="carousel-slider">
          <div class="swiper-container carousel-slider__inner js-carousel-slider__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide carousel-slider__slide">
                {{>widgets/base-card small=true mobile-block=true outlined=true no-border=true button-no-small=true
                        img="business/credits/warranty_01" ext="png"
                        title="Гарантия БАМАП"
                        text="Обеспечивает обязательства перед Ассоциацией международных автомобильных перевозчиков для получения допуска к процедуре МДП."
                        button-label="Подробнее"
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{>widgets/base-card small=true mobile-block=true outlined=true no-border=true button-no-small=true
                        img="business/credits/warranty_02" ext="png"
                        title="Гарантия авиаперевозчикам"
                        text="Обеспечивает условие по реализации клиентом грузовых и авиаперевозок."
                        button-label="Подробнее"
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{>widgets/base-card small=true mobile-block=true outlined=true no-border=true button-no-small=true
                        img="business/credits/warranty_03" ext="png"
                        title="Тендерная гарантия"
                        text="Обеспечивает исполнение обязательств  клиентом, который подал заявку на участие в конкурсе (тендере)."
                        button-label="Подробнее"
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{>widgets/base-card  small=true mobile-block=true outlined=true no-border=true button-no-small=true
                        img="business/credits/warranty_04" ext="png"
                        title="Платежная гарантия"
                        text="Обеспечивает исполнение обязательств платежа по контракту, обязательств по возврату авансового платежа."
                        button-label="Подробнее"
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{>widgets/base-card small=true mobile-block=true outlined=true no-border=true button-no-small=true
                        img="business/credits/warranty_03" ext="png"
                        title="Тендерная гарантия"
                        text="Обеспечивает исполнение обязательств  клиентом, который подал заявку на участие в конкурсе (тендере)."
                        button-label="Подробнее"
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{>widgets/base-card  small=true mobile-block=true outlined=true no-border=true button-no-small=true
                        img="business/credits/warranty_04" ext="png"
                        title="Платежная гарантия"
                        text="Обеспечивает исполнение обязательств платежа по контракту, обязательств по возврату авансового платежа."
                        button-label="Подробнее"
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
