<section class="section">
  <div class="container">
    <div class="row-two row-two--mobile-column">
      <div class="row-two__inner">
        <div class="row-two__cell">
          <h3 class="section__title section__title--small">Спец. программы для ИП</h3>
          <span class="section__description">Финансовая экспресс-помощь для ИП</span>
          <div class="row-two__cell-content">
            {{> widgets/product-banner full-width=true
                    img="business/credits/banner_01"
                    img-mobile="business/credits/banner_01-mobile"
                    title="Кредит ИП-Special"
                    item-1="Ответ за 2 часа"
                    item-2="до 20 000 BYN"
                    item-3="Без обеспечения"
                    button-label="Подробнее"
            }}
          </div>
        </div>
        <div class="row-two__cell">
          <h3 class="section__title section__title--small">Спец. программы для учредителей</h3>
          <span class="section__description">Помощь не только для бизнеса</span>
          <div class="row-two__cell-content">
            {{> widgets/product-banner full-width=true
                    img="business/credits/banner_02"
                    img-mobile="business/credits/banner_02-mobile"
                    title="На карту учредителю"
                    item-1="Финансирование в BYN"
                    item-2="Рассмотрение до 5 дней"
                    item-3="Возможно без залога"
                    button-label="Подробнее"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
