<ul class="map-side__object-list js-objects" data-category="atms">
  {{#each map.atms.objects }}
    <li class="map-side__object-item">
      {{> widgets/map/sidebar/object
        title=../map.atms.name
        location1=../map.atms.location1
        location2=../map.atms.location2
        working-hours=../map.atms.working-hours
        opening-time=this.opening-time
        marker-icon=../map.atms.marker-icon
        marker-color=this.marker-color
        currency=../map.atms.currency
        active=../activeObject
        type=../map.atms.type
        id=@index
      }}
    </li>
  {{/each}}
</ul>
