<ul class="map-side__object-list js-objects" data-category="offices">
  {{#each map.offices.objects }}
    <li class="map-side__object-item">
      {{> widgets/map/sidebar/object
        title=../map.offices.name
        location1=../map.offices.location1
        location2=../map.offices.location2
        working-hours=../map.offices.working-hours
        opening-time=this.opening-time
        marker-icon=../map.offices.marker-icon
        marker-color=this.marker-color
        currency=../map.offices.currency
        active=../activeObject
        type=../map.offices.type
        id=@index
      }}
    </li>
  {{/each}}
</ul>
