<div class="faq-item">
  <div class="faq-item__container static">
    <p>
      Все карты МТБанка доступны для расчетов за границей. Обратите внимание на то, что по картам присутствуют
      авторизационные лимиты на сумму и количество операций, проверить и бесплатно поменять которые можно в
      интернет-банке на вкладке "Информация - Наименование карты".
    </p>
    <p>
      При совершении операций в валюте, отличной от валюты карточного счета, будет происходить конвертация на момент
      совершения платежа предварительно, и окончательно в момент обратки операции по счету по действующему на эту дату
      курсу. С подробным механизмом конвертации можно ознакомиться по ссылке.
    </p>
    <p>
      Обратите внимание: для того, чтобы ПИН-код карты действовал за границей, необходимо после ее получения провести
      хотя бы одну операцию с использованием ПИН-кода на территории Республики Беларусь.
    </p>
  </div>
</div>
