<section class="section faq">
  <div class="container-880">
    <!--Section 1-->
    <div class="faq__section">
      <div class="faq__header">
        <span class="faq__title">Стоимость обслуживания</span>
      </div>
      <div class="faq__content">
        <ul class="faq__list js-accordion">
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="Как можно закрыть карту?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="Как можно пополнить карту без комиссии?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="Можно ли рассчитываться картами МТБанка за рубежом?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="Как можно проверить баланс?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="В каких банкоматах можно снять средства с моей карты в белорусских рублях?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="Что делать, если истекает срок действия карты Visa?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="Как можно закрыть карту?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
        </ul>
      </div>
    </div>
    <!--Section 2-->
    <div class="faq__section">
      <div class="faq__header">
        <span class="faq__title">Пополнение карты</span>
      </div>
      <div class="faq__content">
        <ul class="faq__list js-accordion">
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="Как можно пополнить карту без комиссии?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="Можно ли рассчитываться картами МТБанка за рубежом?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="Как можно проверить баланс?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="В каких банкоматах можно снять средства с моей карты в белорусских рублях?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
          <li class="faq__item">
            {{#>blocks/common/accordion-item
                title="Что делать, если истекает срок действия карты Visa?"
            }}
              {{> blocks/products/payokay/components/faq-item}}
            {{/blocks/common/accordion-item}}
          </li>
        </ul>
      </div>
    </div>
    <!--Button-->
    <div class="faq__cta">
      {{>ui/btn label="Показать больше"}}
    </div>
  </div>
</section>
