<section class="section sidebar-section">
  <div class="container sidebar-section__container">
    <div class="sidebar-section__sidebar">
      {{#>blocks/common/sidebar-nav}}
        <ul class="sidebar-nav__list">
          <li><a href="#sidebar-1">Мани-бэк за покупки</a></li>
          <li><a href="#sidebar-2">Мани-бэк от Booking.com</a></li>
          <li><a href="#sidebar-3">Специальный курс</a></li>
          <li><a href="#sidebar-4">Пополнение онлайн</a></li>
          <li><a href="#sidebar-5">Страховка онлайн</a></li>
          <li><a href="#sidebar-6">Tax Free</a></li>
        </ul>
      {{/blocks/common/sidebar-nav}}
    </div>
    <div class="sidebar-section__content">
      {{#>blocks/common/sidebar-block id="sidebar-1" title="Мани-бэк за покупки"}}
        <ul class="list-regular">
          <li>
            <b>Мани-бэк 1%</b>
            Мани-бэк 1% начисляется за все покупки (кроме продуктовых магазинов - мани-бэк 0,5%
            по МСС-коду 5411) в торговой сети или онлайн-магазинах как в Беларуси, так и за пределами страны.
          </li>
          <li>
            <b>Мани-бэк 2%</b>
            При покупке билетов на mtb.tickets.by и онлайн-магазинах как в Беларуси, так и за пределами страны.
          </li>
          <li>
            <b>Мани-бэк 5%</b>
            Возврат деньгами 5% при оплате проживания, забронированного на Booking.com 5% от суммы Tax Free при возврате
            на карту – специальный бонус от МТБанка.
          </li>
        </ul>
        <p class="text-regular">
          Мани-бэк возвращается не позднее 5-го рабочего дня месяца, следующего за расчетным, и автоматически
          зачисляется на карту. Никаких дополнительных действий не требуется. <br>
          Размер начисленного мани-бэк вы всегда сможете увидеть в интернет-банке, а также в выписке по карте, которая
          приходит на email по итогам каждого месяца. В выписке будет отражен размер мани-бэк за предыдущий месяц,
          например, в выписке за январь вы сможете увидеть размер начисленного мани-бэк за декабрь.<br>
          Максимальная сумма мани-бэк (с учетом бонуса по Tax Free) не более 200 BYN в месяц.<br>
          С 1 января 2020 года Мани-бэк зачисляется на счет только в случае, если его суммарная выплата превысила 2 BYN
          в месяц.<br>
          Ознакомиться с подробными условиями пользования картой можно в Правилах Программы лояльности «PayOkay»
        </p>
        <p class="text-note">
          *Начисление мани-бэк не распространяется: на операции, проводимые через платежный сервис ООО «ВЕБ ПЭЙ»<br>
          По операциям, проводимым в устройствах самообслуживания, которым присвоен код MCC 6010, 6011, 6012 или 4900
          (таких как банкоматы, инфокиоски и т.п.)<br>
          На операции безналичной оплаты в казино (код MCC 7995)<br>
          На операции безналичной оплаты через СДБО «Интернет Банк»<br>
          На операции безналичной оплаты в устройствах банков (код МСС 9402), установленных в РУП “Белпочта”<br>
          По операциям безналичной оплаты и переводов через сервисы, которым присвоен код MCC 4814, 8999, 6051 или
          6211<br>
          По операциям перевода между картами с использованием сервиса «Denegram» либо аналогичных сервисов,
          предоставляемых другими банками.<br>
          По операциям оплаты товаров (работ, услуг), по которым произошла полная отмена суммы операции (технически
          операция отмены проведена ОТС как сторнирование суммы платежа).
        </p>
      {{/blocks/common/sidebar-block}}
      {{#>blocks/common/sidebar-block id="sidebar-2" title="Мани-бэк за расчеты на Booking.com"}}
        <p class="text-regular">
          Booking.com — самый популярный в мире сервис онлайн-бронирования отелей. Где бы вы ни находились, всегда можно
          заказать отель или гостиницу и быть уверенным в том, что заселение пройдет быстро и без лишних вопросов. <br>
          Для того чтобы получить мани-бэк за оплату проживания, забронированного на Booking.com, необходимо:
        </p>

        <ul class="list-regular">
          <li>
            Перейти на специальную страницу (добавьте ее в закладки браузера, чтобы она
            всегда была под рукой);
          </li>
          <li>
            Убедиться в том, что вверху страницы есть логотип МТБанка - это является гарантией
            того, что бронь засчитается.
          </li>
          <li>
            Забронировать номер или апартаменты. Для подтверждения бронирования
            используйте вашу карту PayOkay.
          </li>
          <li>
            Чтобы получить мани-бэк 5%, оплату проживания необходимо производить картой
            PayOkay, данные которой указывались при бронировании.
          </li>
        </ul>

        <p class="text-regular">
          Важно: Мани-бэк начисляется только при оплате картой PayOkay. <br>
          Начисление мани-бэка 5% осуществляется в несколько этапов: <br>
          1) стандартный мани-бэк до 1% возвращается не позднее 5-го рабочего дня месяца, следующего за расчетным; <br>
          2) оставшийся мани-бэк 4% начисляются в течение 2-х месяцев, после выселения из отеля. <br>
          Важно: При бронировании необходимо указывать свои данные - фамилию и имя на латинице, электронный адрес, номер
          телефона. В случае не предоставления этих данных, повышенный мани-бэк начислен не будут.
        </p>
      {{/blocks/common/sidebar-block}}
      {{#>blocks/common/sidebar-block id="sidebar-3" title="Специальный курс"}}
        <p class="text-regular">
          Карта PayOkay поддерживает бесконтактные платежи PayPass. Это инновационная технология международной платежной
          системы MasterCard, которая предоставляет быстрый, безопасный и удобный способ оплаты покупок и услуг. Карту
          PayOkay не требуется передавать кассиру – достаточно одного касания к терминалу на кассе. Так вы сможете
          сэкономить еще больше времени при оплате товаров.
        </p>
      {{/blocks/common/sidebar-block}}
      {{#>blocks/common/sidebar-block id="sidebar-4" title="Пополнение онлайн"}}
        <p class="text-regular">
          Карта PayOkay поддерживает бесконтактные платежи PayPass. Это инновационная технология международной платежной
          системы MasterCard, которая предоставляет быстрый, безопасный и удобный способ оплаты покупок и услуг. Карту
          PayOkay не требуется передавать кассиру – достаточно одного касания к терминалу на кассе. Так вы сможете
          сэкономить еще больше времени при оплате товаров.
        </p>
      {{/blocks/common/sidebar-block}}
      {{#>blocks/common/sidebar-block id="sidebar-5" title="Страховка онлайн"}}
        <p class="text-regular">
          Карта PayOkay поддерживает бесконтактные платежи PayPass. Это инновационная технология международной платежной
          системы MasterCard, которая предоставляет быстрый, безопасный и удобный способ оплаты покупок и услуг. Карту
          PayOkay не требуется передавать кассиру – достаточно одного касания к терминалу на кассе. Так вы сможете
          сэкономить еще больше времени при оплате товаров.
        </p>
      {{/blocks/common/sidebar-block}}
      {{#>blocks/common/sidebar-block id="sidebar-6" title="Tax Free"}}
        <p class="text-regular">
          Карта PayOkay поддерживает бесконтактные платежи PayPass. Это инновационная технология международной платежной
          системы MasterCard, которая предоставляет быстрый, безопасный и удобный способ оплаты покупок и услуг. Карту
          PayOkay не требуется передавать кассиру – достаточно одного касания к терминалу на кассе. Так вы сможете
          сэкономить еще больше времени при оплате товаров.
        </p>
      {{/blocks/common/sidebar-block}}
    </div>
  </div>
</section>
