<section class="leadership-hero">
  <div class="leadership-hero__bg">
    {{>components/image img="internal/about-leadership/bg" ext="png"}}
  </div>
  <div class="leadership-hero__image">
    {{>components/image
        img="internal/about-leadership/hero"
        img-mobile="internal/about-leadership/hero-mobile"
        ext="png"
        ext-mobile="jpg"
    }}
  </div>
</section>
