.beginners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 40px;
  @include mobile {
    margin-top: 30px;
  }

  padding-bottom: 40px;
  @include mobile{
    padding-bottom: 10px;
  }

  &__item {
    flex: 0 1 330px;

    @include media(mobile, up) {
      margin-left: 45px;

      &:first-child {
        margin-left: 0;
      }
    }

    @include media(mobile) {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
