.career-vacancies {
  margin-top: 25px;
  @include mobile{
    margin-top: 15px;
  }
}

.vacancies-list {
  margin-top: 78px;

  @include desktop {
    margin-left: -20px;
  }

  @include media(mobile) {
    margin-top: 60px;
  }
}
