<section class="section section--gray">
  <div class="container">
    <div class="insurance-params">
      <div class="insurance-params__image">
        {{> components/image img="insurance/single/params" ext="png"}}
      </div>
      <div class="insurance-params__content">
        <h2 class="section__title">Выгодные условия по страхованию</h2>

        <ul class="insurance-params__list insurance-params__list--row-3">
          <li class="insurance-params__item">
            <span class="insurance-params__label">Страховой взнос</span>
            <span class="insurance-params__value">Всего от 6,25 BYN в квартал.</span>
          </li>
          <li class="insurance-params__item">
            <span class="insurance-params__label">Деление страховой доли</span>
            <span class="insurance-params__value">75% - жилое помещение, 15% - домашнее имущество, гражданская ответственность - 10%.</span>
          </li>
          <li class="insurance-params__item">
            <span class="insurance-params__label">Cтраховой тариф</span>
            <span class="insurance-params__value">Всего 0,25% от стоимости имущества.</span>
          </li>
          <li class="insurance-params__item">
            <span class="insurance-params__label">Cтраховой срок</span>
            <span class="insurance-params__value">1 год.</span>
          </li>
          <li class="insurance-params__item">
            <span class="insurance-params__label">Сумма страховки</span>
            <span class="insurance-params__value">Максимальный размер выплат: 10 000 BYN, 14 000 BYN, от 24 000 до 168 000 BYN. </span>
          </li>
        </ul>

        <div class="insurance-params__button">
          {{> ui/btn color="primary" size="large" label="Заполнить онлайн заявку"}}
        </div>
      </div>
    </div>
  </div>
</section>
