<section class="section">
  <div class="container">
    <h2 class="section__title">МТБанк информирует</h2>
    <div class="insurance-facts">
      <div class="insurance-facts__row">
        <div class="insurance-facts__cell">
          {{> widgets/fact-card title="Заливы занимают первое место в статистике страховых случаев" text="До 80% обращений клиентов связаны именно с повреждениями имущества водой."}}
        </div>
        <div class="insurance-facts__cell">
          {{> widgets/fact-card title="В 2015 годы было 1300 пожаров" text="По данным МЧС в 2015 году в Беларуси произошло более 1300 пожаров."}}
        </div>
        <div class="insurance-facts__cell">
          {{> widgets/fact-card title="Более 40% преступлений—кражи" text="По данным МВД Беларуси более 40% преступлений составляют кражи."}}
        </div>
      </div>
    </div>
  </div>
</section>
