<section class="section">
  <div class="container">
    <h2 class="section__title">Простые условия</h2>
    <div class="insurance-conditions">
      <div class="insurance-conditions__cell">
        <div class="insurance-conditions__item">
          {{> widgets/need-step text="Опись имущества и предварительный осмотр жилья не требуется."}}
        </div>
      </div>
      <div class="insurance-conditions__cell">
        <div class="insurance-conditions__item">
          {{> widgets/need-step text="Можно застраховать квартиру по всей территории РБ."}}
        </div>
      </div>
      <div class="insurance-conditions__cell">
        <div class="insurance-conditions__item">
          {{> widgets/need-step text="Не обязательно быть собственником жилья."}}
        </div>
      </div>
    </div>
  </div>
</section>
