<div class="faq-item">
  <div class="faq-item__container static">
    <p>
      Иван Иванов пришел на работу в МТБанк в мае 2012 года, уже имея немалый опыт работы. Стартовая позиция звучала как
      «cпециалист 2-ой категории Департамента информационных технологий Отдела администрирования и мониторинга», однако
      изначально на Кирилла возлагались немалые надежды. . Что объяснимо: МТБанк– банк...
    </p>
    <ul>
      <li>Возможна покупка в кредит, а так же выгодный обмен на ваш автомобиль.</li>
      <li>При покупке в кредит гарантированная скидка.</li>
    </ul>
  </div>
</div>
