<div class="gallery-nav">
  <div class="gallery-nav__cell">
    <button class="gallery-nav__item gallery-nav__item--prev js-slider-prev"
            type="button" aria-label="Предыдущий сайд."></button>
  </div>
  <div class="gallery-nav__cell">
    <button class="gallery-nav__item gallery-nav__item--next js-slider-next"
            type="button" aria-label="Слудующий сайд."></button>
  </div>
</div>
