<div class="slider-navigation{{#if mode}} slider-navigation--{{mode}}{{/if}}">
  <div class="slider-navigation__item">
    <button class="slider-navigation__btn js-slider-nav__prev"
            type="button" aria-label="Предыдущий сайд.">
      {{>ui/svg name="action--left-arrow"}}
    </button>
  </div>
  <div class="slider-navigation__item">
    <button class="slider-navigation__btn js-slider-nav__next"
            type="button" aria-label="Слудующий сайд.">
      {{>ui/svg name="action--right-arrow"}}
    </button>
  </div>
</div>
