<section class="section section--center section--no-mb">
  <div class="container">
    <h1 class="section__title">Поиск по сайту</h1>
    <span class="section__description">Результатов поиска: 23</span>
  </div>
</section>
