<section class="section">
  <div class="container-770">
    <div class="search-filters">
      <div class="search-filters__query">
        {{> form/input value="Карта" placeholder="Например, карта"}}
      </div>
      <div class="search-filters__category">
        {{#> form/select label="Выберите раздел"}}
          <option value="0">Все разделы</option>
          <option value="1">Раздел 1</option>
          <option value="2">Раздел 2</option>
          <option value="3">Раздел 3</option>
          <option value="4">Раздел 4</option>
          <option value="5">Раздел 5</option>
          <option value="6">Раздел 6</option>
          <option value="7">Раздел 7</option>
          <option value="8">Раздел 8</option>
          <option value="9">Раздел 9</option>
          <option value="10">Раздел 10</option>
        {{/form/select}}
      </div>
    </div>
  </div>
</section>
