{{#>widgets/debit-card img="01" title="Автокарта" text="Автолюбителю"}}
  <ul>
    <li>Мани-бэк 10% в СТО наших партнеров</li>
    <li>Мани-бэк 2% за любые покупки</li>
    <li>Мани-бэк 5% на АЗС партнеров</li>
  </ul>
{{/widgets/debit-card}}
