{{#>widgets/debit-card img="03" title="Халва плюс" text="Бонусная карта"}}
  <ul>
    <li>До 10% баллами за покупки у партнеров</li>
    <li>До 1% баллами от любых покупок по карте</li>
    <li>Бесплатное пополнение</li>
  </ul>
{{/widgets/debit-card}}
