{{#>widgets/debit-card img="02" title="Имклива" text="Карта рассрочки"}}
  <ul>
    <li>Овердрафт под ставку 28,86%</li>
    <li>Лимит по овердрафту 5000 BYN</li>
    <li>Страховка в подарок</li>
  </ul>
{{/widgets/debit-card}}
