<section class="section">
  <div class="container-770">
    <div class="section__breadcrumbs">
      {{>blocks/common/page-breadcrumbs
              label="Назад к новостям банка"
              icon="action--arrow-left"
              href="about--press.html"
      }}
    </div>

    <div class="section__header section__header--simple">
      <h1 class="section__title section__title--big">Лучший курс для расчетов за границей по корпоративным картам!</h1>
      <time class="section__time" datetime="2019-02-05T12:01:51+00:00">12 апреля 2020</time>
    </div>

    <div class="news-single static">
      <h2>Как бизнесу обеспечить сотрудника средствами</h2>

      <p>Например, во время рабочей командировки, одновременно контролировать расходы и упростить отчетность? Ответ
        напрашивается сам собой – с помощью корпоративной банковской карты от МТБанка. Это удобный, простой и быстрый
        инструмент расчетов для любого бизнеса.</p>

      <p>Например, во время рабочей командировки, одновременно контролировать расходы и упростить отчетность? Ответ
        напрашивается сам собой – с помощью корпоративной банковской карты от МТБанка. Это удобный, простой и быстрый
        инструмент расчетов для любого бизнеса.</p>

      <p>С 13 апреля 2020 года МТБанк ко всем преимуществам корпоративных карт добавляет еще и лучший курс для
        безналичных расчетов за границей.</p>

      {{>blocks/common/gallery-slider gallery-content=internal.about-informational.slider}}

      <h3>Преимущества корпоративных карт:</h3>

      <ul>
        <li>Сокращение документооборота и увеличение эффективности работы бухгалтерии и кассы организации;</li>
        <li>Оптимизация и упрощение учета представительских и командировочных расходов;</li>
        <li>Экономия времени и сокращение операционных расходов на выдачу подотчетных сумм;</li>
        <li>Отсутствие необходимости покупки иностранной валюты для командировок за рубеж;</li>
      </ul>
    </div>
  </div>
</section>
