<section class="section">
  <div class="container">
    <div class="js-carousel-slider" data-slides-count="5" data-space-between="26" data-scroll-count="1">
      <header class="section__header">
        <h2 class="section__title">Как это работает?</h2>
        <div class="section__header-right">
          {{> components/slider-nav small=true dark=true}}
        </div>
      </header>
      <div class="section__content steps-row">
        <div class="carousel-slider carousel-slider--mobile-block steps-row__inner carousel-slider--5">
          <div class="swiper-container carousel-slider__inner js-carousel-slider__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_01" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Возникновение ошибки со стороны банка</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_02" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Обращение клиента с заявлением</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_03" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Фиксация обращения и его рассмотрение</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_04" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Уведомление клиента о принятом решении</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_05" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Скидка в следующем за принятием решения месяце</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="js-carousel-slider" data-slides-count="5" data-space-between="26" data-scroll-count="1">
      <header class="section__header">
        <h2 class="section__title">Как это работает?</h2>
        <div class="section__header-right">
          {{> components/slider-nav small=true dark=true}}
        </div>
      </header>
      <div class="section__content steps-row">
        <div class="carousel-slider carousel-slider--mobile-block steps-row__inner carousel-slider--5">
          <div class="swiper-container carousel-slider__inner js-carousel-slider__slider">
            <div class="swiper-wrapper ">
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_01" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Возникновение ошибки со стороны банка</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_02" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Обращение клиента с заявлением</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_03" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Фиксация обращения и его рассмотрение</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_04" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Уведомление клиента о принятом решении</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_05" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Скидка в следующем за принятием решения месяце</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_05" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Скидка в следующем за принятием решения месяце</span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide carousel-slider__slide">
                <div class="steps-row__cell">
                  <div class="steps-row__item">
                    <div class="steps-row__item-image">
                      {{> components/image img="business/quality/tab_05" ext="png"}}
                    </div>
                    <span class="steps-row__item-text">Скидка в следующем за принятием решения месяце</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
