<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Гарантийные случаи</h2>
    </header>
    <div class="section__content">
      <ul class="faq__list js-accordion">
        <li class="faq__item">
          {{#>blocks/common/accordion-item small=true title="Своевременные и качественные платежи"}}
            {{> blocks/business/quality/faq_item}}
          {{/blocks/common/accordion-item}}
        </li>
        <li class="faq__item">
          {{#>blocks/common/accordion-item small=true title="Гарантированное качество зарплатных проектов"}}
            {{> blocks/business/quality/faq_item}}
          {{/blocks/common/accordion-item}}
        </li>
        <li class="faq__item">
          {{#>blocks/common/accordion-item small=true title="Гарантированное качество кассового обслуживания"}}
            {{> blocks/business/quality/faq_item}}
          {{/blocks/common/accordion-item}}
        </li>
        <li class="faq__item">
          {{#>blocks/common/accordion-item small=true title="Гарантированное качество дистанционного обслуживания"}}
            {{> blocks/business/quality/faq_item}}
          {{/blocks/common/accordion-item}}
        </li>
        <li class="faq__item">
          {{#>blocks/common/accordion-item small=true title="Гарантированная скорость оформления кредитных сделок"}}
            {{> blocks/business/quality/faq_item}}
          {{/blocks/common/accordion-item}}
        </li>
        <li class="faq__item">
          {{#>blocks/common/accordion-item small=true title="Гарантированные своевременные перечисления"}}
            {{> blocks/business/quality/faq_item}}
          {{/blocks/common/accordion-item}}
        </li>
      </ul>
    </div>
  </div>
</section>
