<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Документы</h2>
    </header>
    <div class="section__content">
      <div class="documents-row">
        <div class="documents-row__cell">
          {{>components/file-download color="red"
                  label="Перечень Стандартов"
                  small="Doc, 753 KB" file-icon="files--pdf"}}
        </div>
        <div class="documents-row__cell">
          {{>components/file-download color="red"
                  label="Заявление (СДБО)"
                  small="Doc, 753 KB" file-icon="files--pdf"}}
        </div>
        <div class="documents-row__cell">
          {{>components/file-download color="red"
                  label="Заявление (бумажная форма)"
                  small="Doc, 753 KB" file-icon="files--pdf"}}
        </div>
      </div>
    </div>
  </div>
</section>
