<section class="section">
  <div class="container">
    <hr class="section__splitter"/>
    <header class="section__header">
      <h2 class="section__title section__title--small">Для предложений</h2>
    </header>
    <div class="section__content">
      <div class="row-two row-two--mobile-column">
        <div class="row-two__inner">
          <div class="row-two__cell">
            {{> widgets/contact-card icon="business/quality/offer_01" text="Если у Вас есть предложение по расширению перечня Стандартов, напишите, пожалуйста, в нашу электронную книгу отзывов. " link="Перейти в книгу отзывов"}}
          </div>
          <div class="row-two__cell">
            {{> widgets/contact-card icon="business/quality/offer_02" text="Также получить дополнительную информацию Вы можете у своего Клиент-менеджера." link="Получить консультацию"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
