<div class="faq-item">
  <div class="faq-item__container">
    <div class="content-table">
      <div class="content-table__container">
        <table class="content-table--quality">
          <thead>
          <tr>
            <th>Вид нарушения</th>
            <th>Что возмещается и размер возмещения</th>
            <th>Действия банка</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><b>Нарушение сроков перечисления средств по платежным документам и срочным платежам</b></td>
            <td>-50% вознаграждения за обслуживание текущего (расчетного) счета / вознаграждение по тарифному плану</td>
            <td>
              <p>МТБанк обязуется проводить платежи при предоставлении корректно оформленных платежных документов по
                регламенту:</p>
              <ul>
                <li>Прием, проверка, обработка в АБС платежных поручений Клиентов, платежных требований, выставленных
                  бенефициаром на перевод средств за пределы банка (кроме платежей в бюджет и переводов со счетов по
                  учету кредитной задолженности) осуществляется день в день:<br/>
                  Пн.-пт.: с 9:00 до 15:30;<br/>
                  после 15:30 и до 16:00 – за дополнительную плату согласно Перечню вознаграждений Банка.
                </li>
                <li>Прием, проверка, обработка в АБС платежных поручений Клиентов, платежных требований, выставленных
                  бенефициаром, на перевод средств внутри Банка, а также по платежам в бюджет (кроме переводов со счетов
                  по учету кредитной задолженности) осуществляется день в день:<br/>
                  Пн-чт.: 9:00- 16:00;<br/>
                  Пт.: 9:00- 15:30.
                </li>
                <li>Срочные платежи в режиме реального времени, осуществляются не позднее 25 минут с момента их
                  поступления в Банк (кроме платежей в бюджет и переводов со счетов по учету кредитной
                  задолженности):<br/>
                  Пн-чт 9:00- 16:00;<br/>
                  Пт 9:00- 15:30.
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><b>Неверное перечисление средств по платежным документам</b></td>
            <td>-50% вознаграждения за обслуживание текущего (расчетного) счета /
              вознаграждение
              по тарифному плану
            </td>
            <td>МТБанк составляет письмо в банк-получатель на возврат средств по вине банка.</td>
          </tr>
          <tr>
            <td><b>Списание Банком комиссии в размере большем, чем это установлено Перечнем вознаграждений банка</b></td>
            <td>-50% вознаграждения за обслуживание текущего (расчетного) счета /
              вознаграждение
              по тарифному плану
            </td>
            <td>
              <p>МТБанк осуществляет урегулирование неверно списанной комиссии и списание верной.</p>

              <p>Пункт Стандарта распространяется на заявления Клиентов, поступившие до момента самостоятельного
              обнаружения и исправления данной ошибки Банком</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
