<div class="tender-item">
  <div class="static">
    <div class="content-table">
      <div class="content-table__container">
        <table>
          <thead>
          <tr>
            <th>Категория</th>
            <th>Описание работ</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><b>Описание работ</b></td>
            <td>Открытый конкурс по выбору исполнителя</td>
          </tr>
          <tr>
            <td><b>Полное наименование заказчика</b></td>
            <td>Закрытое акционерное общество "Минский Транзитный Банк"</td>
          </tr>
          <tr>
            <td><b>Контактные лица заказчика для получения разъяснений</b></td>
            <td>220007, г. Минск ул. Толстого, 10, факс. (+375 17) 213-29-09<br/>
              По предмету конкурса: Низовец Сергей Юрьевич +375 29 6543643;
            </td>
          </tr>
          <tr>
            <td><b>Источник финансирования закупки</b></td>
            <td>Собственные средства</td>
          </tr>
          <tr>
            <td><b>Сроки, место и порядок предоставления конкурсных документов</b></td>
            <td>С 04 февраля 2020 г. до 16:00 17 февраля 2020 г. Включительно. Приглашение и конкурсные
              документы размещаются на официальном сайте ЗАО "МТБанк" по адресу https://www.mtbank.by и сайте
              www.icetrade.by.
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ul>
      <li>1</li>
      <li>1</li>
      <li>1</li>
      <li>1</li>
    </ul>
  </div>

  <div class="tender-item__files">
    <ul class="files-list">
      <li class="files-list__item">
        {{>components/file-download
                color="green"
                label="Конкурсные документы"
                small="Excel, 753 KB"
                file-icon="files--pdf"
        }}
      </li>
      <li class="files-list__item">
        {{>components/file-download
                color="green"
                label="Приглашение к участию в конкурсе"
                small="Excel, 753 KB"
                file-icon="files--pdf"
        }}
      </li>
      <li class="files-list__item">
        {{>components/file-download
                color="green"
                label="Приложение 2"
                small="Excel, 753 KB"
                file-icon="files--pdf"
        }}
      </li>
    </ul>
  </div>
</div>
