<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Переводы</h2>
    </header>
    <div class="section__content">
      <div class="services-row services-row--full">
        <div class="services-row__inner">
          <div class="services-row__cell">
            {{> widgets/service-card
                    card-mode="big"
                    icon="denegram"
                    title="Denegram — перевод с карты на&nbsp;карту"
                    text="Быстро и безопасно отправлятйте и получате деньги с карты на карту. "
                    image="05"
                    image-mobile="05-mobile"
                    link-label="Подробнее"
                    app-stores=common.app-stores
            }}
          </div>
          <div class="services-row__cell">
            {{> widgets/service-card
                    card-mode="big"
                    icon="denegram"
                    title="Переводы с карты на карту.<br/>Веб-версия"
                    text="Любой банк РБ и в 61 страну мира. Бесплатно для карты МТБанка."
                    image="06"
                    image-mobile="06-mobile"
                    link-label="Подробнее"
                    only-browser=true
            }}
          </div> <div class="services-row__cell">
          {{> widgets/service-card
                  card-mode="big"
                  icon="denegram"
                  title="Denegram — перевод с карты на&nbsp;карту"
                  text="Быстро и безопасно отправлятйте и получате деньги с карты на карту. "
                  image="05"
                  image-mobile="05-mobile"
                  link-label="Подробнее"
                  app-stores=common.app-stores
          }}
        </div>
          <div class="services-row__cell">
            {{> widgets/service-card
                    card-mode="big"
                    icon="denegram"
                    title="Переводы с карты на карту.<br/>Веб-версия"
                    text="Любой банк РБ и в 61 страну мира. Бесплатно для карты МТБанка."
                    image="06"
                    image-mobile="06-mobile"
                    link-label="Подробнее"
                    only-browser=true
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
