<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Онлайн-оформление</h2>
    </header>
    <div class="section__content">
      {{> banners/credit-online }}
      <div class="services-row services-row--carousel js-carousel-slider" data-slides-count="4" data-space-between="0" data-scroll-count="1">
        <div class="services-row__nav">
          {{> components/slider-nav small=true dark=true}}
        </div>
        <div class="swiper-container services-row__carousel js-carousel-slider__slider">
          <div class="services-row__inner services-row__inner--center swiper-wrapper">
            {{#times 3}}
              <div class="services-row__cell swiper-slide">
                {{> widgets/service-links-card title="Оформление карт онлайн" image="services/main/online_01" text="Совершайте и быстро повторяйте платежи с телефона. Актуальная информация о счетах и операциях." ios=true android=true }}
              </div>
              <div class="services-row__cell swiper-slide">
                {{> widgets/service-links-card title="Икс карта" image="services/main/online_02" text="Все карты в одной. Рассрочка Халвы, бонусы Халвы+, выгодный курс PayOkay, мани-бэк Автокарты и другие сверхспособности карт банка." ios=true android=true }}
              </div>
              <div class="services-row__cell swiper-slide">
                {{> widgets/service-links-card title="Вклады" image="services/main/online_03" text="Подготовка документов, онлайн передача, помощь на всех этапах регистрации." }}
              </div>
            {{/times}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Онлайн-оформление</h2>
    </header>
    <div class="section__content">
      {{> banners/credit-online }}
      <div class="services-row services-row--carousel js-carousel-slider" data-slides-count="4" data-space-between="0" data-scroll-count="1">
        <div class="services-row__nav">
          {{> components/slider-nav small=true dark=true}}
        </div>
        <div class="swiper-container services-row__carousel js-carousel-slider__slider">
          <div class="services-row__inner services-row__inner--center swiper-wrapper">
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Оформление карт онлайн" image="services/main/online_01" text="Совершайте и быстро повторяйте платежи с телефона. Актуальная информация о счетах и операциях." ios=true android=true }}
            </div>
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Икс карта" image="services/main/online_02" text="Все карты в одной. Рассрочка Халвы, бонусы Халвы+, выгодный курс PayOkay, мани-бэк Автокарты и другие сверхспособности карт банка." ios=true android=true }}
            </div>
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Вклады" image="services/main/online_03" text="Подготовка документов, онлайн передача, помощь на всех этапах регистрации." }}
            </div>
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Вклады" image="services/main/online_03" text="Подготовка документов, онлайн передача, помощь на всех этапах регистрации." }}
            </div>
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Вклады" image="services/main/online_03" text="Подготовка документов, онлайн передача, помощь на всех этапах регистрации." }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Онлайн-оформление</h2>
    </header>
    <div class="section__content">
      {{> banners/credit-online }}
      <div class="services-row services-row--carousel js-carousel-slider" data-slides-count="4" data-space-between="0" data-scroll-count="1">
        <div class="services-row__nav">
          {{> components/slider-nav small=true dark=true}}
        </div>
        <div class="swiper-container services-row__carousel js-carousel-slider__slider">
          <div class="services-row__inner services-row__inner--center swiper-wrapper">
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Оформление карт онлайн" image="services/main/online_01" text="Совершайте и быстро повторяйте платежи с телефона. Актуальная информация о счетах и операциях." ios=true android=true }}
            </div>
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Икс карта" image="services/main/online_02" text="Все карты в одной. Рассрочка Халвы, бонусы Халвы+, выгодный курс PayOkay, мани-бэк Автокарты и другие сверхспособности карт банка." ios=true android=true }}
            </div>
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Вклады" image="services/main/online_03" text="Подготовка документов, онлайн передача, помощь на всех этапах регистрации." }}
            </div>
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Вклады" image="services/main/online_03" text="Подготовка документов, онлайн передача, помощь на всех этапах регистрации." }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Онлайн-оформление</h2>
    </header>
    <div class="section__content">
      {{> banners/credit-online }}
      <div class="services-row services-row--carousel js-carousel-slider" data-slides-count="4" data-space-between="0" data-scroll-count="1">
        <div class="services-row__nav">
          {{> components/slider-nav small=true dark=true}}
        </div>
        <div class="swiper-container services-row__carousel js-carousel-slider__slider">
          <div class="services-row__inner services-row__inner--center swiper-wrapper">
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Оформление карт онлайн" image="services/main/online_01" text="Совершайте и быстро повторяйте платежи с телефона. Актуальная информация о счетах и операциях." ios=true android=true }}
            </div>
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Икс карта" image="services/main/online_02" text="Все карты в одной. Рассрочка Халвы, бонусы Халвы+, выгодный курс PayOkay, мани-бэк Автокарты и другие сверхспособности карт банка." ios=true android=true }}
            </div>
            <div class="services-row__cell swiper-slide">
              {{> widgets/service-links-card title="Вклады" image="services/main/online_03" text="Подготовка документов, онлайн передача, помощь на всех этапах регистрации." }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
