<section class="page-filters page-filters--debit-cards">
  <div class="container">
    <div class="page-filters__content">
      <div class="page-filters__body">
        <div class="page-filters__inner">
          <div class="page-filters__inner-left">
            <ul class="page-filters__list">
              <li class="page-filters__list-item">
                {{#> form/select border=true}}
                  <option value="По популярности">По популярности</option>
                  <option value="Новинки">Новинки</option>
                  <option value="Акция">Акция</option>
                {{/form/select}}
              </li>
            </ul>
          </div>
          <div class="page-filters__inner-right">
            <ul class="page-filters__list page-filters__list--tabs">
              <li class="page-filters__list-item">
                <button class="button-tab active" type="button" aria-label="Открыть вкладку Все.">Все</button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку ТОП-карты.">ТОП-карты</button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Путешественнику.">Путешественнику
                </button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Автолюбителю.">Автолюбителю
                </button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Для шопинга.">Для шопинга</button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Эксклюзив.">Эксклюзив</button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку ТОП-карты.">ТОП-карты</button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Путешественнику.">Путешественнику
                </button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Автолюбителю.">Автолюбителю
                </button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Для шопинга.">Для шопинга</button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Эксклюзив.">Эксклюзив</button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку ТОП-карты.">ТОП-карты</button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Путешественнику.">Путешественнику
                </button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Автолюбителю.">Автолюбителю
                </button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Для шопинга.">Для шопинга</button>
              </li>
              <li class="page-filters__list-item">
                <button class="button-tab" type="button" aria-label="Открыть вкладку Эксклюзив.">Эксклюзив</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
