{{! Калькуляторы }}

{{> layout/head page-title="Калькуляторы"}}

{{> layout/header}}

<section class="section">
  <div class="container">
    {{> calculators/business }}<br/><br/>
    {{> calculators/credit }}<br/><br/>
    {{> calculators/deposit }}
    {{> calculators/investment }}
  </div>
</section>

{{> layout/footer }}
