{{! Бизнесу / Сервисы / Карточка }}

{{> layout/head page-title="Бизнесу / Сервисы / Карточка" theme-color="business"}}

{{> layout/header no-menu-mobile=true active-header-menu="business"}}
<div class="hero-menu-block">
  {{> hero/business-services-single }}
  {{> blocks/common/page-header title="Обзор"
          item-1="Обзор"
          item-1-active=true
          item-2="Тарифы и условия"
          item-3="Как подключить"
          item-4="Вопросы и ответы"
  }}
</div>

{{> blocks/common/features-row size="small" assets-folder="business/services-single"
        title="Преимущества"
        title-1="Доступ к широкому переченю документов"
        text-1="Которые могут пригодиться Вам в работе."
        title-2="Многопользовательская система"
        text-2="В Клиент-банке одновременно могут работать несколько пользователей."
        title-3="Работа в offline режиме"
        text-3="Интернет-соединение нужно только для отправки и приема документов из банка."
        title-4="Импорт и экспорт платежных документов"
        text-4="Взаимодействие с бухгалтерскими системами."
}}

{{> blocks/common/image-section
        image="business/services-single/image" image-mobile="business/services-single/image-mobile"
        title="Возможности"
        text="Клиент-банк – это сервис, который позволяет оплачивать товары, работы и услуги, обмениваться с банком платежными, финансовыми и другими документами не выходя из офиса благодаря установке на компьютере Клиента специальной программы, в которой создаются и хранятся платежные документы;  с помощью Интернет-соединения они отправляются в банк."
        button-label="Подключить"
        button-size="large"
}}

{{> blocks/common/terms-section block=true
        title="Подключить Клиент-банк просто"
        term-1="Оформите онлайн-заявку"
        term-1-text="Укажите основную информацию о компании. Мы свяжемся с вами в течении часа."
        term-2="Скачайте программу"
        term-2-text="После заключения договора, мы предоставим ссылку на скачивание."
        term-3="Пользуйтесь программой"
        term-3-text="Оплачивайте товары, работы и услуги. Обменивайтесь с банком документами не выходя из офиса."
}}

{{> layout/footer business=true }}
