{{! Бизнесу / Стань агентом }}

{{> layout/head page-title="Бизнесу / Стань агентом" theme-color="business"}}

{{> layout/header no-menu-mobile=true active-header-menu="business"}}
{{> hero/business-referral}}
{{> blocks/common/terms-section block=true
        title="Как работает партнерская программа"
        term-1="Заключаете договор с Банком"
        term-1-text="Для этого позвоните по номеру<br/><a href='tel:375296306956'>+375 29 630 69 56</a>"
        term-2="Привлекаете клиентов"
        term-2-text="Вам предстоит вспомнить всех своих знакомых бизнесменов. Расскажите им о&nbsp;МТБанке."
        term-3="Получаете вознаграждение"
        term-3-text="За каждого приведенного корпоративного клиента вы получите вознаграждение."
}}
{{> blocks/business/referral/02_banners}}
{{> blocks/common/card-overview img="business/referral/image" content-small=true
        ext="png"
        title="Расскажем как стать агентом МТБанка"
        text="Если у Вас на примете уже есть потенциальные корпоративные клиенты МТБанка – позвоните по номеру
<a href='tel:375296306956'>+375&nbsp;29&nbsp;630&nbsp;69&nbsp;56</a> и начните зарабатывать прямо сейчас!"
        button-label="Заказать звонок"
}}
{{> layout/footer business=true }}
