{{! Бизнесу / Интернет-Банк }}

{{> layout/head page-title="Бизнесу / Интернет-Банк" theme-color="business"}}

{{> layout/header no-menu-mobile=true active-header-menu="business"}}

<div class="hero-menu-block">
  {{> hero/business-card }}
  {{> blocks/common/page-header title="Обзор"
          item-1="Обзор"
          item-1-active=true
          item-2="Тарифы и условия"
          item-3="Как подключить"
          item-4="Вопросы и ответы"
  }}
</div>

{{> blocks/common/features-row size="small" title="Плюсы интернет-банка" assets-folder="business/bank"
        title-1="В любой операционной системе и браузере"
        text-1="Работайте в той системе, где Вам удобно."
        title-2="Быстро и не выходя из офиса"
        text-2="Заказ справок, выписок, дополнительных банковских продуктов."
        title-3="Автоматические платежи"
        text-3="Планируйте и совершайте платежи в любое время."
        title-4="Подписание документов смс-кодом"
        text-4="Подписывайте документы в один клик кодом из смс."
}}


{{> blocks/common/product-features
        title="Безграничные возможности для управления Вашим бизнесом"
        image="business/bank/image"
        tab-1="Подключение"
        tab-2="Счета"
        tab-3="Платежи"
        tab-4="Конверсия"
        tab-5="Выписки"
        text="Сразу онлайн. Управляйте своим бизнесом в Интернет-банке сразу после открытия счета."
        item-1="Просмотр баланса"
        item-2="Просмотр историй платежей и движение средств"
        item-3="Список финансовых операций"
        item-4="Подключение карт онлайн"
        item-5="Выписка со счетов и карт"
        button-label="Войти в интернет-банк"
        mobile-apps=true
}}

{{> blocks/common/terms-section
        title="Начать пользоваться просто"
        term-1="Для входа нужен счет, оформите его прямо онлайн"
        term-2="Войдите или&nbsp;зарегистрируйтесь"
        term-3="Работайте с платежами, получайте выписки, управляйте своим бизнесом"
}}

{{> forms/business-bank }}
{{> layout/footer business=true }}
