{{! Бизнесу / Кредит }}

{{> layout/head page-title="Бизнесу / Кредит" theme-color="business"}}

{{> layout/header no-menu-mobile=true active-header-menu="business"}}

<div class="hero-menu-block">
  {{> hero/business-credits-single}}
  {{> blocks/common/page-header title="Обзор"
          item-1="Обзор"
          item-1-active=true
          item-2="Тарифы и условия"
          item-3="Вопрос-Ответ"
  }}
</div>

{{> blocks/common/features-row size="big" assets-folder="business/credit-single"
        title-1="На любые цели"
        text-1="Связанные с пополнением оборотных активов."
        title-2="Гибкость"
        text-2="Кредиты предоставляются в различных формах и валютах, на различные сроки, в залог принимаются различные виды имущества"
        title-3="Скорость"
        text-3="Заявка на кредит рассматривается в кратчайшие сроки"
        title-4="Индивидуальный подход"
        text-4="Специалисты нашего банка помогут выбрать вид кредитного продукта, наиболее подходящего для решения поставленных перед Вашим бизнесом задач"
}}

{{> blocks/common/conditions-section
        title="Выгодные условия по кредиту" img="business/credit-single/image" button-label="Оформить заявку"
        label-1="Форма предоставления" value-1="Возобновляемая кредитная линия. Невозобновляемая кредитная линия. Разовый кредит."
        label-2="Обеспечение" value-2="Поручительство, залог имущества (недвижимости, оборудования, транспорта, товаров в обороте)."
        label-3="Срок кредитования" value-3="До 48 месяцев"
        label-4="Валюта" value-4="Белорусский рубль, доллар США, евро, российский рубль"
        label-5="Ставки" value-5="Устанавливаются для каждого клиента в индивидуальном порядке"
}}

{{> blocks/common/terms-section
        title="Оформить кредит просто"
        term-1="Свяжитесь с представителем банка или оставьте заявку на сайте"
        term-1-text="Менеджер Банка поможет Вам в выборе и даст консультацию по продукту."
        term-2="Предоставьте полный пакет документов в Банк"
        term-2-text="Пакет документов Вам направит менеджер Банка."
        term-3="Получите решение банка и подпишите договор(ы)"
        term-3-text="Срок принятия решения зависит от вида кредитного продукта."
}}

{{> forms/business-credit }}
{{> layout/footer business=true }}
