{{! Бизнесу / Молоток / Карточка }}

{{> layout/head page-title="Бизнесу / Молоток / Карточка" theme-color="business"}}

{{> layout/header no-menu-mobile=true active-header-menu="business"}}
<div class="hero-menu-block">
{{> hero/business-molotok-single}}
{{> blocks/common/page-header title="Обзор"
        item-1="Обзор"
        item-1-active=true
        item-2="Как работает"
        item-3="Вопрос-Ответ"
}}
</div>

{{> blocks/common/features-grid small=true assets-folder="business/molotok-single" title="Преимущества для вас:"
        title-1="Увеличение клиентской базы и объемов продаж"
        text-1="Стимулирование торгового оборота за счет предоставления сервиса финансирования покупок средствами МТБанка без дополнительных операционных расходов"
        title-2="Отсутствие риска неоплаты"
        text-2="Став партнером программы, Вы своевременно получите оплату."
        title-3="Отсрочка платежа для Ваших клиентов"
        text-3="до 150 дней или рассрочка платежа на 6 месяцев. Беспроцентный кредит, предоставляемый покупателю."
        title-4="Без задолженности"
        text-4="Отсутствие дебиторской задолженности и затрат на ее взыскание."
        title-5="Повышение качества финансовой отчетностии"
        text-5="За счет сокращения дебиторской задолженности."
        title-6="Пополнение средств"
        text-6="Пополнение счета через интернет банкинг и в отделениях МТБанка."
        button-label="Стать партнером"
}}

{{> blocks/common/features-row size="big" assets-folder="business/molotok-single"
        title="Схема работы партнерской программы:" gray=true
        title-1="МТБанк"
        text-1="Организации открывается кредитная линия в МТБанке (возобновляемая или невозобновляемая кредитная линия)."
        title-2="Клиент (ЮЛ, ИП)"
        text-2="Организация-партнер передает клиенту оплаченный товар/услугу."
        title-3="Организация партнер МТБанка"
        text-3="Организация-партнер получает оплату за товар/услугу от клиента за счет кредитной линии МТБанка."
        title-4="Погашение задолженности"
        text-4="Клиент погашает задолженность перед МТБанком через  30-150 дней или в течение 6 месяцев равными ежемесячными  платежами."
}}

{{#> blocks/common/section}}
  {{> banners/partners-molotok }}
{{/blocks/common/section}}

{{> forms/business-molotok }}
{{> layout/footer business=true }}
