<section class="page-filters js-filters">
  <div class="container">
    <div class="page-filters__content">

      <div class="page-filters__header">
        <div class="page-filters__header-left">
          <span class="page-filters__mobile-title">Тендеры</span>
        </div>
        <div class="page-filters__header-right">
          {{>components/button-filter js-mod="js-filters__toggle"}}
        </div>
      </div>

      <div class="page-filters__body js-filters__body">
        <div class="page-filters__inner">
          <div class="page-filters__inner-left">
            <ul class="page-filters__list js-filters__list page-filters__list--tabs">
              <li class="page-filters__list-item">
                {{>components/button-tab label="Открытые" mode="gray" tab='[data-tab-content="opened"]'}}
              </li>
              <li class="page-filters__list-item">
                {{>components/button-tab label="Завершенные" mode="gray" tab='[data-tab-content="closed"]'}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
