<div class="js-tab-content js-accordion" data-tab-content="opened">
  {{#>blocks/common/accordion-item no-single=true
      title="Закупка услуг по разработке дизайна цифровых продуктов и сайта Банка"
      text="Закупка оборудования"
      text-date="16.04 2020 — 29.04.2020"
  }}
    {{> blocks/internal/about-tenders/components/tender-item}}
  {{/blocks/common/accordion-item}}
  {{#>blocks/common/accordion-item no-single=true
      title="Специальный инкассаторский автомобиль"
      text="Транспорт"
      text-date="18.04 2020 — 1.05.2020"
  }}
    {{> blocks/internal/about-tenders/components/tender-item}}
  {{/blocks/common/accordion-item}}
  {{#>blocks/common/accordion-item no-single=true
      title="Сервер"
      text="Оборудование"
      text-date="18.04 2020 — 1.05.2020"
  }}
    {{> blocks/internal/about-tenders/components/tender-item}}
  {{/blocks/common/accordion-item}}
  {{#>blocks/common/accordion-item no-single=true
      title="Услуги по разработке дизайна цифровых продуктов"
      text="Цифровые продукты"
      text-date="18.04 2020 — 1.05.2020"
  }}
    {{> blocks/internal/about-tenders/components/tender-item}}
  {{/blocks/common/accordion-item}}
  {{#>blocks/common/accordion-item no-single=true
      title="Лицензии на ПО Кредитный конвейер"
      text="Цифровые продукты"
      text-date="18. 04 2020 — 1.05.2020"
  }}
    {{> blocks/internal/about-tenders/components/tender-item}}
  {{/blocks/common/accordion-item}}
  {{#>blocks/common/accordion-item no-single=true
      title="ПО (лицензии) Система неголосового общения с клиентами"
      text="Цифровые продукты"
      text-date="18. 04 2020 — 1.05.2020"
  }}
    {{> blocks/internal/about-tenders/components/tender-item}}
  {{/blocks/common/accordion-item}}
</div>
