<div class="js-tab-content js-accordion" data-tab-content="closed">
  {{#>blocks/common/accordion-item no-single=true
      title="ПО (лицензии) Система неголосового общения с клиентами"
      text="Цифровые продукты"
      text-date="18.04 2020 — 1.05.2020"
  }}
    {{> blocks/internal/about-tenders/components/tender-item}}
  {{/blocks/common/accordion-item}}
</div>
