<section class="section section--center">
  <header class="section__header">
    <div class="container-770">
      <h1 class="section__title section__title--big">Электронная книга отзывов</h1>
      <p class="section__description section__description--mt">Мы стараемся, что бы у наших клиентов продукты и обслуживание было на высоком
        уровне. Оставьте свое мнение о работе в банке, это поможет нам быть лучше.</p>
    </div>
  </header>
</section>
