<section class="section section--gray">
  <div class="container">
    <div class="reviews-grid">
      <div class="reviews-grid__item">
        {{>widgets/base-card no-border=true mobile-center=true
                img="internal/reviews-book/01"
                ext="png"
                title="Поблагодарить"
                text="Вы можете оставить нам благодарственное письмо."
                outlined=true
        }}
      </div>
      <div class="reviews-grid__item">
        {{>widgets/base-card no-border=true mobile-center=true
                img="internal/reviews-book/02"
                ext="png"
                title="Пожаловаться"
                text="Оставьте свою жалобу, мы постараемся с этим разобраться."
                outlined=true
        }}
      </div>
      <div class="reviews-grid__item">
        {{>widgets/base-card no-border=true mobile-center=true
                img="internal/reviews-book/03"
                ext="png"
                title="Оставить предложение"
                text="Оставьте свое предложение, это поможет нам быть лучше."
                outlined=true
        }}
      </div>
      <div class="reviews-grid__item">
        {{>widgets/base-card no-border=true mobile-center=true
                img="internal/reviews-book/04"
                ext="png"
                title="Оценить работу офиса"
                text="Вы можете оцените работу отделения."
                outlined=true
        }}
      </div>
    </div>
  </div>
</section>
