<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Типы карт</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="debit-cards.html">Дебетовые карты</a></li>
              <li class="header-dropdown__list-item"><a href="debit-cards.html">Кредитные</a></li>
              <li class="header-dropdown__list-item"><a href="debit-cards.html">Виртуальные</a></li>
            </ul>
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="debit-cards.html">Карты рассрочки</a></li>
              <li class="header-dropdown__list-item"><a href="debit-cards.html">Зарплатные</a></li>
              <li class="header-dropdown__list-item"><a href="debit-cards.html">Премиальные</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Лучшие карты</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="mixmax.html">Карта рассрочки Халва</a></li>
              <li class="header-dropdown__list-item"><a href="payokay.html">PayOkay для путешествий</a></li>
              <li class="header-dropdown__list-item"><a href="#">Имклива с овердрафтом</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
