<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Кредиты банка</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="credits-single.html">Кредит «Выручай»</a></li>
              <li class="header-dropdown__list-item"><a href="credits-single.html">Кредит «Еще больше»</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Карты рассрочек</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="mixmax.html">Халва MIX</a></li>
              <li class="header-dropdown__list-item"><a href="mixmax.html">Халва MAX</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Карты с овердрафтом</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="debit-cards.html">Имклива</a></li>
              <li class="header-dropdown__list-item"><a href="debit-cards.html">HELLO, WORLD!</a></li>
              <li class="header-dropdown__list-item"><a href="debit-cards.html">Visa Infinite</a></li>
              <li class="header-dropdown__list-item"><a href="debit-cards.html">Visa Platinum</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
