<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Вклады</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="deposits-single.html">МТБелки</a></li>
              <li class="header-dropdown__list-item"><a href="deposits-single.html">Актуальный</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Типы вкладов</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="deposits.html">В долларах</a></li>
              <li class="header-dropdown__list-item"><a href="deposits.html">В белорусских рублях</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
