<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Жизнь и здоровье</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Выезд за границу</a></li>
              <li class="header-dropdown__list-item"><a href="#">Водители и пассажиры</a></li>
              <li class="header-dropdown__list-item"><a href="#">Мед. страховка Кентавр</a></li>
              <li class="header-dropdown__list-item"><a href="#">Мед. страховка Имклива</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Дом и имущество</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Недвижимость и имущество</a></li>
              <li class="header-dropdown__list-item"><a href="#">Квартира и загородный дом</a></li>
              <li class="header-dropdown__list-item"><a href="#">Домашнее имущество</a></li>
              <li class="header-dropdown__list-item"><a href="#">Дом и граждане</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
