<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Банк онлайн</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">USSD-банкинг</a></li>
              <li class="header-dropdown__list-item"><a href="#">Мобильный Банк</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Платежи и переводы</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Переводы с карты на карту</a></li>
              <li class="header-dropdown__list-item"><a href="#">Приложение Denegram</a></li>
              <li class="header-dropdown__list-item"><a href="#">Приложение Икс-карта</a></li>
              <li class="header-dropdown__list-item"><a href="#">Приложение Халва</a></li>
              <li class="header-dropdown__list-item"><a href="#">USSD-банкинг</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Другие сервисы банка</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Билеты MTB Tickets</a></li>
              <li class="header-dropdown__list-item"><a href="https://mtbankfx.mtbank.by/" target="_blank">Форекс MTBankFX</a></li>
              <li class="header-dropdown__list-item"><a href="#">Сервисы Open API</a></li>
              <li class="header-dropdown__list-item"><a href="#">SMS-уведомления</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
