<section class="section">
  <div class="container">
    <div class="banners-list__item">
      {{> banners/molotok
              image="business/molotok/01"
              image-mobile="business/molotok/01-mobile"
              title="Для партнеров"
              item-1="Вы избавитесь от дебиторской задолженности."
              item-2="Увеличите свою клиентскую базу за счет предоставления отсрочки платежей."
              item-3="Сможете предоставлять отсрочку платежа новым и имеющимся клиентам."
              button-label="Стать партнером"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/molotok
              image="business/molotok/02"
              image-mobile="business/molotok/02-mobile"
              title="Для кредитополучателей"
              item-1="Покупайте товары и услуги с отсрочкой до 150 дней или в рассрочку на 6 месяцев."
              item-2="Расчитывайтесь за товары и услуги за счет кредитной линии банка под 0,000000001%."
              item-3="Открывайте кредитную линию без перехода на РКО с минимальным пакетом документов."
              button-label="Получить финансирование"
      }}
    </div>
  </div>
</section>
