<div class="account-form-error">
  <div class="account-form-error__icon">
    {{> components/image img="form/form-failure--validation" ext="png" }}
  </div>
  <span class="account-form-error__title">
    УНП 34586745 является не действующим
  </span>
  <span class="account-form-error__text">
    Проверьте, правильно ли вы его указали, и введите другой УНП
  </span>
  <div class="account-form-error__button">
    {{> ui/btn label="Ввести другой УНП" size="large" color="primary"}}
  </div>
</div>
