<section class="section">
  <div class="career-advantages">
    <div class="container-770">
      <p class="section__subtitle">Становитесь частью проектов, которые меняют жизни людей. Наши продукты
        постоянно занимают призовые места на
        различных конкурсах.</p>
    </div>
    <div class="container">
      <ul class="career-advantages__grid">
        <li class="career-advantages__item">
          <span class="career-advantages__number">32</span>
          <span class="career-advantages__text">Награды за 2018 год</span>
        </li>
        <li class="career-advantages__item">
          <span class="career-advantages__number">20</span>
          <span class="career-advantages__text">Столько лет существует наш банк</span>
        </li>
        <li class="career-advantages__item">
          <span class="career-advantages__number">127</span>
          <span class="career-advantages__text">Отделений банка в стране</span>
        </li>
        <li class="career-advantages__item">
          <span class="career-advantages__number">5</span>
          <span class="career-advantages__text">Входит в топ 5 луших банков Беларуси</span>
        </li>
      </ul>
    </div>
  </div>
</section>
