<section class="section">
  <div class="container-770">
    <h2 class="section__title section__title--big">Мы предлагаем</h2>
  </div>
  <div class="container">
    <div class="career-offerings">
      <div class="offerings-list swiper-container js-default-slider" data-breakpoint-value="mobile">
        <ul class="offerings-list__grid swiper-wrapper">
          <li class="offerings-list__item swiper-slide">
            {{>widgets/offer-card mobile-block=true
                    image="internal/about-career-benefits/offers/offer-01"
                    title="Официальная зарплата"
                    text="Для работы в офисе заключаем трудовой договор."
            }}
          </li>
          <li class="offerings-list__item swiper-slide">
            {{>widgets/offer-card mobile-block=true
                    image="internal/about-career-benefits/offers/offer-02"
                    title="Молодой коллектив"
                    text="У нас работают люди всех возрастов. Среднй возраст 35 лет."
            }}
          </li>
          <li class="offerings-list__item swiper-slide">
            {{>widgets/offer-card mobile-block=true
                    image="internal/about-career-benefits/offers/offer-03"
                    title="Развитие и обучение"
                    text="Мы стремимся повысить эффективность наших сотрудников, и развить их потенциал."
            }}
          </li>
          <li class="offerings-list__item swiper-slide">
            {{>widgets/offer-card mobile-block=true
                    image="internal/about-career-benefits/offers/offer-04"
                    title="Современные офисы"
                    text="Все необходимое для работы, современный офис."
            }}
          </li>
          <li class="offerings-list__item swiper-slide">
            {{>widgets/offer-card mobile-block=true
                    image="internal/about-career-benefits/offers/offer-05"
                    title="Корпоративы"
                    text="Все необходимое для работы, современный офис."
            }}
          </li>
          <li class="offerings-list__item swiper-slide">
            {{>widgets/offer-card mobile-block=true
                    image="internal/about-career-benefits/offers/offer-06"
                    title="Мед. страхование"
                    text="Всем сотрудникам предоставляется бесплатная страховка."
            }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
