<section class="section">
  <div class="container-770">
    <h2 class="section__title section__title--big">Жизнь внутри</h2>
    <p class="section__subtitle">Принято считать, что банковская сфера — это офисная монотонная деятельность,
      где нет места творчеству. Вот уже который год подряд МТБанк успешно развеивает этот стереотип.</p>

    <div class="career-inside">
      <p class="career-inside__text">Присоединяйтесь к группе вконтакте <a href="#">Работа&nbsp;в&nbsp;МТБанке</a>.
        Узнавай самые свежие новости о вакансиях МТБанка первым. Нам есть, что Вам предложить!</p>
    </div>
  </div>
</section>
