<section class="section">
  <div class="container-770">
    <h2 class="section__title section__title--big">Истории успеха</h2>
    <div class="section__content">
      <div class="career-success">
        <div class="review-slider js-review-slider">
          <div class="swiper-container js-review-slider__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                {{>widgets/person-review
                        title="Кирилл ожидания оправдал и за полтора года. Прошел путь от специалиста до заместителя начальника Управления системного администрирования."
                        text="Иван Иванов пришел на работу в МТБанк в мае 2012 года, уже имея немалый опыт работы. Стартовая позиция звучала как «cпециалист 2-ой категории Департамента информационных технологий Отдела администрирования и мониторинга», однако изначально на Кирилла возлагались немалые надежды. Что объяснимо: МТБанк– банк..."
                        person-image="common/reviews/person-01"
                        person-name="Иван Иванов"
                        person-text="Начальник управления системного администрирования"
                        person-ext="png"
                }}
              </div>
              <div class="swiper-slide">
                {{>widgets/person-review
                        title="Мы были удивлены,но я ожидания оправдал и за полтора года. Прошел путь от специалиста до заместителя начальника Управления системного администрирования."
                        text="Петр Петров пришел на работу в МТБанк в мае 2012 года, уже имея немалый опыт работы. Стартовая позиция звучала как «cпециалист 2-ой категории Департамента информационных технологий Отдела администрирования и мониторинга», однако изначально на Кирилла возлагались немалые надежды. Что объяснимо: МТБанк– банк..."
                        person-image="common/reviews/person-01"
                        person-name="Петр Петров"
                        person-text="Начальник управления планирования закупок"
                        person-ext="png"
                }}
              </div>
              <div class="swiper-slide">
                {{>widgets/person-review
                        title="Юрий ожидания оправдал и за полтора года. Прошел путь от специалиста до заместителя начальника Управления системного администрирования."
                        text="Кандидат пришел на работу в МТБанк в мае 2012 года, уже имея немалый опыт работы. Стартовая позиция звучала как «cпециалист 2-ой категории Департамента информационных технологий Отдела администрирования и мониторинга», однако изначально на Кирилла возлагались немалые надежды. Что объяснимо: МТБанк– банк..."
                        person-image="common/reviews/person-01"
                        person-name="Юрий Долгорукий"
                        person-text="Директор стратегического планирования"
                        person-ext="png"
                }}
              </div>
              <div class="swiper-slide">
                {{>widgets/person-review
                        title="Мы были удивлены,но я ожидания оправдал и за полтора года. Прошел путь от специалиста до заместителя начальника Управления системного администрирования."
                        text="Петр Петров пришел на работу в МТБанк в мае 2012 года, уже имея немалый опыт работы. Стартовая позиция звучала как «cпециалист 2-ой категории Департамента информационных технологий Отдела администрирования и мониторинга», однако изначально на Кирилла возлагались немалые надежды. Что объяснимо: МТБанк– банк..."
                        person-image="common/reviews/person-01"
                        person-name="Петр Петров"
                        person-text="Начальник управления планирования закупок"
                        person-ext="png"
                }}
              </div>
              <div class="swiper-slide">
                {{>widgets/person-review
                        title="Юрий ожидания оправдал и за полтора года. Прошел путь от специалиста до заместителя начальника Управления системного администрирования."
                        text="Кандидат пришел на работу в МТБанк в мае 2012 года, уже имея немалый опыт работы. Стартовая позиция звучала как «cпециалист 2-ой категории Департамента информационных технологий Отдела администрирования и мониторинга», однако изначально на Кирилла возлагались немалые надежды. Что объяснимо: МТБанк– банк..."
                        person-image="common/reviews/person-01"
                        person-name="Юрий Долгорукий"
                        person-text="Директор стратегического планирования"
                        person-ext="png"
                }}
              </div>
            </div>
          </div>
          <div class="review-slider__nav">
            <div class="review-slider__nav-item">
              <button class="review-slider__nav-button review-slider__nav-button--prev js-review-slider__prev"
                      type="button" aria-label="Перейти к предыдущему слайду."></button>
            </div>
            <div class="review-slider__nav-item review-slider__nav-item--pagination">
              <div class="review-slider__nav-pagination js-review-slider__pagination"></div>
            </div>
            <div class="review-slider__nav-item">
              <button class="review-slider__nav-button review-slider__nav-button--next js-review-slider__next"
                      type="button" aria-label="Перейти к следующему слайду."></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
