<section class="section ">
  <div class="container-770">
    <h2 class="section__title section__title--big">Наши вакансии</h2>
  </div>
  <div class="container">
    <div class="career-vacancies">
      <div class="vacancies-hero">
        <div class="vacancies-hero__image">
          {{>components/image img="internal/about-career-benefits/vacancies/hero" ext="png"}}
        </div>
        <div class="vacancies-hero__content">
          <p class="vacancies-hero__title">У нас 254 офиса в 30 городах</p>
          <p class="vacancies-hero__text">Одной из основных составляющих нашего успеха является наша команда –
            профессиональная и молодая, готовая к новым свершениям и покорению новых рубежей.</p>
          <div class="vacancies-hero__btn">
            {{>ui/btn label="Смотреть вакансии" href="about--career--vacancies.html" color="primary"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
