<section class="section ">
  <div class="container">
    <ul class="vacancies-list">
      <li class="vacancies-list__item">
        {{>widgets/base-card mobile-block=true
                img="internal/about-career-benefits/vacancies/01"
                ext="png"
                title="Без опыта"
                text="Работа в физ отделении банка. С такими продуктами как и тут перечисление."
                label="Смотреть вакансии"
                href="about--career--vacancies.html"
                outlined=true
        }}
      </li>
      <li class="vacancies-list__item">
        {{>widgets/base-card mobile-block=true
                img="internal/about-career-benefits/vacancies/02"
                ext="png"
                title="Частные лица"
                text="Работа в физ отделении банка. С такими продуктами как и тут перечисление."
                label="Смотреть вакансии"
                href="about--career--vacancies.html"
                outlined=true
        }}
      </li>
      <li class="vacancies-list__item">
        {{>widgets/base-card mobile-block=true
                img="internal/about-career-benefits/vacancies/03"
                ext="png"
                title="Бэк-офис"
                text="Работа в физ отделении банка. С такими продуктами как и тут перечисление."
                label="Смотреть вакансии"
                href="about--career--vacancies.html"
                outlined=true
        }}
      </li>
    </ul>
  </div>
</section>
