<section class="section">
  <div class="container-770">
    <h2 class="section__title section__title--big">Для начинающих</h2>
    <p class="section__subtitle">Опыт, которого требуют все работодатели, сначала нужно где-то получить. Вакансии
      для молодых специалистов и энтузиастов.</p>
    <ul class="beginners-list">
      <li class="beginners-list__item">
        {{>widgets/base-card
                title="Без опыта"
                text="Билеты на рейсы любых авиакомпаний по&nbsp;низким&nbsp;ценам с кэшбэком до 5%."
                label="Смотреть вакансии"
                href="about--career--vacancies.html"
        }}
      </li>
      <li class="beginners-list__item">
        {{>widgets/base-card
                title="Для студентов"
                text="Билеты на рейсы любых авиакомпаний по&nbsp;низким&nbsp;ценам с кэшбэком до 5%."
                label="Подробнее"
                href="about--career--vacancies.html"
        }}
      </li>
    </ul>
  </div>
</section>
