<section class="section section--gray" id="v-form">
  <div class="container-770">
    <div class="vacancy-form">
      <h2 class="section__title section__title--big">Нет подходящей вакансии или вы  еще не отпределись?</h2>
      <p class="vacancy-form__text">
        Оставьте свои контактные данные, <a href="#">скачайте и заполните анкету</a> прикрепите к письму. Или
        отправьте заполненную
        анкету на почту <a href="#">HRanketa@mtbank.by</a>
      </p>
      <div class="vacancy-form__content">
        {{> blocks/internal/about-career/components/form}}
      </div>
    </div>
  </div>
</section>
