<section class="section">
  <div class="container">
    <h1 class="page-title page-title--small">
      ЗАО «МТБанк» современный коммерческий банк, предоставляющий полный комплекс услуг корпоративным и частным клиентам
    </h1>
  </div>
</section>
