<section class="section section--gray">
  <div class="container">
    <div class="partners-about">
      <h2 class="partners-about__title">Информационные партнеры</h2>

      <div class="partners-about__content">
        <ul class="partners-about__list">
          <li class="partners-about__item">ВЫБЕРИ!BY</li>
          <li class="partners-about__item">«Дело»</li>
          <li class="partners-about__item">Myfin.by</li>
          <li class="partners-about__item">Recard.by</li>
          <li class="partners-about__item">Про бизнес</li>
          <li class="partners-about__item">BENEFIT BY</li>
          <li class="partners-about__item">Select.by</li>
          <li class="partners-about__item">Журнал «Директор»</li>
          <li class="partners-about__item">Bel.Biz</li>
          <li class="partners-about__item">«Ежедневник»</li>
          <li class="partners-about__item">«Бизнес-ревю»</li>
          <li class="partners-about__item">CreditPortal.by</li>
          <li class="partners-about__item">Агентство новостей «Телеграф»</li>
          <li class="partners-about__item">«Ежедневник»</li>
          <li class="partners-about__item">«Бизнес-ревю»</li>
          <li class="partners-about__item">CreditPortal.by</li>
        </ul>
      </div>
    </div>
  </div>
</section>
