<section class="section">
  <div class="container">
    <h2 class="section__title">Дополнительно</h2>

    <div class="additional-about">
      <div class="additional-about__content">
        {{#>blocks/common/accordion-item
                title="График личного приема граждан и юридических лиц"
                text="Контактные данные и график о работе"
                active=true
        }}
          <div class="schedule-content">
            <div class="static">
              <div class="content-table">
                <div class="content-table__container">
                  <table class="schedule-content__table">
                    <thead>
                    <tr>
                      <th>Ф.И.О.</th>
                      <th>Должность</th>
                      <th>Дни приема</th>
                      <th nowrap>Время приема</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>Шидлович Дмитрий Петрович</td>
                      <td>Председатель Правления банка</td>
                      <td>1-й понедельник месяца</td>
                      <td>10:00–12:00</td>
                    </tr>
                    <tr>
                      <td>Титов Александр Михайлович</td>
                      <td>Заместитель Председателя Правления</td>
                      <td>Понедельник</td>
                      <td>11:00–13:00</td>
                    </tr>
                    <tr>
                      <td>Сидорик Евгений Дмитриевич</td>
                      <td>Заместитель Председателя Правления</td>
                      <td>Четверг</td>
                      <td>10:00–12:00</td>
                    </tr>
                    <tr>
                      <td>Цуран Ольга Николаевна</td>
                      <td>Заместитель Председателя Правления</td>
                      <td>Среда</td>
                      <td>15:00–17:00</td>
                    </tr>
                    <tr>
                      <td>Козырев Никита Вячеславович</td>
                      <td>Директор по розничному бизнесу</td>
                      <td>Вторник</td>
                      <td>10:00–12:00</td>
                    </tr>
                    <tr>
                      <td>Румянцева Александра Михайловна</td>
                      <td>Начальник управления отношениями с розничными клиентами</td>
                      <td>Четверг</td>
                      <td>10:00–12:00</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>

              <span class="schedule-content__title">Правила приема</span>

              <ol>
                <li>При устном обращении гражданин должен предъявить документ, удостоверяющий его личность.</li>
                <li>В случае отсутствия в день приема должностного лица личный прием осуществляет должностное лицо,
                  исполняющее его обязанности, о чем секретарь приемной уведомляет гражданина или юридическое лицо по
                  телефону.
                </li>
                <li>Личный прием осуществляется в соответствии с законодательством Республики Беларусь и Графиком
                  личного
                  приема руководством ЗАО «МТБанк», утвержденного приказом Председателя Правления Банка.
                </li>
                <li>В случае, если вопрос, изложенный в устном обращении, не может быть решен во время личного приема,
                  обращение должно быть изложено гражданином в письменной форме и подлежит рассмотрению в установленном
                  порядке.
                </li>
              </ol>

              <div class="schedule-content__contacts">
                <span class="schedule-content__title">Контактные данные</span>
                <div class="contacts-info">
                  <div class="contacts-info__grid">
                    <div class="contacts-info__item">
                      <span class="contacts-info__title">Телефоны</span>
                      <span class="contacts-info__note">Для предварительной записи</span>
                      <ul class="contacts-info__list">
                        <li class="contacts-info__list-item">8-017 - 229-99-99</li>
                        <li class="contacts-info__list-item">8-017 - 213-29-00</li>
                        <li class="contacts-info__list-item">8-029 - 509-99-99</li>
                        <li class="contacts-info__list-item">8-029 - 509-99-99</li>
                        <li class="contacts-info__list-item">8-029 - 509-99-99</li>
                      </ul>
                    </div>
                    <div class="contacts-info__item">
                      <span class="contacts-info__title">Адрес</span>
                      <span class="contacts-info__text">г. Минск, ул. Толстого, д. 10.</span>
                      <span class="contacts-info__note">По этому адресу осуществляется прием</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/blocks/common/accordion-item}}
      </div>
    </div>
  </div>
</section>
