<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Услуги и сервисы</h2>
    </header>
    <div class="section__content">
      <div class="row-two row-two--mobile-column">
        <div class="row-two__inner">
          <div class="row-two__cell">
            {{> widgets/ibank-card dark=true no-button-bottom=true
                    bg-color="linear-gradient(93.43deg, #00A2FD -0.4%, #1B74FD 99.74%);"
                    image="investments/main/service_01"
                    image-mobile="investments/main/service_01-mobile"
                    title="Обучение"
                    text="Получайте опыт профессионалов - приходите на бесплатное обучение торговле на Форекс от MTBankFX. "
                    link-label="Узнать больше"
            }}
          </div>
          <div class="row-two__cell">
            {{> widgets/ibank-card dark=true no-button-bottom=true
                    bg-color="linear-gradient(267.6deg, #124EAB -2.82%, #3A77D7 96.88%), #F2F4F8;"
                    image="investments/main/service_02"
                    image-mobile="investments/main/service_02-mobile"
                    title="Демо-аккаунты"
                    text="Перед началом работы Вы можете попробовать свои силы на бесплатном демо-аккаунте."
                    link-label="Открыть демо-аккаунт"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
