<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Инвестиционные решения для бизнеса</h2>
    </header>
    <div class="section__content">
      {{> banners/investment-business}}
      <div class="grid-row">
        <div class="about-banners">
          <ul class="about-banners__grid">
            <li class="about-banners__item">
              {{> widgets/subpage-banner text-wide=true
                      size="big"
                      image="investments/main/business_01"
                      img-mobile="investments/main/business_01-mobile"
                      ext="png"
                      title="Депозитарное обслуживание"
                      text="Простое и понятное описание раскрывающее суть блока до 100 символов. Суть блока до 100 символов."
                      label="Узнать больше"
              }}
            </li>
            <li class="about-banners__item">
              {{> widgets/subpage-banner text-wide=true
                      size="big"
                      image="investments/main/business_02"
                      img-mobile="investments/main/business_02-mobile"
                      ext="png"
                      title="Услуги по выпуску облигационных займов субъектов хозяйствования"
                      text="Простое и понятное описание раскрывающее суть блока до 100 символов. Суть блока до 100 символов."
                      label="Узнать больше"
              }}
            </li>
            <li class="about-banners__item">
              {{> widgets/subpage-banner text-wide=true
                      size="big"
                      image="investments/main/business_03"
                      img-mobile="investments/main/business_03-mobile"
                      ext="png"
                      title="Доверительное управление ценными бумагами и денежными средствами"
                      text="Простое и понятное описание раскрывающее суть блока до 100 символов. Суть блока до 100 символов."
                      label="Узнать больше"
              }}
            </li>
            <li class="about-banners__item about-banners__item--small">
              {{> widgets/subpage-banner text-wide=true
                      size="small"
                      image="investments/main/business_04"
                      ext="png"
                      title="Собственные облигации"
                      text="Простое и понятное описание раскрывающее суть блока до 100 символов."
                      link-label="Подробнее"
              }}
            </li>
            <li class="about-banners__item about-banners__item--small">
              {{> widgets/subpage-banner text-wide=true
                      size="small"
                      image="investments/main/business_05"
                      ext="png"
                      title="MTBankFX"
                      text="Простое и понятное описание раскрывающее суть блока до 100 символов."
                      link-label="Подробнее"
              }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
