<section class="section section--gray">
  <div class="container-880">
    <div class="form-result form-result--failure">
      <div class="form-result__icon">
        {{> components/image img="form/form-failure" ext="png" }}
      </div>
      <span class="form-result__title">Ошибка отправки</span>
      <p class="form-result__text">К сожалению ваша заявка не была отправлена.<br/>Но вы можете попробовать отправить
        еще раз,
        данные сохранились в форме.</p>
      <div class="form-result__button">
        {{> ui/btn color="primary" size="large" label="Вернуться к заявке"}}
      </div>
    </div>
  </div>
</section>
