<section class="section section--gray">
  <div class="container-880">
    <div class="form-result form-result--account form-result--failure">
      <div class="form-result__icon">
        {{> components/image img="form/form-failure--account" ext="png" }}
      </div>
      <span class="form-result__title">Что-то пошло не так и заявка не была отправлена</span>
      <div class="form-result__next">
        <span class="form-result__next-title">Что делать дальше?</span>
        <p class="form-result__next-text">Вы можете связаться с нами по телефону +375 33 187 76-34
          или написать там в поддержку.</p>
      </div>
      <div class="form-result__button">
        {{> widgets/button-arrow label="Вернуться к заполнению" small=true}}
      </div>
    </div>
  </div>
</section>
