<section class="section section--gray">
  <div class="container-880">
    <div class="form-result form-result--account">
      <div class="form-result__icon">
        {{> components/image img="form/form-success--account" ext="png" }}
      </div>
      <span class="form-result__title">Спасибо! Ваша заявка отправлена на рассмотрение</span>
      <div class="form-result__next">
        <span class="form-result__next-title">Что делать дальше?</span>
        <p class="form-result__next-text">Мы рассмотрим заявку в течение суток и свяжемся с вами</p>
      </div>
    </div>
  </div>
</section>
