<section class="section section--result-review">
  <div class="container-880">
    <div class="form-result">
      <div class="form-result__icon">
        {{> components/image img="form/form-success--review" ext="png" }}
      </div>
      <span class="form-result__title form-result__title--big">Спасибо за отзыв</span>
      <p class="form-result__text form-result__text--big">Искренне надеемся, что и дальше наша работа будет приносить удовольствие. Если у Вас есть время — оцените работу отделения.</p>

      <div class="form-result__actions">
        <div class="form-result__actions-item">
          <button class="form-result__actions-link">Нет, это всё</button>
        </div>
        <div class="form-result__actions-item">
          {{> ui/btn color="primary" size="large" label="Да, оценить офис"}}
        </div>
      </div>
    </div>
  </div>
</section>
