<section class="section section--gray">
  <div class="container-880">
    <div class="form-result form-result--success">
      <div class="form-result__icon">
        {{> components/image img="form/form-success" ext="png" }}
      </div>
      <span class="form-result__title">Ваша заявка отправлена</span>
      <p class="form-result__text">Спасибо за отклик на вакансию!<br/>Мы постараемся ответить в течении 24 часов.</p>
    </div>
  </div>
</section>
