<div class="section ">
  <div class="container">
    <h2 class="section__title">Плюсы мобильного банка</h2>
    <div class="service-advantages">
      <div class="service-advantages__row">
        <div class="service-advantages__cell">
          {{>widgets/advantage-card
                  img="services/mobile-bank/feature_01"
                  title="Выгодный обмен валют"
                  text="Разница с межбанковским курсом до 25 копеек при обмене от 1 000 долларов США или 1 000 евро в будни."
          }}
        </div>
        <div class="service-advantages__cell">
          {{>widgets/advantage-card
                  img="services/mobile-bank/feature_02"
                  title="Оповещения о задолженностях"
                  text="Подпишитесь на оповещения, чтобы оплачивать все счета вовремя — мы сообщим, когда новый придет на оплату."
          }}
        </div>
        <div class="service-advantages__cell">
          {{>widgets/advantage-card
                  img="services/mobile-bank/feature_03"
                  title="Выгода в оформлении карт"
                  text="Выбирайте категории покупок для получения кэшбэка, следите за начислением бонусных рублей и компенсируйте ими покупки."
          }}
        </div>
      </div>
    </div>
  </div>
</div>
