<section class="section section--gray">
  <div class="container">
    <div class="js-carousel-slider" data-slides-count="3" data-scroll-count="1">
      <header class="section__header">
        <h2 class="section__title">Для развития бизнеса</h2>
        <div class="section__header-right">
          {{> components/slider-nav small=true}}
        </div>
      </header>
      <div class="section__content">
        <div class="carousel-slider carousel-slider--3">
          <div class="swiper-container carousel-slider__inner js-carousel-slider__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/background-card img="business/home/progress_01" title="Кредитование стартапов"
                        feature-1="Мани-бэк 10% в СТО наших партнеров"
                        feature-2="Мани-бэк 2% за любые покупки"
                        feature-3="Мани-бэк 5% на АЗС партнеров"
                        button-label="Получить кредит"
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/background-card img="business/home/progress_02" title="Лизинг для малого бизнеса"
                        feature-1="Лизинг для малого бизнеса"
                        feature-2="Основные средства"
                        feature-3="Специальные условия"
                        button-label="Оформить"
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/background-card img="business/home/progress_03" title="Торговое финансирование"
                        feature-1="Экспорт"
                        feature-2="Импорт"
                        feature-3="Гибкие программы"
                        button-label="Получить финансирование"
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/background-card img="business/home/progress_02" title="Лизинг для малого бизнеса"
                        feature-1="Лизинг для малого бизнеса"
                        feature-2="Основные средства"
                        feature-3="Специальные условия"
                        button-label="Оформить"
                }}
              </div>
              <div class="swiper-slide carousel-slider__slide">
                {{> widgets/background-card img="business/home/progress_03" title="Торговое финансирование"
                        feature-1="Экспорт"
                        feature-2="Импорт"
                        feature-3="Гибкие программы"
                        button-label="Получить финансирование"
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
