<section class="section section--no-mt">
  <div class="container">
    <div class="business-features">
      <div class="business-features__row">
        <div class="business-features__cell">
          <div class="business-features__item">
            <div class="business-features__item-image">
              {{> components/image img="business/home/feature_01" ext="png"}}
            </div>
            <span class="business-features__item-text">Бонусы от Webcom group</span>
          </div>
        </div>
        <div class="business-features__cell">
          <div class="business-features__item">
            <div class="business-features__item-image">
              {{> components/image img="business/home/feature_01" ext="png"}}
            </div>
            <span class="business-features__item-text">Бонусы от Webcom group</span>
          </div>
        </div>
        <div class="business-features__cell">
          <div class="business-features__item">
            <div class="business-features__item-image">
              {{> components/image img="business/home/feature_01" ext="png"}}
            </div>
            <span class="business-features__item-text">Бонусы от Webcom group</span>
          </div>
        </div>
        <div class="business-features__cell">
          <div class="business-features__item">
            <div class="business-features__item-image">
              {{> components/image img="business/home/feature_02" ext="png"}}
            </div>
            <span class="business-features__item-text">Образовательная платформа</span>
          </div>
        </div>
        <div class="business-features__cell">
          <div class="business-features__item">
            <div class="business-features__item-image">
              {{> components/image img="business/home/feature_03" ext="png"}}
            </div>
            <span class="business-features__item-text">Управление бизнесом онлайн</span>
          </div>
        </div>
        <div class="business-features__cell">
          <div class="business-features__item">
            <div class="business-features__item-image">
              {{> components/image img="business/home/feature_04" ext="png"}}
            </div>
            <span class="business-features__item-text">Надежная защита денег</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
