.page {
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
  }

  &__header {
    position: relative;
  }

  &__container {
    width: 100%;
    max-width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
    @include media(mobile) {
      padding: 0 15px;
    }
  }

  &__content {
    flex: 1 0 auto;
    min-height: 1px;
  }

  &__footer {
    flex-shrink: 0;
  }
}
