<div class="header-search__result js-header-search__result">
  <ul class="header-search__results">
    <li class="header-search__results-item">
      <a href="#" class="header-search__results-link">
        <span class="header-search__results-title"><mark>Карты</mark> рассрочки</span>
        <span class="header-search__results-category">Карты</span>
      </a>
    </li>
    <li class="header-search__results-item">
      <a href="#" class="header-search__results-link">
        <span class="header-search__results-title">Сделайте ваши расчеты более удобными с картами МТБанка!</span>
        <span class="header-search__results-category">Карты Master Card</span>
      </a>
    </li>
    <li class="header-search__results-item">
      <a href="#" class="header-search__results-link">
        <span class="header-search__results-title">«Hello, world!», или <mark>Карта</mark> для тех, кто летает</span>
        <span class="header-search__results-category">Акции</span>
      </a>
    </li>
    <li class="header-search__results-item">
      <a href="#" class="header-search__results-link">
        <span class="header-search__results-title"><mark>Автокарта</mark> от МТБанка – это уникальный банковский продукт, не имеющий аналогов  в Беларуси. </span>
        <span class="header-search__results-category">Акции</span>
      </a>
    </li>
    <li class="header-search__results-item">
      <a href="#" class="header-search__results-link">
        <span class="header-search__results-title">Кредитные <mark>карты</mark></span>
        <span class="header-search__results-category">Карты</span>
      </a>
    </li>
  </ul>
  <div class="header-search__summary">
    <a href="#" class="header-search__summary-link">Все результаты поиска: 98</a>
  </div>
</div>
