<div class="header-search__intro js-header-search__intro">
  <div class="header-search__section">
    <div class="header-search__header">
      <span class="header-search__title">Ранее вы искали</span>
      <button class="header-search__reset">Очистить</button>
    </div>
    <ul class="header-search__list">
      <li class="header-search__list-item">
        <button class="header-search__list-action">Карты рассрочки</button>
      </li>
      <li class="header-search__list-item">
        <button class="header-search__list-action">Кредиты</button>
      </li>
      <li class="header-search__list-item">
        <button class="header-search__list-action">Карты для путешествия</button>
      </li>
      <li class="header-search__list-item">
        <button class="header-search__list-action">Кредитные карты</button>
      </li>
    </ul>
  </div>
  <div class="header-search__section">
    <div class="header-search__header">
      <span class="header-search__title">Вызможно вы ищите</span>
    </div>
    <ul class="header-search__list">
      <li class="header-search__list-item">
        <button class="header-search__list-action">Курсы валют</button>
      </li>
      <li class="header-search__list-item">
        <button class="header-search__list-action">Офисы</button>
      </li>
      <li class="header-search__list-item">
        <button class="header-search__list-action">Взять кредит</button>
      </li>
    </ul>
  </div>
</div>
