<div class="app-download js-app-download">
  <div class="container">
    <div class="app-download__inner">
      <div class="app-download__left">
        <a href="#" target="_blank" class="app-download__image">
          {{>components/image img='common/mobileapp-icon' ext='png'}}
        </a>
      </div>
      <div class="app-download__center">
        <span class="app-download__text">Скачай приложение Мой банк для Android</span>
      </div>
      <div class="app-download__right">
        <button class="app-download__close js-app-download__close">
          {{>ui/svg name="app-download-close"}}
        </button>
      </div>
    </div>
  </div>
</div>
