<section class="section">
  <div class="container-770">
    <div class="static">
      <p>Индивидуальный курс – это курс, отличающийся от текущего курса, установленного в кассах Банка на покупку,
        продажу и
        конверсию иностранных валют при совершении физическим лицом валютно-обменных операций на сумму, превышающую 20
        000
        USD
        в эквиваленте.</p>

      <p>Для клиентов, желающих провести две последовательные валютно-обменные операции (банковская покупка - банковская
        продажа иностранной валюты) существует возможность установления минимальной маржи для проведения данных
        сделок.</p>

      <p>Хотим обратить Ваше внимание, что при покупке Банком наличной иностранной валюты, зачисление белорусских рублей
        на
        счет получателя осуществляется без комиссии.</p>

      <p>Обменять валюту по индивидуальному курсу и/или осуществить безналичный перевод белорусских рублей на счет
        получателя
        в рамках валютно-обменной операции возможно во всех отделениях Банка. Выбрать удобное отделение для совершения
        валютно-обменной операции Вы можете в Разделе «Отделения».</p>

      <p><b>Для установки индивидуального курса и для получения подробной информации об индивидуальных курсах и месте
        совершения операции Вы можете связаться с валютным отделом Банка по номеру телефона +375 29 366 72 52 в Пн-Чт -
        с
        9:00
        до 17:30, Пт - с&nbsp;9:00 до&nbsp;16:30.</b></p>
    </div>
  </div>
</section>
