<template id="tpl-zoom-control">
  <div class="zoom-control" data-container>
    <button id='zoom-in' class='zoom-control__button'>
      {{> ui/svg name="action--add" }}
    </button>
    <button id='zoom-out' class='zoom-control__button'>
      {{> ui/svg name="action--remove" }}
    </button>
  </div>
</template>
