<section class="section sidebar-section">
  <div class="container sidebar-section__container">
    <div class="sidebar-section__sidebar">
      {{#>blocks/common/sidebar-nav}}
        <ul class="sidebar-nav__list">
          <li><a href="#sidebar-1">Как работает халва mix</a></li>
          <li><a href="#sidebar-2">Зарабатывайте на покупках</a></li>
          <li><a href="#sidebar-3">Скачайте приложение</a></li>
          <li><a href="#sidebar-4">Пополняйте карту</a></li>
          <li><a href="#sidebar-5">Погашайте задолженность</a></li>
          <li><a href="#sidebar-6">Оформление карты</a></li>
        </ul>
      {{/blocks/common/sidebar-nav}}
    </div>
    <div class="sidebar-section__content">
      {{#>blocks/common/sidebar-block id="sidebar-1" title="Как работает халва mix"}}
        <p class="text-regular">
          Покупайте в рассрочку в магазинах-партнерах <br>
          С картой Халва вы сможете купить в рассрочку все, что надо от продуктов до строительных материалов и не
          платить проценты. <br>
          <b>Партнерская сеть более 28 000 магазинов</b>
        </p>

        {{>ui/btn label="Смотреть магазины партнеры"}}

        <ol class="list-regular">
          <li>Выберите подходящий магазин. В нашей сети более 28 000 магазинов.</li>
          <li>Рассчитайтесь Халвой на кассе. Без оформления дополнительных бумажек и ожидания.</li>
          <li>Вносите платеж 1 раз в месяц. Траты по всем покупкам по Халве делятся на равные части
            и объединяются в разовый ежемесячный платеж.
          </li>
        </ol>
      {{/blocks/common/sidebar-block}}
      {{#>blocks/common/sidebar-block id="sidebar-2" title="Зарабатывайте на покупках"}}
        <p class="text-regular">При желании можно пополнить карту Халва своими деньгами и зарабатывать Мани-бэк.
          Рассчитываться картой при этом можнов двух случаях:</p>

        <ul class="list-regular">
          <li>Вне сети партнеров как в Беларуси, так и за пределами страны;</li>
          <li>В сети партнеров в случае, если кредитного лимита недостаточно для полной оплаты
            покупки в рассрочку.
          </li>
        </ul>


        <div class="content-note">
          <b>Важно:</b>
          <p>Рассчитываться картой Халва вне сети партнеров можно только за счет собственных средств. За покупки,
            оплаченные собственными средствами, вы получаете Мани-бэк .</p>
        </div>
      {{/blocks/common/sidebar-block}}
      {{#>blocks/common/sidebar-block id="sidebar-3" title="Скачайте приложение"}}
        <p class="text-regular">
          Ближайшие магазины и лучшие предложения в вашем смартфоне.
        </p>
      {{/blocks/common/sidebar-block}}
      {{#>blocks/common/sidebar-block id="sidebar-4" title="Пополняйте карту"}}
        <p class="text-regular">
          Переводите деньги на Халву онлайн с карты любого банка.
        </p>
      {{/blocks/common/sidebar-block}}
      {{#>blocks/common/sidebar-block id="sidebar-5" title="Погашайте задолженность"}}
        <ol class="list-regular">
          <li>После пополнения карты на сумму ежемесячного платежа, перейдите в интернет- или мобильный
            банк и погасите задолженность.
          </li>
          <div class="content-note">
            <b>Важно:</b>
            <p>Рассчитываться картой Халва вне сети партнеров можно только за счет собственных средств. За покупки,
              оплаченные собственными средствами, вы получаете Мани-бэк .</p>
          </div>
          <li>Погасите задолженность, используя кнопку «Погасить» в личном кабинете Интернет-банка
            mybank.by или Мобильном банке «Мой банк».
          </li>
        </ol>

        <p class="text-regular">
          Собственные средства на счете карты Халва не перечисляются автоматически для погашения минимального
          ежемесячного платежа, а хранятся на вашем текущем счете и доступны для использования. Автоматическое погашение
          задолженности за счет собственных средств клиента на карте производится только в платежную дату.
          <br>
          Владельцы карт могут самостоятельно погасить задолженность по карте Халва за счет собственных средств до
          платежной даты через Интернет-банк mybank.by или Мобильный банк, используя сервис «Погашение кредита» (кнопка
          «Погасить»), либо обратившись к специалисту ОК-Центра МТБанка. Вы можете также воспользоваться услугой
          «Автопогашение». Подключить данную услугу можно, позвонив в ОК-Центра МТБанка или обратившись в отделение
          МТБанка для физических лиц.
        </p>
      {{/blocks/common/sidebar-block}}
      {{#>blocks/common/sidebar-block id="sidebar-6" title="Погашайте задолженность"}}
        <p class="text-regular">
          Аналогично с др. продуктами
        </p>
      {{/blocks/common/sidebar-block}}
    </div>
  </div>
</section>
