<section class="promotions-header">
  <div class="container-770">
    <div class="promotions-header__content">
      <div class="promotions-header__icon">
        {{>components/image img="internal/about-promotions/single/calendar" ext="png"}}
      </div>
      <div class="promotions-header__text">
        <span class="promotions-header__terms">Действует еще 12 дней</span>
        <span class="promotions-header__period">с 19.07.20 по 25.07.20</span>
      </div>
    </div>
  </div>
</section>
