<section class="section">
  <div class="container-770">
    <div class="static static--promotions">
      <p>Скидки и сезонные распродажи – это прекрасно, но они, скорее, исключение, чем правило, а зарабатывать на
        покупках хочется постоянно. Тратьте каждый рубль с умом, совершая покупки по карте Халва Плюс.</p>

      <h3>Что нужно делать?</h3>

      <ol>
        <li><a href="#">Оформите</a> бонусную карту Халва Плюс</li>
        <li>Получите на счет 10 приветственных бонусных баллов.</li>
        <li>Расчитывайтесь в магазинах-партнерах и возвращайте до 10% баллами на карту от каждой
          покупки!
        </li>
      </ol>

      <h3>Что такое Халва Плюс</h3>

      <p>Халва Плюс – бонусная карта, с которой любая покупка выгодна. Вы рассчитываетесь картой и получаете за это
        бонусные баллы. Чем больше вы тратите, тем больше баллов возвращается на карту. Копите их и оплачивайте баллами
        новые покупки в сети партнеров.</p>
    </div>
  </div>
</section>
