<section class="section">
  <div class="container-770">
    <div class="promotions-related">
      <div class="promotions-related__header">
        <h2 class="promotions-related__title">Другие акции</h2>

        <div class="promotions-related__header-btn">
          {{>ui/btn label="Все акции по картам"}}
        </div>
      </div>

      <div class="promotions-related__content">
        <ul class="promotions-related__list">
          <li class="promotions-related__item">
            {{>widgets/related-promotion
                    img="1"
                    title="Сократи расходы на авто с Автокартой!"
                    text="Какой автовладелец не мечтает об идеальном состоянии машины, а заодно о небольших расходах на его поддержание?"
                    label="Действует еще 3 дня"
            }}
          </li>
          <li class="promotions-related__item">
            {{>widgets/related-promotion
                    img="2"
                    title="Такси Пятница со скидкой 7%"
                    text="Это современное такси с высокими стандартами, созданное специально для людей."
                    label="Последний день акции"
            }}
          </li>
          <li class="promotions-related__item">
            {{>widgets/related-promotion
                    img="3"
                    title="Яндекс.Такси со скидкой 20%"
                    text="По 31.05.2020 предлагаем скидку 20% на поездки c Яндекс.Такси по тарифам Комфорт+ и Бизнес держателям премиальной карточки World Mastercard Black Edition."
                    label="Действует всегда"
            }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
