<section class="section">
  <div class="container-880">
    <div class="faq">
      <div class="faq__section">
        <div class="faq__header">
          <span class="faq__title">Установка приложения</span>
        </div>
        <div class="faq__content">
          <ul class="faq__list js-accordion">
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Как начать пользоваться мобильным банком?"}}
                {{> blocks/services/mobile-bank-faq/faq-item}}
              {{/blocks/common/accordion-item}}
            </li>
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Добавление карт в приложении" }}
                {{> blocks/services/mobile-bank-faq/faq-item}}
              {{/blocks/common/accordion-item}}
            </li>
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Подключение услуг"}}
                {{> blocks/services/mobile-bank-faq/faq-item}}
              {{/blocks/common/accordion-item}}
            </li>
          </ul>
        </div>
      </div>

      <div class="faq__section">
        <div class="faq__header">
          <span class="faq__title">Оплата и переводы</span>
        </div>
        <div class="faq__content">
          <ul class="faq__list js-accordion">
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Как начать пользоваться мобильным банком?"}}
                {{> blocks/services/mobile-bank-faq/faq-item}}
              {{/blocks/common/accordion-item}}
            </li>
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Добавление карт в приложении" }}
                {{> blocks/services/mobile-bank-faq/faq-item}}
              {{/blocks/common/accordion-item}}
            </li>
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Подключение услуг"}}
                {{> blocks/services/mobile-bank-faq/faq-item}}
              {{/blocks/common/accordion-item}}
            </li>
          </ul>
        </div>
      </div>

      <div class="faq__section">
        <div class="faq__header">
          <span class="faq__title">Управление продуктами</span>
        </div>
        <div class="faq__content">
          <ul class="faq__list js-accordion">
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Как поменять PIN код карты"}}
                {{> blocks/services/mobile-bank-faq/faq-item}}
              {{/blocks/common/accordion-item}}
            </li>
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Как открыть вклад" }}
                {{> blocks/services/mobile-bank-faq/faq-item}}
              {{/blocks/common/accordion-item}}
            </li>
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Подключение услуг"}}
                {{> blocks/services/mobile-bank-faq/faq-item}}
              {{/blocks/common/accordion-item}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
