<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Быстрый лизинг автотранспорта и спецтехники</h2>
    </header>
    <div class="section__content">
      <div class="grid-two">
        <div class="grid-two__inner">
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true full-width=true png=true
                    img="business/leasing/01"
                    img-mobile="business/leasing/01-mobile"
                    title="Новых легковые и коммерческие автомобили"
                    text="Текст описание раздела. Текст может быть в несколько строк."
                    button-label="Подробнее" button-primary=true
            }}
          </div>
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true full-width=true png=true
                    img="business/leasing/02"
                    img-mobile="business/leasing/02-mobile"
                    title="Автомобили с пробегом"
                    text="Текст описание раздела. Текст может быть в несколько строк."
                    button-label="Подробнее" button-primary=true
            }}
          </div>
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true full-width=true png=true
                    img="business/leasing/03"
                    img-mobile="business/leasing/03-mobile"
                    title="Грузовые автомобили"
                    text="Текст описание раздела. Текст может быть в несколько строк."
                    button-label="Подробнее" button-primary=true
            }}
          </div>
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true full-width=true png=true
                    img="business/leasing/04"
                    img-mobile="business/leasing/04-mobile"
                    title="Спец. техника"
                    text="Текст описание раздела. Текст может быть в несколько строк."
                    button-label="Подробнее" button-primary=true
            }}
          </div>
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true full-width=true png=true
                    img="business/leasing/05"
                    img-mobile="business/leasing/05-mobile"
                    title="Возвратный лизинг"
                    text="Текст описание раздела. Текст может быть в несколько строк."
                    button-label="Подробнее" button-primary=true
            }}
          </div>
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true full-width=true png=true
                    img="business/leasing/06"
                    img-mobile="business/leasing/06-mobile"
                    title="Акционные программы ЗАО «МТБанк» по Быстрому лизингу автотранспорта и спецтехники от 0%"
                    text="Текст описание раздела. Текст может быть в несколько строк."
                    button-label="Подробнее" button-primary=true
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
