<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Лизинг оборудования и коммерческой недвижимости</h2>
    </header>
    <div class="section__content">
      <div class="grid-two">
        <div class="grid-two__inner">
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true full-width=true png=true
                    img="business/leasing/07"
                    img-mobile="business/leasing/07-mobile"
                    title="Лизинг оборудования"
                    text="Текст описание раздела. Текст может быть в несколько строк."
                    button-label="Подробнее" button-primary=true
            }}
          </div>
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true full-width=true png=true
                    img="business/leasing/08"
                    img-mobile="business/leasing/08-mobile"
                    title="Лизинг коммерческой недвижимости"
                    text="Текст описание раздела. Текст может быть в несколько строк."
                    button-label="Подробнее" button-primary=true
            }}
          </div>
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true full-width=true png=true
                    img="business/leasing/09"
                    img-mobile="business/leasing/09-mobile"
                    title="Акционные программы ЗАО «МТБанк»"
                    text="Текст описание раздела. Текст может быть в несколько строк."
                    button-label="Подробнее" button-primary=true png=true
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
