{{#> popups/_base id=id}}
  <div class="popup-achievement">
    <span class="popup-achievement__title">{{year}}</span>
    <div class="popup-achievement__content">
      <div class="static">
        {{# times 10}}
          <p>В 2019 году МТБанк завоевал четыре награды премии «Банк года – 2018», номинации за первое место - «Лучший
            средний банк», «Лучший банк с национальным капиталом» и «Выбор пользователей портала Myfin.by – 2018».<br/>
            Карта Халва второй раз подряд выиграла награду «Бренд-года», оказавшись лучшей в своей категории по итогам
            народного голосования.</p>
          <p>MTBankFX получила сразу 5 престижных наград по итогам 2018 года - первое место в номинации «Лидер по
            количеству привлеченных средств клиентов на рынке Форекс» и второе в номинации «Лидер по количеству клиентов
            и совершенных ими операций с положительным финансовым результатом». Кроме того MTBankFX стал абсолютным
            победителем по версии премии Broker.by в номинациях: «Самый популярный брокер», «Лучшее качество
            обслуживания» и «Лучшее обучение для начинающих».</p>
        {{/times}}
      </div>
    </div>
  </div>
{{/ popups/_base}}
