{{#> popups/_base id=id}}
  <div class="popup-person">
    <div class="popup-person__header">
      {{> widgets/person mode="popup" popup=false title=title text=text image=image}}
    </div>
    <div class="popup-person__content">
      <div class="popup-person__section">
        <span class="popup-person__title">Квалификация:</span>
        <div class="popup-person__body">
          <ul>
            <li>Экономист со знанием иностранных языков</li>
            <li>Диплом с отличием</li>
            <li>Опыт работы в Банковской системе: 7&nbsp;лет</li>
          </ul>
        </div>
      </div>
      <div class="popup-person__section">
        <span class="popup-person__title">Курирует структурные подразделения:</span>
        <div class="popup-person__body">
          <ul>
            <li>Управление маркетинга</li>
            <li>Юридическое управление</li>
            <li>Управление безопасности</li>
            <li>Центр управления проектами</li>
            <li>Отдел корпоративного управления</li>
            <li>Управление внутреннего аудита</li>
            <li>Управление внутреннего контроля</li>
            <li>Управление информационной безопасности</li>
            <li>Юридическое управление</li>
          </ul>
        </div>
      </div>
      <div class="popup-person__section">
        <span class="popup-person__title">График личного приема:</span>
        <div class="popup-person__body">
          <p>ВТ: 14:00 - 15:00<br/>
            ЧТ: 15:00 - 16:00</p>
        </div>
      </div>
    </div>
  </div>
{{/ popups/_base}}
