<div class="footer-actions">
  <div class="footer-actions__item footer-actions__item--reviews">
    <a href="#" class="footer-actions__button">
      {{> ui/svg name="additional--book"}}
      Электронная книга отзывов
    </a>
  </div>
  <div class="footer-actions__item footer-actions__item--language">
    <select class="js-link-select visually-hidden">
      <option value="ru" selected data-select-link="#">Русский</option>
      <option value="en" data-select-link="#">Английский</option>
      <option value="by" data-select-link="#">Белорусский</option>
    </select>
  </div>
</div>
