<div class="footer-apps">
  <div class="container">
    <div class="footer-apps__inner">
      <div class="footer-apps__slider">
        <div class="footer-apps__item">
          {{> widgets/app-card img="common/apps/banking" category="Мобильный банкинг" name="MTBank Moby"}}
        </div>
        <div class="footer-apps__item">
          {{> widgets/app-card img="common/apps/denegram" category="Перевод денег" name="Denegram"}}
        </div>
        <div class="footer-apps__item">
          {{> widgets/app-card img="common/apps/halva" category="Карта рассрочки" name="Halva"}}
        </div>
        <div class="footer-apps__item">
          {{> widgets/app-card img="common/apps/x-cart" category="Приложение" name="ИКС карта"}}
        </div>
        <div class="footer-apps__item">
          {{> widgets/app-card img="common/apps/mt-forex" category="Форекс-площадка" name="MTBankFX"}}
        </div>
      </div>
    </div>
  </div>
</div>
