<div class="footer-bottom">
  <div class="container">
    <div class="footer-bottom__inner">
      <div class="footer-bottom__left">
        <div class="footer-bottom__item">© 1994–2019 ЗАО «МТБанк»</div>
        <div class="footer-bottom__item">Лицензия на осуществление банковской деятельности №13 от 06.05.2013г.</div>
      </div>
      <div class="footer-bottom__right">
        <div class="footer-bottom__right-cell">
          <div class="footer-bottom__item">
            <a href="#">Правовая информация о лицензии</a>
          </div>
          <div class="footer-bottom__item">
            <a href="#">Раскрытие информации</a>
          </div>
        </div>
        <div class="footer-bottom__right-cell">
          <div class="footer-bottom__item">
            <a href="#">Политика конфиденциальности</a>
          </div>
          <div class="footer-bottom__item">
            <a href="#">Лицензия</a>
          </div>
        </div>
        <div class="footer-bottom__right-cell">
          <div class="footer-bottom__item">
            <a href="#">Проектирование и дизайн</a> — <span>FlexMedia</span>
          </div>
          <div class="footer-bottom__item">
            <a href="#">Разработка и интеграция</a> — <span>Новый сайт</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
