<div class="footer-buttons">
  <div class="footer-buttons__item">
    <a href="#" class="footer-buttons__link">
      {{> ui/svg name="ui--location"}}
    </a>
  </div>
  <div class="footer-buttons__item">
    <button class="footer-buttons__link">{{> ui/svg name="ui--chat"}}</button>
  </div>
</div>
