<div class="gdpr js-gdpr">
  <div class="gdpr__inner">
    <p class="gdpr__text">
      ЗАО "МТБанк" использует на сайте файлы cookie для персонализации сервисов и удобства пользователей.<br/>
      <a href="#">Узнайте больше</a> о том, как мы используем cookie и как вы можете изменить свои настройки
    </p>
    <div class="gdpr__actions">
      <div class="gdpr__actions-item">
        {{>ui/btn label="Покинуть сайт" color="gray-80" btn-mode="simple" button=true mode="js-gdpr__reject"}}
      </div>
      <button class="gdpr__actions-item">
        <button class="gdpr__btn js-gdpr__accept" type="button">Согласен</button>
      </button>
    </div>
  </div>
</div>
