<nav class="footer-nav">
  <div class="footer-nav__cell">
    <div class="js-footer-menu">
      <div class="footer-nav__header">
        <a href="#" class="footer-nav__header-link js-footer-menu__toggle">Частным клиентам</a>
      </div>
      <div class="footer-nav__content js-footer-menu__body">
        <ul class="footer-nav__menu">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Кредиты</a>
          </li>
          <li class="footer-nav__item">
            <a href="debit-cards.html" class="footer-nav__item-link">Карты</a>
          </li>
          <li class="footer-nav__item">
            <a href="deposits.html" class="footer-nav__item-link">Вклады</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Страхование</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Сервисы</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Мобильные платежи</a>
          </li>
          <li class="footer-nav__item">
            <a href="about--promotions.html" class="footer-nav__item-link">Акции</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Курсы валют</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">MTB.tickets</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-nav__cell">
    <div class="js-footer-menu">
      <div class="footer-nav__header">
        <a href="#" class="footer-nav__header-link js-footer-menu__toggle">Бизнесу</a>
      </div>
      <div class="footer-nav__content js-footer-menu__body">
        <ul class="footer-nav__menu">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Финансирование</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Расчёты</a>
          </li>
          <li class="footer-nav__item">
            <a href="deposits.html" class="footer-nav__item-link">Депозиты</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Сервисы</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Эквайринг</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Крупному бизнесу</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-nav__cell">
    <div class="js-footer-menu">
      <div class="footer-nav__header">
        <a href="#" class="footer-nav__header-link js-footer-menu__toggle">Банк</a>
      </div>
      <div class="footer-nav__content  js-footer-menu__body">
        <ul class="footer-nav__menu">
          <li class="footer-nav__item">
            <a href="about--about-us.html" class="footer-nav__item-link">О нас</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Контакт-центр</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Отделения и банкоматы</a>
          </li>
          <li class="footer-nav__item">
            <a href="about--pricing.html" class="footer-nav__item-link">Тарифы и документы</a>
          </li>
          <li class="footer-nav__item">
            <a href="about--career-vacancies.html" class="footer-nav__item-link">Работа в банке</a>
          </li>
          <li class="footer-nav__item">
            <a href="about--press-single.html" class="footer-nav__item-link">Пресс-центр</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Корресподнентам</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Реквизиты</a>
          </li>
          <li class="footer-nav__item">
            <a href="about--tenders.html" class="footer-nav__item-link">Тендеры</a>
          </li>
          <li class="footer-nav__item">
            <a href="about--property.html" class="footer-nav__item-link">Реализация имущества</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Учебный портал</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Раскрытие информации</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-nav__cell">
    <div class="js-footer-menu">
      <div class="footer-nav__header">
        <a href="#" class="footer-nav__header-link js-footer-menu__toggle">Инвестиции</a>
      </div>
      <div class="footer-nav__content js-footer-menu__body">
        <ul class="footer-nav__menu">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Частным лицам</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__item-link">Бизнесу</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
