<div class="footer-phones">
  {{#if business}}
    <div class="footer-phones__item">
      <a href="tel:+375296304116" class="footer-phones__phone">+375 29 630 41 16</a>
      <span class="footer-phones__name">Линия поддержки РКО</span>
    </div>
    <div class="footer-phones__item">
      <a href="tel:+375291810000" class="footer-phones__phone">+375 29 181 00 00</a>
      <span class="footer-phones__name">Корпоративные клиенты</span>
    </div>
  {{else}}
    <div class="footer-phones__item">
      <a href="tel:+375296993972" class="footer-phones__phone">+375 29 699 39 72</a>
      <span class="footer-phones__name">Частные клиенты</span>
    </div>
    <div class="footer-phones__item">
      <a href="tel:+375291810000" class="footer-phones__phone">+375 29 181 00 00</a>
      <span class="footer-phones__name">Корпоративные клиенты</span>
    </div>
  {{/if}}
</div>
