<div class="footer-socials">
  <div class="footer-socials__item">
    {{> widgets/social-button social="youtube" white=true small=true}}
  </div>
  <div class="footer-socials__item">
    {{> widgets/social-button social="vkontakte" white=true small=true}}
  </div>
  <div class="footer-socials__item">
    {{> widgets/social-button social="instagram" white=true small=true}}
  </div>
  <div class="footer-socials__item">
    {{> widgets/social-button social="facebook" white=true small=true}}
  </div>
</div>
