<section class="section">
  <div class="container">
    <header class="section__header section__header--simple">
      <h2 class="section__title">Кто может стать агентом?</h2>
    </header>
    <div class="section__content">
      <div class="row-two row-two--tablet-small row-two--mobile-column">
        <div class="row-two__inner">
          <div class="row-two__cell">
            {{> widgets/product-banner
                    img="business/referral/banner_01" png=true
                    img-mobile="business/referral/banner_01-mobile"
                    title="Любое физическое лицо"
                    text="Вам предстоит вспомнить всех своих знакомых бизнесменов. Расскажите им о&nbsp;МТБанке."
                    button-label="Стать агентом"
            }}
          </div>
          <div class="row-two__cell">
            {{> widgets/product-banner
                    img="business/referral/banner_02" png=true
                    img-mobile="business/referral/banner_02-mobile"
                    title="Организация"
                    text="Вам предстоит вспомнить всех своих знакомых бизнесменов. Расскажите им о&nbsp;МТБанке."
                    button-label="Стать агентом"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
