<section class="section">
  <div class="container">
    <div class="credit-features">
      <div class="credit-features__grid">
        <div class="credit-features__cell">
          <div class="credit-features__item">
            {{>widgets/advantage-card
                    img="deposits/credit-single/features/01"
                    ext="png"
                    title="Гибкие условия"
                    text="Кредит на сумму от 500 до 15 000 рублей BYN. Срок кредита от 1 до 12 месяцев."
            }}
          </div>
        </div>
        <div class="credit-features__cell">
          <div class="credit-features__item">
            {{>widgets/advantage-card
                    img="deposits/credit-single/features/02"
                    ext="png"
                    title="На любые цели"
                    text="Кредит «Выручай»  вы можете взять на любые цели и покупки."
            }}
          </div>
        </div>
        <div class="credit-features__cell">
          <div class="credit-features__item">
            {{>widgets/advantage-card
                    img="deposits/credit-single/features/03"
                    ext="png"
                    title="Доступность"
                    text="Без справки о доходах, залога и поручителей."
            }}
          </div>
        </div>
        <div class="credit-features__cell">
          <div class="credit-features__item">
            {{>widgets/advantage-card
                    img="deposits/credit-single/features/04"
                    ext="png"
                    title="Досрочное погашение"
                    text="Вы можете погасить всю задолженность по кредиту без каких либо штрафов и процентов."
            }}
          </div>
        </div>
        <div class="credit-features__cell">
          <div class="credit-features__item">
            {{>widgets/advantage-card
                    img="deposits/credit-single/features/05"
                    ext="png"
                    title="Медицинская страховка"
                    text="Возможность заключения договора добровольного страхования медицинских расходов."
            }}
          </div>
        </div>
        <div class="credit-features__cell">
          <div class="credit-features__item">
            {{>widgets/advantage-card
                    img="deposits/credit-single/features/06"
                    ext="png"
                    title="Удобное пополнение"
                    text="Пополнение счета через интернет банкинг, в отделениях и банкоматах."
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
