<section class="section">
  <div class="container">
    <div class="credit-banner">

      <div class="section__bg">
        {{>components/image img="deposits/credit-single/banner/bg" ext="jpg"}}
      </div>

      <h2 class="credit-banner__title">Удобное погашение кредита</h2>
      <p class="credit-banner__text">Погашение кредита удобным для вас способом</p>

      <div class="credit-banner__row">
        <div class="credit-banner__cell">
          <div class="credit-banner__item">
            <div class="credit-banner__item-image">
              {{>components/image img="deposits/credit-single/banner/01" ext="png"}}
            </div>
            <div class="credit-banner__item-content">
              <span class="credit-banner__item-title">Онлайн погашение</span>
              <p class="credit-banner__item-text">Погашение кредита в пару кликов в&nbsp;мобильном интернет-банке, а также
                через сайт perevod.mtbank.by.</p>
            </div>
          </div>
        </div>
        <div class="credit-banner__cell">
          <div class="credit-banner__item">
            <div class="credit-banner__item-image">
              {{>components/image img="deposits/credit-single/banner/02" ext="png"}}
            </div>
            <div class="credit-banner__item-content">
              <span class="credit-banner__item-title">Офлайн погашение</span>
              <p class="credit-banner__item-text">Погашение через кассу МТБанка, а также терминал самообслуживания.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
