.home-main {
  position: relative;
  height: 490px;

  .btn {
    box-shadow: 0px 9px 20px rgba(48, 66, 117, 0.13);
  }

  .container,
  .page__container {
    height: 100%;
  }

  @include smallTablet-and-mobile {
    height: auto;
    background: #eef2fb;
  }

  &__link {
    @include fill;
    z-index: 1;
    cursor: pointer;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    height: 8px;
  }


  &__slide {
    position: relative;
    cursor: pointer;

    @include smallTablet-and-mobile {
      background: #eef2fb;
    }

    height: 490px;
    @include smallTablet-and-mobile {
      height: auto;
    }
  }

  &__bg {
    @include fill;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }

    @include smallTablet-and-mobile {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 2;

    @include smallTablet-and-mobile {
      min-height: auto;
      display: block;
      background: #EEF2FB;
    }
  }

  &__image {
    flex: 0 1 550px;
    min-width: 550px;

    @include desktop {
      max-height: 490px;
    }

    @include smallTablet-and-mobile {
      min-width: 0;
    }

    @include smallTablet {
      img {
        width: 100%;
      }
    }

    @include tablet {
      min-height: 360px;
      margin: 0 -20px;
    }

    @include mobile {
      //height: 211px;
      margin: 0 -15px;
    }
  }

  &__content {
    flex: 1 1 auto;
    margin-left: 110px;
    margin-right: 50px;

    @include smallTablet-and-mobile {
      padding: 50px 0;
      margin: 0;
    }

    @include mobile {
      padding: 30px 0 50px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    @include text-h1;

    @include tablet {
      font-size: 30px;
      line-height: 120%;
    }
  }

  &__text {
    margin: 15px 0 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 158.5%;
    letter-spacing: -0.04em;
    color: $color-gray-80;

    @include smallTablet-and-mobile {
      font-size: 15px;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    margin-top: 50px;

    @include smallTablet-and-mobile {
      margin-top: 30px;
    }

    &-item {
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }

    &-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.04em;
      color: $color-gray-100;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 26px;
    z-index: z(default) + 2;

    @include smallTablet-and-mobile {
      display: none;
    }

    &-inner {
      display: flex;
      justify-content: flex-end;
      align-content: center;

      > * + * {
        margin-left: 25px;
      }
    }
  }

  @include mobile {
    .button-and-more__link {
      margin-left: 26px;
    }
  }
}
