<section class="section">
  <div class="container">
    <div class="js-steps">
      <header class="section__header section__header--center">
        <h2 class="section__title">Как это работает?</h2>
      </header>
      <div class="section__content">
        <div class="steps-content">
          <div class="steps-content__row">
            {{> blocks/business/loyalty/_step title="Заполните анкету участника" icon="01"}}
            {{> blocks/business/loyalty/_step title="В течении 5 дней пройдет активация" icon="02"}}
            {{> blocks/business/loyalty/_step title="Зарабатывайте и накапливайте МТБаллы" icon="03"}}
            {{> blocks/business/loyalty/_step title="Передайте заявку на бонус" icon="04"}}
            {{> blocks/business/loyalty/_step title="Предоставление вам бонусов" icon="05"}}
          </div>
          <div class="steps-content__scene js-steps__scene">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="js-steps">
      <header class="section__header section__header--center">
        <h2 class="section__title">Как это работает?</h2>
        <div class="section__header-right">
          {{> components/slider-nav small=true}}
        </div>
      </header>
      <div class="section__content">
        <div class="steps-content">
          <div class="steps-content__row js-steps__slider swiper-container">
            <div class="swiper-wrapper">
              {{> blocks/business/loyalty/_step title="Заполните анкету участника" icon="01"}}
              {{> blocks/business/loyalty/_step title="В течении 5 дней пройдет активация" icon="02"}}
              {{> blocks/business/loyalty/_step title="Зарабатывайте и накапливайте МТБаллы" icon="03"}}
              {{> blocks/business/loyalty/_step title="Передайте заявку на бонус" icon="04"}}
              {{> blocks/business/loyalty/_step title="Предоставление вам бонусов" icon="05"}}
              {{> blocks/business/loyalty/_step title="2 Заполните анкету участника" icon="01"}}
              {{> blocks/business/loyalty/_step title="2 В течении 5 дней пройдет активация" icon="02"}}
              {{> blocks/business/loyalty/_step title="2 Зарабатывайте и накапливайте МТБаллы" icon="03"}}
              {{> blocks/business/loyalty/_step title="2 Передайте заявку на бонус" icon="04"}}
              {{> blocks/business/loyalty/_step title="2 Предоставление вам бонусов" icon="05"}}
            </div>
          </div>
          <div class="steps-content__scene js-steps__scene">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


