<section class="section">
  <div class="container">
    <div class="grid-two grid-two--tablet-row">
      <div class="grid-two__inner">
        <div class="grid-two__cell">
          {{> widgets/product-banner small=true list-big=true full-width=true png=true
                  img="business/loyalty/banner_01"
                  img-mobile="business/loyalty/banner_01-mobile"
                  title="Копите бонусы"
                  item-1="Пользуясь услугами МТБанка"
                  item-2="Активно участвуя в жизни Банка"
                  item-3="Участвуя в опросах"
          }}
        </div>
        <div class="grid-two__cell">
          {{> widgets/product-banner small=true text-wide=true full-width=true png=true
                  img="business/loyalty/banner_02"
                  img-mobile="business/loyalty/banner_02-mobile"
                  title="Тратьте бонусы на услуги"
                  text="Вы можете выбрать что-то из постоянно доступных скидок на услуги МТБанка или получить персональное предложение в рамках акций для участников Программы лояльности."
                  link-label="Перейти в Личный кабинет"
          }}
        </div>
      </div>
    </div>
  </div>
</section>
