.about-buttons {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-right: -24px;

    @include mobile {
      display: block;
      margin: 0;
    }
  }

  &__item {
    flex: 1 1 25%;
    padding: 0 24px;
    margin-top: 24px;

    @include desktop {
      &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        margin-top: 0;
      }
    }

    @include tablet {
      flex-basis: 50%;
      &:first-child, &:nth-child(2) {
        margin-top: 0;
      }
    }

    @include mobile {
      padding: 0;
      margin-top: 15px;
    }
  }
}
