<section class="section">
  <div class="container">
    <div class="mixmax-cards">
      <ul class="mixmax-cards__list">
        <li class="mixmax-cards__item">
          {{#>widgets/mixmax-card card="mix" img="cards/mixmax/card/mix" ext="jpg"}}
            <ul>
              <li>Рассрочка без процентов и первого взноса в крупнейшей партнерской сети</li>
              <li>Рассрочка на оплату коммунальных услуг в ЕРИП</li>
              <li>Мани-бэк до 1% за покупки своими деньгами вне сети партнеров</li>
              <li>Лимит до 1 000 руб.</li>
              <li>Погашение задолженности до 15-го числа</li>
            </ul>
            <ul class="primary">
              <li>+ 2 дополнительных месяца рассрочки к любой покупке в сети партнеров</li>
              <li>Продление рассрочки на выбранную покупку</li>
              <li>Снятие наличных за счет кредитного лимита</li>
              <li>Бесплатное обслуживание карты при покупках на сумму не менее 300 руб. в месяц</li>
            </ul>
          {{/widgets/mixmax-card}}
        </li>
        <li class="mixmax-cards__item">
          {{#>widgets/mixmax-card card="max" img="cards/mixmax/card/max" ext="jpg"}}
            <ul>
              <li>Рассрочка без процентов и первого взноса в крупнейшей партнерской сети</li>
              <li>Рассрочка на оплату коммунальных услуг в ЕРИП</li>
              <li>Мани-бэк до 1.5% за покупки своими деньгами вне сети партнеров</li>
              <li>Лимит до 5 000 руб.</li>
              <li>Погашение задолженности до 20-го числа</li>
            </ul>
            <ul class="primary">
              <li>+ 2 дополнительных месяца рассрочки к любой покупке в сети партнеров</li>
              <li>Продление рассрочки на выбранную покупку</li>
              <li>Снятие наличных за счет кредитного лимита</li>
              <li>Бесплатное обслуживание карты при покупках на сумму не менее 300 руб. в месяц</li>
            </ul>
          {{/widgets/mixmax-card}}
        </li>
      </ul>
    </div>
  </div>
</section>
