<section class="section">
  <div class="container-770">
    <div class="section__content">
      <div class="vacancy-list">
        <ul class="vacancy-list__grid">
          <li class="vacancy-list__item">
            {{> widgets/vacancy-card
                title="Кредитный эксперт"
                category="Управление персоналом"
                description="ОТЛИЧНОЕ знание бух. учета предприятия (даже, если нет практического опыта, но отличные теоретические знания - мы готовы с Вами пообщаться!); высшее..."
                city="Минск"
                direction="Малый бизнес"
                no-exp=true
            }}
          </li>
          <li class="vacancy-list__item">
            {{> widgets/vacancy-card
                title="Юрисконсульт сектора юридического сопровождения процедур взыскания проблемной задолженности"
                category="Информационные технологии"
                description="Высшее юридическое образование; Опыт претензионно-исковой работы не менее 2-х лет; Уверенное знание гражданского, процессуального законодательства..."
                city="Гродно"
                direction="Сервистный чентр"
            }}
          </li>
          <li class="vacancy-list__item">
            {{> widgets/vacancy-card
                title="Ассистент клиент-менеджера"
                category="Корпоративный бизнес"
                description="ОТЛИЧНОЕ знание бух. учета предприятия (даже, если нет практического опыта, но отличные теоретические знания - мы готовы с Вами пообщаться!); высшее..."
                city="Минск"
                direction="Малый бизнес"
            }}
          </li>
          <li class="vacancy-list__item">
            {{> widgets/vacancy-card
                title="Кредитный эксперт"
                category="Риски"
                description="ОТЛИЧНОЕ знание бух. учета предприятия (даже, если нет практического опыта, но отличные теоретические знания - мы готовы с Вами пообщаться!); высшее..."
                city="Минск"
                direction="Малый бизнес"
                no-exp=true
            }}
          </li>
          <li class="vacancy-list__item">
            {{> widgets/vacancy-card
                title="Главный специалист Отдела расчетов и платежей "
                category="Главный специалист Отдела расчетов и платежей "
                description="Высшее юридическое образование; Опыт претензионно-исковой работы не менее 2-х лет; Уверенное знание гражданского, процессуального законодательства..."
                city="Гродно"
                direction="Сервистный чентр"
            }}
          </li>
          <li class="vacancy-list__item">
            {{> widgets/vacancy-card
                title="Кредитный эксперт"
                category="Риски"
                description="ОТЛИЧНОЕ знание бух. учета предприятия (даже, если нет практического опыта, но отличные теоретические знания - мы готовы с Вами пообщаться!); высшее..."
                city="Минск"
                direction="Малый бизнес"
                no-exp=true
            }}
          </li>
          <li class="vacancy-list__item">
            {{> widgets/vacancy-card
                title="Юрисконсульт сектора юридического сопровождения процедур взыскания проблемной задолженности"
                category="Информационные технологии"
                description="Высшее юридическое образование; Опыт претензионно-исковой работы не менее 2-х лет; Уверенное знание гражданского, процессуального законодательства..."
                city="Гродно"
                direction="Сервистный чентр"
            }}
          </li>
          <li class="vacancy-list__item">
            {{> widgets/vacancy-card
                title="Ассистент клиент-менеджера"
                category="Корпоративный бизнес"
                description="ОТЛИЧНОЕ знание бух. учета предприятия (даже, если нет практического опыта, но отличные теоретические знания - мы готовы с Вами пообщаться!); высшее..."
                city="Минск"
                direction="Малый бизнес"
            }}
          </li>
          <li class="vacancy-list__item">
            {{> widgets/vacancy-card
                title="Кредитный эксперт"
                category="Риски"
                description="ОТЛИЧНОЕ знание бух. учета предприятия (даже, если нет практического опыта, но отличные теоретические знания - мы готовы с Вами пообщаться!); высшее..."
                city="Минск"
                direction="Малый бизнес"
                no-exp=true
            }}
          </li>
          <li class="vacancy-list__item">
            {{> widgets/vacancy-card
                title="Главный специалист Отдела расчетов и платежей "
                category="Главный специалист Отдела расчетов и платежей "
                description="Высшее юридическое образование; Опыт претензионно-исковой работы не менее 2-х лет; Уверенное знание гражданского, процессуального законодательства..."
                city="Гродно"
                direction="Сервистный чентр"
            }}
          </li>
        </ul>
        <div class="vacancy-list__add-btn">
          {{>ui/btn label="Показать больше" color="primary"}}
        </div>
      </div>
    </div>
  </div>
</section>
