<section class="section section--gray">
  <div class="container">
    <div class="banners-list__item">
      {{> banners/insurance
              img="01"
              img-mobile="01-mobile"
              title="Страхование домашнего имущества и&nbsp;гражданской ответственности"
              text="Страхование домашнего имущества, отделки квартиры и гражданской ответственности перед соседями – все это в одном договоре!"
              feature-1-label="Страховой взнос"
              feature-1-value="6,25 BYN в квартал"
              feature-2-label="Макс. страховая сумма"
              feature-2-value="до 168 000 BYN"
              feature-3-label="Срок страхования"
              feature-3-value="1 год"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="02"
              img-mobile="02-mobile"
              title="Добровольное медицинское страхование “Имклива иншуранс”"
              text="Договор добровольного страхования медицинских расходов всегда на страже вашего здоровья."
              feature-1-label="Страховой взнос"
              feature-1-value="6,25 BYN в квартал"
              feature-2-label="Макс. страховая сумма"
              feature-2-value="до 168 000 BYN"
              feature-3-label="Срок страхования"
              feature-3-value="1 год"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="03"
              img-mobile="02-mobile"
              title="Страхование недвижимости и имущества граждан "
              text="Добровольное страхование домов и строений поможет решить все страховые вопросы одним договором."
              feature-1-label="Страховой взнос"
              feature-1-value="6,25 BYN в квартал"
              feature-2-label="Макс. страховая сумма"
              feature-2-value="до 168 000 BYN"
              feature-3-label="Срок страхования"
              feature-3-value="1 год"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="04"
              img-mobile="02-mobile"
              title="Страхование квартиры и загородного дома"
              text="«Багата Хата» - комплексный страховой продукт, позволяющий защитить квартиру, загородный дом (дачу), имущество в них и ответственности перед соседями в одном договоре страхования."
              feature-1-label="Страховой взнос"
              feature-1-value="2 USD/EUR"
              feature-2-label="Макс. страховая сумма"
              feature-2-value="до 168 000 BYN"
              feature-3-value="Срок пребывания за границей"
              feature-3-value="до 120 дней"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="05"
              img-mobile="02-mobile"
              title="Добровольное страхование домашнего имущества граждан"
              text="Добровольное страхование домашнего имущества граждан от стихийных бедствий, несчастных случаев и противоправных действий третьих лиц."
              feature-1-label="Страховой взнос"
              feature-1-value="2 USD/EUR"
              feature-2-label="Макс. страховая сумма"
              feature-2-value="до 168 000 BYN"
              feature-3-label="Срок пребывания за границей"
              feature-3-value="до 120 дней"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="06"
              img-mobile="02-mobile"
              title="Страхование на время поездки за границу"
              text="Оформляйте страховку для выезда за рубеж для своей безопасности!"
              feature-1-label="Страховой взнос"
              feature-1-value="2 USD/EUR"
              feature-2-label="Макс. страховая сумма"
              feature-2-value="до 168 000 BYN"
              feature-3-label="Срок пребывания за границей"
              feature-3-value="до 120 дней"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="07"
              img-mobile="02-mobile"
              title="Страхование водителей и пассажиров от несчастных случаев"
              text="Мы предлагаем добровольное страхование от несчастных случаев водителей и пассажиров."
              feature-1-label="Страховой взнос"
              feature-1-value="6,25 BYN в квартал"
              feature-2-label="Макс. страховая сумма"
              feature-2-value="до 168 000 BYN"
              feature-3-label="Срок пребывания за границей"
              feature-3-value="до 120 дней"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="08"
              img-mobile="02-mobile"
              title="Добровольное медицинское страхование “Кентавр”"
              text="Договор добровольного страхования - своевременная и качественная медицинская помощь в ведущих учреждениях здравоохранения страны."
              feature-1-label="Страховой взнос"
              feature-1-value="2 USD/EUR"
              feature-2-label="Макс. страховая сумма"
              feature-2-value="70 000 USD/EUR"
              feature-3-label="Срок пребывания за границей"
              feature-3-value="до 120 дней"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="09"
              img-mobile="02-mobile"
              title="Добровольное страхование от несчастных случаев и болезней на время поездки  за границ ”Кентавр”"
              text="Договор добровольного страхования от несчастных случаев и болезней на время поездки за границу - почувствуйте себя в безопасности!"
              feature-1-label="Страховой взнос"
              feature-1-value="2 USD/EUR"
              feature-2-label="Макс. страховая сумма"
              feature-2-value="70 000 USD/EUR"
              feature-3-label="Срок пребывания за границей"
              feature-3-value="до 120 дней"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="10"
              img-mobile="02-mobile"
              title="МТБелки под защитой"
              text="Гарантированное получение процентного дохода при наступлении страхового случая."
              feature-1-label="Страховой взнос"
              feature-1-value="2 USD/EUR"
              feature-2-label="Макс. страховая сумма"
              feature-2-value="70 000 USD/EUR"
              feature-3-label="Срок пребывания за границей"
              feature-3-value="до 120 дней"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="11"
              img-mobile="02-mobile"
              title="Бесплатная страховка по карте PayOkay"
              text="Для получения визы и выезда за границу."
              feature-1-label="Срок договора страхования"
              feature-1-value="1 год"
              feature-2-label="Сумма страхового покрытия"
              feature-2-value="30 000 EUR"
              feature-3-label="Нахождения за границей"
              feature-3-value="20 дней"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/insurance
              img="12"
              img-mobile="02-mobile"
              title="Бесплатная страховка по премиальной карте Hello,world!"
              text="Для получения визы и выезда за границу. Действует при занятиях активными и экстремальными видами спорта"
              feature-2-label="Сумма страхового покрытия"
              feature-2-value="30 000 EUR"
              feature-3-label="Нахождения за границей"
              feature-3-value="15 дней"
      }}
    </div>
  </div>
</section>
