<section class="section">
  <div class="container">
    <h2 class="section__title">Как работает Халва плюс</h2>
    <div class="card-manual">
      <div class="card-manual__cell">
        {{> widgets/manual-card
                title="Зарабатывайте"
                image="cards/halvaplus/manual_01"
                image-mobile="cards/halvaplus/manual_01-mobile"
                item-1="До 10% от суммы покупки возвращается бонусными баллами на карту за расчёты в магазинах - партнёрах."
                item-2="10 приветственных баллов при оформлении карты."
                item-3="До 1 % от суммы покупки возвращаются за расчёты в остальных магазинах."
        }}
      </div>
      <div class="card-manual__cell">
        {{> widgets/manual-card
                title="Тратьте на покупки"
                image="cards/halvaplus/manual_02"
                image-mobile="cards/halvaplus/manual_02-mobile"
                item-1="Оплачивайте баллами любые покупки в сети магазинов - партнёров из расчёта 1 балл = 1 руб"
        }}
      </div>
    </div>
  </div>
</section>
