<section class="section">
  <div class="container-880">
    <div class="pricing">
      <div class="pricing__section">
        <div class="pricing__content">
          <ul class="pricing__list">
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Тарифный план"
                      r-title="Бонусная сберегательная карта «Халва Плюс»"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Программа лояльности"
                      r-title="Бонусная сберегательная программа «Халва Плюс»"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Валюта счета"
                      r-title="BYN / USD / EUR"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Тип карты"
                      r-title="MasterCard World (PayPass)"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Срок действия карты"
                      r-title="3 года"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Ежегодная плата за сервисное обслуживание"
                      r-title="19,90 BYN / 37,50 BYN (для карт в USD/EUR)"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Процентная ставка на остаток денежных средств по счету (годовых) с 01.07.2018"
                      r-title="0,0001%"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Дополнительная карта"
                      r-title="Доступна для оформления плата - п.84.39.1 Перечня вознаграждений"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Плата за сервисное обслуживание"
                      r-title="Входит в состав услуг по Тарифному плану"
                      r-text="Плата не взимается"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Интернет-банк"
                      r-title="Входит в состав услуг по Тарифному плану"
                      r-text="Плата не взимается"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Выписка по карте на e-mail"
                      r-title="Входит в состав услуг по Тарифному плану"
                      r-text="Плата не взимается"
              }}
            </li>

            <li class="pricing__item">
              <div class="ft-row">
                <div class="ft-row__container">
                  <div class="ft-row__left">
                    <span class="ft-row__left-title">Выписка по карте на e-mail</span>
                  </div>
                  <div class="ft-row__right">
                    <span class="ft-row__right-title">Входит в состав услуг по Тарифному плану</span>
                    <span class="ft-row__right-text">* Бонусные баллы не начисляются: </span>
                    <div class="ft-row__content">
                      <ul>
                        <li>По операциям, проводимым через платежный сервис ООО «ВЭБ ПЭЙ»</li>
                        <li>По операциям, проводимым в устройствах
                          самообслуживания, которым присвоен код MCC 6010,
                          6011, 6012 или 4900 (таких как банкоматы,
                          инфокиоски и т.п.),
                        </li>
                        <li>По операциям безналичной оплаты в казино
                          (код МСС 7995), по операциям безналичной оплаты
                          через СДБО «Интернет Банк»,
                        </li>
                        <li>По операциям безналичной оплаты в устройствах
                          банков (код МСС 9402), установленных в РУП «Белпочта»,
                        </li>
                        <li>По операциям безналичной оплаты и переводов через
                          сервисы, которым присвоен код MCC 4814, 8999, 6051
                          или 6211
                        </li>
                        <li>По операциям перевода между картами
                          с использованием сервиса «Denegram» либо
                          аналогичных сервисов, предоставляемых другими
                          банками
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </li>

            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Бонусные баллы по операциям в магазинах-партнёрах"
                      r-title="До 10%"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title="Суммарные выплаты (по рассчитанным бонусным баллам) в рамках программы лояльности «Халва Плюс»"
                      r-title="Не могут превышать 500 бонусных баллов в месяц"
              }}
            </li>
            <li class="pricing__item">
              {{>blocks/common/ft-row
                      l-title='При оформлении через СДБО "Мой банк"'
                      r-title="Именная карта"
              }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
