<section class="page-filters page-filters--fixed">
  <div class="container">
    <div class="page-filters__content">
      <div class="page-filters__body page-filters__body--no-js">
        <div class="page-filters__inner">
          <div class="page-filters__inner-left">
            <ul class="inner-tabs">
              <li class="inner-tabs__item">
                <button class="js-tab button-tab active" data-target=".tab-1">Платежные карты</button>
              </li>
              <li class="inner-tabs__item">
                <button class="js-tab button-tab" data-target=".tab-2">Корпоративные карты</button>
              </li>
            </ul>
          </div>
          <div class="page-filters__inner-right">
            {{> form/date border=true default=true}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
