<section class="section">
  <div class="container">
    <div class="js-tab-content tab-1 active">
      {{> blocks/rates/cards/tab text=true}}
    </div>
    <div class="js-tab-content tab-2">
      {{> blocks/rates/cards/tab}}
    </div>
  </div>
</section>
