<section class="section section--no-mb">
  <div class="container">
    <header class="section__header section__header--text">
      <div class="section__header-left">
        <h2 class="section__title">Рассчитайте свой доход</h2>
        <p class="section__description">Возвращайте до 40% от прибыли в год с вкладами “МТБелки”</p>
      </div>
    </header>
    <div class="section__content">
      {{> calculators/deposit }}
    </div>
  </div>
</section>
