<section class="section">
  <div class="container">
    <div class="deposit-features">
      <div class="deposit-features__grid">
        <div class="deposit-features__cell">
          <div class="deposit-features__item">
            {{>widgets/advantage-card
                    img="deposits/deposit-single/features/01"
                    ext="png"
                    title="Гибкий срок"
                    text="Возможность размещения вклада сроком от 3 до 36 месяцев."
                    link="Подробнее о сроках"
            }}
          </div>
        </div>
        <div class="deposit-features__cell">
          <div class="deposit-features__item">
            {{>widgets/advantage-card
                    img="deposits/deposit-single/features/02"
                    ext="png"
                    title="Двойная капитализация"
                    text="Проценты ежемесячно присоединяются к сумме вклада. Выплата процентов осуществляется 2&nbsp;раза в месяц."
            }}
          </div>
        </div>
        <div class="deposit-features__cell">
          <div class="deposit-features__item">
            {{>widgets/advantage-card
                    img="deposits/deposit-single/features/03"
                    ext="png"
                    title="Оформление онлайн"
                    text="Управляйте вкладами через Интернет&#8209;банк. Открыть, пополнить и&nbsp;закрыть вклад МТБелки можно не выходя из дома."
            }}
          </div>
        </div>
        <div class="deposit-features__cell">
          <div class="deposit-features__item">
            {{>widgets/advantage-card
                    img="deposits/deposit-single/features/04"
                    ext="png"
                    title="Дополнительные взносы"
                    text="Совершайте дополнительные взносы от&nbsp;50 рублей и увеличивайте свой доход."
            }}
          </div>
        </div>
        <div class="deposit-features__cell">
          <div class="deposit-features__item">
            {{>widgets/advantage-card
                    img="deposits/deposit-single/features/05"
                    ext="png"
                    title="Онлайн-калькулятор"
                    text="Выбирайте оптимальные условия по вкладу и рассчитайте доход, который вы получите."
            }}
          </div>
        </div>
        <div class="deposit-features__cell">
          <div class="deposit-features__item">
            {{>widgets/advantage-card
                    img="deposits/deposit-single/features/06"
                    ext="png"
                    title="Удобное пополнение"
                    text="Пополнение счета через интернет банкинг, в отделениях и банкоматах."
                    link="Подробнее о пополнении"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
