<section class="section">
  <div class="container">
    <h2 class="section__title">Оформите карту и откройте вклад</h2>
    <p class="section__description">Дистанционно оформите карту и откройте вклад в интернет-банке или мобильном
      приложении</p>
    <div class="deposit-cards">
      <div class="cards">
        <ul class="cards__row">
          <li class="cards__row-cell">
            {{#>widgets/debit-card img="iks" title="ИКС карта" text="Дебетовая карта"}}
              <ul>
                <li>Мани-бэк 10% в СТО наших партнеров</li>
                <li>Мани-бэк 2% за любые покупки</li>
                <li>Мани-бэк 5% на АЗС партнеров</li>
              </ul>
            {{/widgets/debit-card}}
          </li>
          <li class="cards__row-cell">
            {{#>widgets/debit-card img="hello-world" title="Hello, World!" text="Для путешествий"}}
              <ul>
                <li>Овердрафт под ставку 28,86%</li>
                <li>Лимит по овердрафту 5000 BYN</li>
                <li>Страховка в подарок</li>
              </ul>
            {{/widgets/debit-card}}
          </li>
          <li class="cards__row-cell">
            {{#>widgets/debit-card img="payokay" title="PayOkay" text="Бонусная карта"}}
              <ul>
                <li>До 10% баллами за покупки у партнеров</li>
                <li>До 1% баллами от любых покупок по карте</li>
                <li>Бесплатное пополнение</li>
              </ul>
            {{/widgets/debit-card}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
