<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Что нужно для оформления вклада “МТБелки online”?</h2>
    </div>
    <div class="section__content">
      <ul class="deposit-need">
        <li class="deposit-need__cell">
          <div class="deposit-need__item">
            {{> widgets/need-step title="Карта МТбанка" text="Оформите отдну из трех карт: PayOkay, Hello, World!, Икс карта." link="Выбрать карту"}}
          </div>
        </li>
        <li class="deposit-need__cell">
          <div class="deposit-need__item">
            {{> widgets/need-step title="Интернет-банк" text="Управляйте вкладами через Интернет-банк. Открыть, пополнить и закрыть вклад МТБелки можно не выходя из дома." link="Оформить через интернет банк"}}
          </div>
        </li>
        <li class="deposit-need__cell">
          <div class="deposit-need__item">
            {{> widgets/need-step title="Прийти в отделение" text="В отделении мы оформим карту, и откроем нужный вклад." link="Отделения МТБанка"}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
