.section-credit-steps {
  margin: 65px 0 90px;
  padding: 0;

  @include mobile {
    margin: 50px 0;
  }

  .section__title {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}

.credit-steps {
  margin: 30px -22.5px 0;
  display: flex;

  @include smallTablet-and-mobile {
    margin: 20px 0 0 0;
    display: block;
  }

  &__cell {
    width: 33.333%;
    flex-basis: 33.333%;
    padding: 0 22.5px;

    @include smallTablet-and-mobile {
      padding: 0;
      margin-top: 20px;
      width: 100%;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .base-card__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.04em;
  }
}
