<section class="section">
  <div class="container">
    <div class="banners-list">
      <div class="banners-list__item">
        {{> banners/card
                background="linear-gradient(268.55deg, #4F4F4F -8.67%, #AAAAAA 103.33%), linear-gradient(275.64deg, #DFE5EF 25.6%, #EDF2F9 61.54%);"
                mobile-background="linear-gradient(24.31deg, #4F4F4F 15.86%, #AAAAAA 85.84%)"
                img="business/cards/card_01"
                title="Visa Platinum Business"
        }}
      </div>
      <div class="banners-list__item">
        {{> banners/card
                background="linear-gradient(268.55deg, #897249 -8.67%, #C1A470 103.33%), linear-gradient(275.64deg, #DFE5EF 25.6%, #EDF2F9 61.54%);"
                mobile-background="linear-gradient(23.86deg, #897249 15.33%, #C1A470 84.67%);"
                img="business/cards/card_02"
                title="Visa Gold"
        }}
      </div>
      <div class="banners-list__item">
        {{> banners/card
                background="linear-gradient(94.27deg, #38363A 25.89%, #1D1C21 79.81%), linear-gradient(275.64deg, #DFE5EF 25.6%, #EDF2F9 61.54%);"
                mobile-background="linear-gradient(134.83deg, #38363A 25.08%, #1D1C21 77.17%);"
                img="business/cards/card_03"
                title="Visa Business"
        }}
      </div>
      <div class="banners-list__item">
        {{> banners/card
                background="linear-gradient(180deg, #1B57B4 0%, #2F6CCC 100%);"
                mobile-background="linear-gradient(180deg, #1B57B4 0%, #2F6CCC 100%), linear-gradient(134.83deg, #38363A 25.08%, #1D1C21 77.17%)"
                img="business/cards/card_04"
                title="Виртуальная карта"
        }}
      </div>
    </div>
  </div>
</section>
