<section class="section section--gray">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Корпоративная карта от МТБанка это:</h2>
    </header>
    <div class="section__content">
      <div class="business-cards-features">
        <div class="business-cards-features__cell">
          {{>widgets/advantage-card img="business/cards/feature_01" ext="png" size="big"
                  title="Удобно"
                  feature-1="Проведение расчетов 24/7 в любой точке мира"
                  feature-2="Сокращение документооборота и увеличение эффективности работы бухгалтерии"
                  feature-3="Оптимизация командировочных расходов"
          }}
        </div>
        <div class="business-cards-features__cell">
          {{>widgets/advantage-card img="business/cards/feature_02" ext="png" size="big"
                  title="Быстро"
                  feature-1="Возможность онлайн-бронирования"
                  feature-2="Сокращение операционных расходов на выдачу подотчетных сумм"
                  feature-3="Отсутствие необходимости покупки иностранной валюты для командировок за рубеж"
          }}
        </div>
        <div class="business-cards-features__cell">
          {{>widgets/advantage-card img="business/cards/feature_03" ext="png" size="big"
                  title="Выгодно"
                  feature-1="Экономия на комиссиях за снятие наличных денежный средств"
                  feature-2="Расчеты за границей с автоматической конверсией в нужную валюту и выгодные курсы с Visa Business"
                  feature-3="Программа скидок Visa Business Bonus"
          }}
        </div>
      </div>
    </div>
  </div>
</section>
