<div class="faq-item">
  <div class="faq-item__container static">
    {{> widgets/video-image img="services/apple-pay/video" small=true ext="jpg"}}
    <ol>
      <li>Откройте приложение Wallet</li>
      <li>Коснитесь значка «+»</li>
      <li>Отсканируйте карту МТБанка при помощи камеры</li>
      <li>Ознакомьтесь с соглашением МТБанка и нажмите «Принять»</li>
      <li>Готово. Карта уже в Wallet</li>
    </ol>
  </div>
</div>
