<section class="section section--gray">
  <div class="container">
    <div class="banners-list__item">
      {{> banners/acquiring img="business/acquiring/01" img-mobile="business/acquiring/01-mobile"
              title="MTkassa — касса и терминал в одном устройстве"
              item-1="Оптимизация затрат: МТКасса — это 1 устройство вместо 4"
              item-2="Экономия времени: Вы получите настроенную кассу в банке"
              item-3="Безопасность: данные передаются в ИМНС онлайн."
              item-4="Доступ ко всей необходимой аналитике из личного кабинета"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/acquiring img="business/acquiring/02" img-mobile="business/acquiring/02-mobile"
              title="Торговый эквайринг"
              item-1="Подключение без открытия счета в банке"
              item-2="Приём к оплате бесконтактных средств платежей"
              item-3="Несколько способов приобретения оборудования"
              item-4="Выгодные тарифы от 1,3%"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/acquiring img="business/acquiring/03" img-mobile="business/acquiring/03-mobile"
              title="Мобильный эквайринг"
              item-1="Принимайте платежи по карте где бы вы не находились"
              item-2="Быстрое зачисление денег на счет"
              item-3="Выгодная стоимость оборудования"
              item-4="Отправка электронных чеков на email"
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/acquiring img="business/acquiring/04" img-mobile="business/acquiring/04-mobile"
              title="Интернет эквайринг"
              item-1="Получите возможность продажи товаров/услуг в режиме 24/7"
              item-2="Принимайте к оплате карты Visa, MasterCard, БЕЛКАРТ"
              item-3="Увеличивайте объем продаж и число своих покупателей"
              item-4="Обеспечьте безопасность электронной торговли."
      }}
    </div>
    <div class="banners-list__item">
      {{> banners/acquiring img="business/acquiring/05" img-mobile="business/acquiring/05-mobile"
              title="miniPOS"
              item-1="Легкий и удобный терминал без подключения к телефону либо планшету"
              item-2="Работа без кассовой ленты. Чек отправляется клиенту на e-mail"
              item-3="Принимайте к оплате карты Visa, MasterCard, БЕЛКАРТ"
              item-4="Подключение услуги за 3 дня, и покупка терминала в рассрочку"
      }}
    </div>
  </div>
</section>
