<section class="section section--gray">
  <div class="container">
    <div class="product-params">
      <div class="product-params__image">
        {{> components/image img="business/acquiring-single/image" img-mobile="business/acquiring-single/image-mobile" ext="png"}}
      </div>
      <div class="product-params__content">
        <div class="product-params__row">
          <div class="product-params__cell">
            <span class="product-params__title">Стоимость подключения к обслуживанию</span>
            <ul class="product-params__list">
              <li class="product-params__list-item">
                <span class="product-params__value">SmartPOS</span>
                <span class="product-params__label">Тарифный план</span>
              </li>

              <li class="product-params__list-item">
                <span class="product-params__value">Покупка</span>
                <span class="product-params__label">Условия получения устройства</span>
              </li>

              <li class="product-params__list-item">
                <span class="product-params__value">2%</span>
                <span class="product-params__label">Комиссия за операции по картам</span>
              </li>

              <li class="product-params__list-item">
                <span class="product-params__value">35 BYN</span>
                <span class="product-params__label">Минимум в месяц за 1 устройство</span>
              </li>

              <li class="product-params__list-item">
                <span class="product-params__value">Необязательно</span>
                <span class="product-params__label">Наличие расчетного счета в МТБанке</span>
              </li>
            </ul>
          </div>
          <div class="product-params__cell">
            <span class="product-params__title">Стоимость услуг партнеров</span>
            <ul class="product-params__list product-params__list--light">
              <li class="product-params__list-item">
                <span class="product-params__value">1098 BYN</span>
                <span class="product-params__label">Стоимость оборудования</span>
              </li>

              <li class="product-params__list-item">
                <span class="product-params__value">5,1 BYN/мес</span>
                <span class="product-params__label">Использование ПО</span>
              </li>

              <li class="product-params__list-item">
                <span class="product-params__value">от 115 BYN</span>
                <span class="product-params__label">Оператор программных кассовых систем</span>
              </li>

              <li class="product-params__list-item">
                <span class="product-params__value">от 33 BYN</span>
                <span class="product-params__label">РУП «Информационно-издательский центр по налогам и сборам»</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="product-params__button">
          {{> ui/btn label="Оформить" size="large" color="primary"}}
        </div>
      </div>
    </div>
  </div>
</section>
