<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Торговый эквайринг</a></li>
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Мобильный эквайринг</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">miniPOS</a></li>
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Интернет-эквайринг</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
