<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Быстрые кредиты</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Бизнес-аванс</a></li>
              <li class="header-dropdown__list-item"><a href="#">Овердрафт</a></li>
              <li class="header-dropdown__list-item"><a href="#">Бизнес-экспресс</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Кредиты с Банком Развития</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Кредиты под 5,5% в USD</a></li>
              <li class="header-dropdown__list-item"><a href="#">Кредиты под 5,55% в USD</a></li>
              <li class="header-dropdown__list-item"><a href="#">Кредиты под 4,55% в EUR</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Лизинг</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Транспорт</a></li>
              <li class="header-dropdown__list-item"><a href="#">Недвижимость</a></li>
              <li class="header-dropdown__list-item"><a href="#">Оборудование</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Молоток</a></li>
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Банковская
                гарантия</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell header-dropdown__cell--full">
          <span class="header-dropdown__title">Кредиты на бизнес-цели</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">МТБ-Юани</a></li>
              <li class="header-dropdown__list-item"><a href="#">Инвестиционный кредит</a></li>
              <li class="header-dropdown__list-item"><a href="#">Облигационный заем</a></li>
              <li class="header-dropdown__list-item"><a href="#">Рефинансирование</a></li>
              <li class="header-dropdown__list-item"><a href="#">На карту учредителю</a></li>
            </ul>
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Кредит в текущую деятельность</a></li>
              <li class="header-dropdown__list-item"><a href="#">Торговое финансирование импорта</a></li>
              <li class="header-dropdown__list-item"><a href="#">Торговое финансирование экспорта</a></li>
              <li class="header-dropdown__list-item"><a href="#">Программа финансирования</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
