<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Открыть бизнес</a></li>
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Зарплатный проект</a></li>
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Корпокарты</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Рассчетный счет</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Первый счет</a></li>
              <li class="header-dropdown__list-item"><a href="#">Свой счет</a></li>
              <li class="header-dropdown__list-item"><a href="#">Точный счет</a></li>
              <li class="header-dropdown__list-item"><a href="#">Супер-счет</a></li>
            </ul>
          </div>
        </div>

        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Валюта</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">МТБанк-экспресс</a></li>
              <li class="header-dropdown__list-item"><a href="#">Валюто-обменные операции</a></li>
            </ul>
          </div>
        </div>

        <div class="header-dropdown__cell">
          <span class="header-dropdown__title">Международные расчеты</span>
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item"><a href="#">Аккредитивы</a></li>
              <li class="header-dropdown__list-item"><a href="#">ИНКАССО</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
