<div class="header-dropdown">
  <div class="container">
    <div class="header-dropdown__inner">
      <div class="header-dropdown__content">
        <div class="header-dropdown__cell">
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Интернет-банк</a></li>
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Клиент-банк</a></li>
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Уведомления</a></li>
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Самоинкассация</a></li>
            </ul>
          </div>
        </div>
        <div class="header-dropdown__cell">
          <div class="header-dropdown__nav">
            <ul class="header-dropdown__list">
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Стать партнером</a></li>
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Программа лояльности</a></li>
              <li class="header-dropdown__list-item header-dropdown__list-item--bold"><a href="#">Гарант качества</a></li>
            </ul>
          </div>
        </div>
      </div>
      {{> blocks/header/dropdown/_footer}}
    </div>
  </div>
</div>
