{{#if empty}}
  <option value="">Любой город</option>{{/if}}
<option value="Минск">Минск</option>
<option value="Гродно">Брест</option>
<option value="Гомель">Гомель</option>
<option value="Гомель">Могилев</option>
<option value="Витебск">Витебск</option>
<option value="Гродно">Гродно</option>
