<select class="js-select visually-hidden" id="v-filters-direction" name="v-filters-direction"
        data-select-placeholder="Все направления"
        data-sprite-url="../assets/images/spriteInline.svg#action--expand-down">
  <option value="Бизнес-отдел">Бизнес-отдел</option>
  <option value="Частные лица">Частные лица</option>
  <option value="Бэк-офис">Бэк-офис</option>
</select>
