{{#if empty}}
  <option value="">Любое отделение</option>
{{/if}}
<option value="Минск">Отделение 1</option>
<option value="Гродно">Отделение 2</option>
<option value="Минск">Отделение 1</option>
<option value="Гродно">Отделение 2</option>
<option value="Минск">Отделение 1</option>
<option value="Гродно">Отделение 2</option>
<option value="Минск">Отделение 1</option>
<option value="Гродно">Отделение 2</option>
