<select class="js-select visually-hidden" id="sales-products" name="sales-products"
        data-select-placeholder="Все продукты" data-sprite-url="../assets/images/spriteInline.svg#action--expand-down">
  <option value="Все продукты">Все продукты</option>
  <option value="Карточные продукты">Карточные продукты</option>
  <option value="Карты Mastercard">Карты Mastercard</option>
  <option value="Карты Visa">Карты Visa</option>
  <option value="Карты рассрочки">Карты рассрочки</option>
  <option value="Рекламные игры">Рекламные игры</option>
</select>
