<select class="js-select visually-hidden" id="v-filters-specialization" name="v-filters-specialization"
        data-select-placeholder="Специализация" data-sprite-url="../assets/images/spriteInline.svg#action--expand-down">
  <option value="Кредитный эксперт">Кредитный эксперт (4)</option>
  <option value="Юрисконсульт">Юрисконсульт (11)</option>
  <option value="Ассистент клиент-менеджера">Ассистент клиент-менеджера (5)</option>
  <option value="Главный специалист">Главный специалист (10)</option>
</select>
