<div class="banner banner--background banner--image-small banner--mobile-left">
  <div class="banner__bg" style="background: linear-gradient(89.61deg, #124EAB 0.2%, #3A77D7 99.52%);"></div>
  <div class="banner__container">
    <div class="banner__inner">
      <span class="banner__title">Преврати свою идею в бизнес</span>
      <p class="banner__description">Бесплатно подготовим документы для регистрации бизнеса за несколько минут </p>
      <div class="banner__image">
        {{> components/image ext="png" img="business/open/banner" img-mobile="business/open/banner-mobile"}}
      </div>

      <ul class="banner__steps">
        <li class="banner__steps-item">Заполните онлайн-анкету на нашем сайте</li>
        <li class="banner__steps-item">Распечатайте документы и зарегистрируйте бизнес в исполкоме</li>
        <li class="banner__steps-item">Получите готовый пакет документов на ваш e-mail</li>
      </ul>

      <div class="banner__actions">
        {{> widgets/button-and-more white=true label="Оформить документы" no-link=true}}
      </div>
    </div>
  </div>
</div>
