<div class="banner banner--background">
  <div class="banner__bg" style="background: linear-gradient(89.61deg, #124EAB 0.2%, #3A77D7 99.52%);"></div>
  <div class="banner__container">
    <div class="banner__inner banner__inner--padding">
      <span class="banner__title">Интернет-Банк</span>
      <p class="banner__description banner__description--small">Оплачивайте товары, работы и услуги, обмениваться с банком платежными, финансовыми и другими документами.</p>
      <div class="banner__image">
        {{> components/image ext="png" img="business/services/banner" img-mobile="business/services/banner-mobile"}}
      </div>
      <div class="banner__features">
        <div class="banner__feature">
          <span class="banner__feature-value">Быстро</span>
          <span class="banner__feature-label">Быстрое решение Ваших бизнес&#8209;задач</span>
        </div>
        <div class="banner__feature">
          <span class="banner__feature-value">Безопасно</span>
          <span class="banner__feature-label">Ваши данные под защитой банка</span>
        </div>
        <div class="banner__feature">
          <span class="banner__feature-value">Удобно</span>
          <span class="banner__feature-label">Поддержка любой ОС</span>
        </div>
      </div>
      <div class="banner__actions">
        {{> widgets/button-and-more white=true label="Войти в интернет-банк" link-label="Подробнее"}}
      </div>
    </div>
  </div>
</div>
