<div class="banner banner--background banner--white banner--features">
  <div class="banner__bg">
    {{>components/image img="banners/career/bg" img-mobile="banners/career/bg-mobile" ext="jpg"}}
  </div>

  <div class="banner__container">
    <div class="banner__inner">
      <span class="banner__title">Работа в банке</span>
      <p class="banner__description">Становитесь частью проектов, которые меняют жизни людей.</p>

      <div class="banner__bottom">

        <ul class="banner__ticks">
          <li class="banner__ticks-item">Молодой коллектив</li>
          <li class="banner__ticks-item">Развитие и обучение</li>
          <li class="banner__ticks-item">127 отделений в стране</li>
          <li class="banner__ticks-item">Топ 5 банков Беларуси</li>
        </ul>

        <div class="banner__actions">
          {{> widgets/button-and-more label="Смотреть вакансии" link-label="Преимущества"}}
        </div>
      </div>
    </div>
  </div>
</div>
