<div class="banner">
  <div class="banner__container">
    <div class="banner__inner">
      <span class="banner__title">Оформление кредита онлайн</span>
      <p class="banner__description">Все сервисы, ваши карты, счета, оплата и многое другое в приложении на вашем
        смартфоне.</p>
      <div class="banner__image">
        {{> components/image ext="png" img="banners/online-credit/image" img-tabletSmall="banners/online-credit/mobile"}}
      </div>
      <div class="banner__features">
        <div class="banner__feature">
          <span class="banner__feature-value">Без очередей</span>
          <span class="banner__feature-label">Оформляйте кредит и где вам удобно</span>
        </div>
        <div class="banner__feature">
          <span class="banner__feature-value">5 минут</span>
          <span class="banner__feature-label">Оформление заявки</span>
        </div>
      </div>
      <div class="banner__actions">
        {{> widgets/button-and-more white=true label="Подробнее" link-label="Оформить кредит"}}
      </div>
    </div>
  </div>
</div>
