<div class="banner">
  <div class="banner__container">
    <div class="banner__inner">
      <span class="banner__title">Denegram — перевод с карты на карту</span>
      <span class="banner__description">Любой банк РБ и в 61 страну мира. Бесплатно для карты МТБанка.</span>

      <div class="banner__image">
        {{>components/image img="banners/denegram/image" img-mobile="banners/denegram/mobile" ext="png"}}
      </div>
      <div class="banner__features banner__features--small">
        <div class="banner__feature">
          <span class="banner__feature-value">0 BYN</span>
          <span class="banner__feature-label">Комиссия за перевод</span>
        </div>
        <div class="banner__feature">
          <span class="banner__feature-value">61 страна</span>
          <span class="banner__feature-label">Бесплатный перевод</span>
        </div>
        <div class="banner__feature">
          <span class="banner__feature-value">До 1500 рублей</span>
          <span class="banner__feature-label">Перевод без комиссии</span>
        </div>
      </div>
      <div class="banner__actions">
        {{> widgets/button-and-more white=true no-link=true mobile-apps=true mobile-apps-light=true label="Перевести онлайн"}}
      </div>
    </div>
  </div>
</div>
