<div class="banner banner-mobile-bank">
  <div class="banner__container">
  <div class="banner__inner">
    <span class="banner__title">Мобильный банк</span>
    <p class="banner__description">Все сервисы, ваши карты, счета, оплата и многое другое в приложении на вашем
      смартфоне.</p>
    <div class="banner__image">
      {{> components/image ext="png" img="banners/mobile-bank/image" img-tabletSmall="banners/mobile-bank/mobile"}}
    </div>
    <div class="banner__features">
      <div class="banner__feature">
        <span class="banner__feature-value">0 BYN</span>
        <span class="banner__feature-label">Комиссия за перевод</span>
      </div>
      <div class="banner__feature">
        <span class="banner__feature-value">61 страна</span>
        <span class="banner__feature-label">Бесплатный перевод</span>
      </div>
      <div class="banner__feature">
        <span class="banner__feature-value">До 1500 рублей</span>
        <span class="banner__feature-label">Перевод без комиссии</span>
      </div>
    </div>
    <div class="banner__actions">
      {{> widgets/button-and-more white=true no-link=true label="Подробнее" mobile-apps=true mobile-apps-black=true}}
    </div>
  </div>
</div>
</div>
