<div class="banner banner--background banner--white banner--features">
  <div class="banner__bg">
    {{>components/image img="banners/payment/bg" img-mobile="banners/payment/bg-mobile" ext="jpg"}}
  </div>

  <div class="banner__container">
    <div class="banner__inner">
      <span class="banner__title">Бесконтактная оплата</span>
      <p class="banner__description">Оплачивайте товары и услуги при помощи гаджетов</p>

      <div class="banner__bottom">

        <ul class="banner__ticks banner__ticks--small">
          <li class="banner__ticks-item">Samsung Pay</li>
          <li class="banner__ticks-item">Платежное кольцо</li>
          <li class="banner__ticks-item">Apple Pay</li>
          <li class="banner__ticks-item">МТБанк HCE</li>
        </ul>

        <div class="banner__facts">
          <div class="banner__fact">
            <div class="banner__fact-image">
              {{> components/image ext="png" img="banners/payment/fact"}}
            </div>
            <div class="banner__fact-content">
              <span class="banner__fact-title">Безопасные платежи</span>
              <p class="banner__fact-text">Каждая карта МТБанка защищена технологией 3D Secure</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
