<div class="banner banner--background banner--white banner--services">
  <div class="banner__bg">
    {{> components/image img="banners/partners/bg" img-tabletSmall="banners/partners/bg-mobile" ext="jpg"}}
  </div>
  <div class="banner__container">
    <div class="banner__inner">
      <span class="banner__title">Дистанционные сервисы</span>
      <p class="banner__description">Оплачивайте товары и услуги при помощи гаджетов</p>
      <div class="banner__image">
        {{> components/image ext="png" img="banners/payokay-services/image" img-tabletSmall="banners/payokay-services/mobile"}}
      </div>
      <ul class="banner__list">
        <li class="banner__list-item">Мобильный банк</li>
        <li class="banner__list-item">ApplePay</li>
        <li class="banner__list-item">ИКС карта</li>
        <li class="banner__list-item">Samsung Pay</li>
      </ul>
      <div class="banner__facts">
        <div class="banner__fact">
          <div class="banner__fact-image">
            {{> components/image ext="png" img="banners/payokay-services/feature"}}
          </div>
          <div class="banner__fact-content">
            <span class="banner__fact-title">Безопасные платежи</span>
            <p class="banner__fact-text">Каждая карта МТБанка защищена технологией 3D Secure</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
