<div class="banner banner--services">
  <div class="banner__container">
    <div class="banner__inner">
      <span class="banner__title">Все сервисы для вашего удобства</span>
      <p class="banner__description">Оплачивайте товары и услуги при помощи гаджетов</p>
      <div class="banner__image">
        {{> components/image ext="png" img="banners/salary-services/image" img-tabletSmall="banners/salary-services/mobile"}}
      </div>
      <ul class="banner__list banner__list--big">
        <li class="banner__list-item">Мобильный банк</li>
        <li class="banner__list-item">Интернет банк</li>
        <li class="banner__list-item">Переводы</li>
        <li class="banner__list-item">Мобильные платежи</li>
      </ul>
      <div class="banner__actions">
        {{> widgets/button-and-more white=true no-link=true label="Оформить пакет"}}
      </div>
    </div>
  </div>
</div>
