<div class="banner banner--background banner--xcard">
  <div class="banner__bg" style="background: linear-gradient(94.27deg, #3A393E 25.89%, #211F25 79.81%);"></div>
  <div class="banner__container">
    <div class="banner__inner">
      <span class="banner__title">ИКС карта — все карты в&nbsp;одной</span>
      <div class="banner__badges banner__badges--block banner-badges--white">
        <span class="banner__badges-item">Лучшая дебетовая карта</span>
      </div>
      <div class="banner__image">
        {{>components/image img="banners/x-card/image" img-tabletSmall="banners/x-card/mobile" ext="png"}}
      </div>
      <div class="banner__features banner__features--small">
        <div class="banner__feature">
          <span class="banner__feature-value">0 BYN</span>
          <span class="banner__feature-label">За оформление</span>
        </div>
        <div class="banner__feature">
          <span class="banner__feature-value">Все в одной</span>
          <span class="banner__feature-label">Бонусы 6-ти карт в одной</span>
        </div>
        <div class="banner__feature">
          <span class="banner__feature-value">До 5% мани-бэк</span>
          <span class="banner__feature-label">За любые покупки</span>
        </div>
      </div>
      <div class="banner__actions">
        {{> widgets/button-and-more link-white=true label="Оформить" link-label="Подробнее"}}
      </div>
    </div>
  </div>
</div>
