.btn-toggle {
  input:checked ~ .btn-toggle__label {
    color: $color-gray-100;
    border-color: $color-gray-20;
    background: $color-gray-20;
  }

  &__label {
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    min-width: 50px;
    min-height: 42px;
    padding: 13px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-align: center;
    border: 1px solid $color-gray-40;
    background: #FFFFFF;
    cursor: pointer;
  }
}
