.button-nav {
  display: block;
  padding: 30.5px 34.5px;
  @include text-h5;
  text-align: center;
  border: 1px solid $color-gray-40;
  border-radius: 8px;
  @include transition;

  @include media(mobile) {
    padding: 25.5px 59px;
  }

  &:hover {
    border-color: $color-gray-20;
    background-color: $color-gray-20;
  }
}
