.chat-icon {
  .icon {
    @include media(mobile) {
      max-width: 19px;
      max-height: 19px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    @include transition;

    @include media(mobile) {
      width: 40px;
      height: 40px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &--viber {
    .chat-icon__link {
      background: linear-gradient(180deg, #834EF3 0%, #6627EB 100%);
    }
  }

  &--skype {
    .chat-icon__link {
      background: linear-gradient(180deg, #55BDF8 0%, #0384E1 100%);
    }
  }

  &--fb {
    .chat-icon__link {
      background: linear-gradient(180deg, #26B1FF 0%, #006AE9 100%);
    }
  }

  &--tg {
    .chat-icon__link {
      background: linear-gradient(180deg, #55BDF8 0%, #0384E1 100%);
    }
  }

  &--vk {
    .chat-icon__link {
      background: linear-gradient(180deg, #74ABEC 0%, #1B70D6 100%);
    }
  }

  &--chat {
    .chat-icon__link {
      background: linear-gradient(93.43deg, #00A2FD -0.4%, #1B74FD 99.74%), #1B74FD;
    }
  }
}
