.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  @include text-button-s;
  border: 1px solid $color-gray-40;
  border-radius: 100px;
  @include transition;

  &:hover {
    border-color: $color-gray-100;
  }

  .icon {
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }
}
