<section class="section">
  <div class="container">
    <hr class="section__splitter"/>
    <header class="section__header">
      <div class="section__header-left">
        <h2 class="section__title">Международный бизнес</h2>
      </div>
    </header>
    <div class="section__content">
      <div class="js-accord">
        <div class="grid-two grid-two--mobile-row">
          <div class="grid-two__inner">
            <div class="grid-two__cell">
              {{> widgets/product-banner small=true png=true button-no-bottom=true
                      img="corporation/big/01"
                      img-mobile="corporation/big/01-mobile"
                      title="Управление ликвидностью"
                      item-1="Депозиты во всех валютах"
                      item-2="Облигации Банка"
                      item-3="Доверительное управление"
                      button-label="Подробнее" button-primary=true
              }}
            </div>
            <div class="grid-two__cell">
              {{> widgets/product-banner small=true png=true button-no-bottom=true
                      img="corporation/big/02"
                      img-mobile="corporation/big/01-mobile"
                      title="Зарплатный проект"
                      text="Удобный и экономически выгодный способ выплаты заработной платы сотрудникам."
                      button-label="Подробнее" button-primary=true
              }}
            </div>
            <div class="grid-two__cell">
              {{> widgets/product-banner small=true png=true button-no-bottom=true
                      img="corporation/big/03"
                      img-mobile="corporation/big/01-mobile"
                      title="Расчетный счет"
                      item-1="Выгодные тарифы"
                      item-2="Любые валюты"
                      item-3="Быстрое зачисление выручки"
                      item-4="Клиент-банк и интернет банк"
                      button-label="Подробнее" button-primary=true
              }}
            </div>
            <div class="grid-two__cell">
              {{> widgets/product-banner small=true png=true button-no-bottom=true
                      img="corporation/big/04"
                      img-mobile="corporation/big/01-mobile"
                      title="Кредитование"
                      item-1="Рефинансирование задолженности"
                      item-2="Отсрочка погашения основного долга"
                      item-3="Без проверки целевого использования и без дополнительного основания"
                      button-label="Подробнее" button-primary=true
              }}
            </div>
            <div class="grid-two__cell _no-desktop">
              {{> widgets/product-banner small=true png=true button-no-bottom=true
                      img="corporation/big/03"
                      img-mobile="corporation/big/01-mobile"
                      title="Расчетный счет"
                      item-1="Выгодные тарифы"
                      item-2="Любые валюты"
                      item-3="Быстрое зачисление выручки"
                      item-4="Клиент-банк и интернет банк"
                      button-label="Подробнее" button-primary=true
              }}
            </div>
            <div class="grid-two__cell _no-desktop">
              {{> widgets/product-banner small=true png=true button-no-bottom=true
                      img="corporation/big/04"
                      img-mobile="corporation/big/01-mobile"
                      title="Кредитование"
                      item-1="Рефинансирование задолженности"
                      item-2="Отсрочка погашения основного долга"
                      item-3="Без проверки целевого использования и без дополнительного основания"
                      button-label="Подробнее" button-primary=true
              }}
            </div>
          </div>
        </div>
        <div class="cards__btn js-accord__button _only-desktop">
          {{>ui/btn label="Смотреть все продукты" mode="js-accord__toggle"}}
        </div>
        <div class="js-accord__body cards__row-more _only-desktop">
          <div class="grid-two grid-two--mobile-row">
            <div class="grid-two__inner">
              <div class="grid-two__cell">
                {{> widgets/product-banner small=true png=true button-no-bottom=true
                        img="corporation/big/01"
                        img-mobile="corporation/big/01-mobile"
                        title="Управление ликвидностью"
                        item-1="Депозиты во всех валютах"
                        item-2="Облигации Банка"
                        item-3="Доверительное управление"
                        button-label="Подробнее" button-primary=true
                }}
              </div>
              <div class="grid-two__cell">
                {{> widgets/product-banner small=true png=true button-no-bottom=true
                        img="corporation/big/02"
                        img-mobile="corporation/big/01-mobile"
                        title="Зарплатный проект"
                        text="Удобный и экономически выгодный способ выплаты заработной платы сотрудникам."
                        button-label="Подробнее" button-primary=true
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
