<section class="section">
  <div class="container">
    <div class="business-map">
      <div class="business-map__image">
        {{> components/image img="corporation/common/map" img-mobile="corporation/common/map-mobile" ext="png"}}
      </div>
      <div class="business-map__content">
        <h2 class="business-map__title">Международный бизнес</h2>
        <ul class="business-map__list">
          <li class="business-map__list-item">Поддержка экспортных продаж</li>
          <li class="business-map__list-item">Оптимизация импортных закупок</li>
          <li class="business-map__list-item">Управление рисками ВЭД</li>
          <li class="business-map__list-item">Международные расчеты</li>
        </ul>
        <div class="business-map__button">
          {{> ui/btn color="primary" size="large" label="Узнать больше"}}
        </div>
      </div>
    </div>
  </div>
</section>
