<section class="section">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title">Международный бизнес</h2>
    </header>
    <div class="section__content">
      <div class="grid-two grid-two--mobile-row">
        <div class="grid-two__inner">
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true png=true
                    img="corporation/world/01"
                    img-mobile="corporation/world/01-mobile"
                    title="Экспортерам — продавать еще больше"
                    item-1="Продавайте еще больше"
                    item-2="Оценивайте контрагентов"
                    item-3="Управляйте рисками"
                    item-4="Получайте финансирование"
                    item-5="Развивайте продажи"
                    button-label="Подробнее" button-primary=true
            }}
          </div>
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true png=true
                    img="corporation/world/02"
                    img-mobile="corporation/world/01-mobile"
                    title="Импортерам — закупать еще дешевле"
                    item-1="Эффективно распоряжайтесь оборотными средствами"
                    item-2="Получайте дополнительное финансирование"
                    item-3="Минимизируйте риски при поставках"
                    item-4="Оптимизируйте расчеты"
                    button-label="Подробнее" button-primary=true
            }}
          </div>
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true png=true
                    img="corporation/world/03"
                    img-mobile="corporation/world/01-mobile"
                    title="Иностранным партнерам<br/>— ваш вход на местный рынок"
                    item-1="Продавайте еще больше"
                    item-2="Оценивайте контрагентов"
                    item-3="Управляйте рисками"
                    item-4="Получайте финансирование"
                    item-5="Развивайте продажи"
                    button-label="Подробнее" button-primary=true
            }}
          </div>
          <div class="grid-two__cell">
            {{> widgets/product-banner small=true png=true
                    img="corporation/world/04"
                    img-mobile="corporation/world/01-mobile"
                    title="Финансовым институтам"
                    item-1="Общая информация о банке"
                    item-2="Корреспондентские счета"
                    item-3="Раскрытие информации в рамках KYC"
                    item-4="Дилинг и валютообменные операции"
                    item-5="Межбанковское кредитование и совместное финансирование"
                    button-label="Подробнее" button-primary=true
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
