<section class="section">
  <div class="container">
    <h2 class="section__title">Начать пользоваться просто</h2>
    <div class="service-start">
      <div class="service-start__steps">
        <div class="service-start__step">
          <span class="service-start__step-num">1</span>
          <p class="service-start__step-text">Войдите или<br/> зарегистрируйтесь</p>
        </div>
        <div class="service-start__step">
          <span class="service-start__step-num">2</span>
          <p class="service-start__step-text">Для входа не нужна карта,<br/> оформите ее прямо онлайн</p>
        </div>
        <div class="service-start__step">
          <span class="service-start__step-num">3</span>
          <p class="service-start__step-text">Пользуйтесь услугами сервисов,<br/> карт, и других продуктов</p>
        </div>
      </div>

      <div class="service-start__banners">

        <div class="row-two row-two--mobile-column">
          <div class="row-two__inner">
            <div class="row-two__cell">
              {{> widgets/ibank-card dark=true bg-color="linear-gradient(93.43deg, #00A2FD -0.4%, #1B74FD 99.74%)"
                      title="Интернет-банк для жизни"
                      text="Все сервисы, ваши карты, счета, оплата и многое другое онлайн в интернет-банке."
                      image="services/internet-bank/start"
                      image-mobile="services/internet-bank/start-mobile"
                      button-label="Войти в интернет-банк"
              }}
            </div>
            <div class="row-two__cell">
              {{> widgets/ibank-card dark=true bg-color="linear-gradient(101.07deg, #3E579D 2.97%, #192F6D 97.37%)"
                      title="Интернет-банк для&nbsp;бизнеса"
                      text="Инструмент для вашего бизнеса всегда под рукой в вашем компьютере."
                      image="services/internet-bank/start"
                      image-mobile="services/internet-bank/start-mobile"
                      button-label="Войти в интернет-банк"
              }}
            </div>
            <div class="row-two__cell">
              {{> widgets/ibank-card dark=true bg-color="linear-gradient(93.43deg, #00A2FD -0.4%, #1B74FD 99.74%)"
                      title="Интернет-банк для жизни"
                      text="Все сервисы, ваши карты, счета, оплата и многое другое онлайн в интернет-банке."
                      image="services/internet-bank/start"
                      image-mobile="services/internet-bank/start-mobile"
                      button-label="Войти в интернет-банк"
              }}
            </div>
            <div class="row-two__cell">
              {{> widgets/ibank-card dark=true bg-color="linear-gradient(93.43deg, #00A2FD -0.4%, #1B74FD 99.74%)"
                      title="Интернет-банк для жизни"
                      text="Все сервисы, ваши карты, счета, оплата и многое другое онлайн в интернет-банке."
                      image="services/internet-bank/start"
                      image-mobile="services/internet-bank/start-mobile"
                      button-label="Войти в интернет-банк"
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
