<section class="section section--gray">
  <div class="container-880">
    <h2 class="section__title">Вопросы и ответы</h2>
    <div class="service-faq faq">
      <div class="faq__section">
        <div class="faq__content">
          <ul class="faq__list js-accordion">
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Как начать пользоваться интернет-банком?" }}
                {{> blocks/common/faq-answer }}
              {{/blocks/common/accordion-item}}
            </li>
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Кому доступен интернет-банк" }}
                {{> blocks/common/faq-answer }}
              {{/blocks/common/accordion-item}}
            </li>
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Подключение услуг" }}
                {{> blocks/common/faq-answer }}
              {{/blocks/common/accordion-item}}
            </li>
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Оформление вклада через интернет-банк" }}
                {{> blocks/common/faq-answer }}
              {{/blocks/common/accordion-item}}
            </li>
            <li class="faq__item">
              {{#>blocks/common/accordion-item title="Добавление карт в приложении" }}
                {{> blocks/common/faq-answer }}
              {{/blocks/common/accordion-item}}
            </li>
          </ul>
          <div class="faq__cta">
            {{>ui/btn color="primary" label="Смотреть все вопросы"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
