<section class="inner-header js-inner-header">
  <div class="container">
    <div class="inner-header__inner js-inner-header__content">
      <div class="inner-header__content">
        <div class="inner-header__left">
          {{> blocks/common/page-breadcrumbs label="Назад к вакансиям" href="about--career--vacancies.html" icon="action--arrow-left"}}
        </div>
        <div class="inner-header__right">
          {{> ui/btn label="Отправить заявку" color="primary" scroll-to='#v-form'}}
        </div>
      </div>
    </div>
  </div>
</section>

