<section class="section">
  <div class="container-770">
    <h1 class="page-title">Юрисконсульт сектора юридического сопровождения процедур взыскания проблемной
      задолженности</h1>

    <div class="section__meta">
      <ul class="page-meta">
        <li class="page-meta__item">
          <p class="page-meta__label">Город</p>
          <p class="page-meta__text">Минск</p>
        </li>
        <li class="page-meta__item">
          <p class="page-meta__label">Направление</p>
          <p class="page-meta__text">Малый бизнес</p>
        </li>
        <li class="page-meta__item">
          <p class="page-meta__label">Специализация</p>
          <p class="page-meta__text">Управление персоналом</p>
        </li>
      </ul>
    </div>

    <div class="vacancy-single">
      <div class="vacancy-single__section">
        <span class="vacancy-single__section-title">Требования к кандидату</span>
        <div class="vacancy-single__section-content">
          <ul>
            <li>Высшее математическое/экономическое образование/техническое
              образование
            </li>
            <li>Знание Excel на уровне продвинутого пользователя (сводные таблицы,
              сложные формулы, VBA);
            </li>
            <li>Хорошие аналитические способности, умение структурировать
              и грамотно представлять полученные результаты;
            </li>
            <li>Понимание бизнес-процессов в части дистанционного банковского
              обслуживания клиентов;
            </li>
            <li>Понимание бизнес-процессов в части дистанционного банковского
              обслуживания клиентов;
            </li>
            <li>Грамотная речь, умение четко излагать мысли в письменной форме;</li>
          </ul>
        </div>
      </div>


      <div class="vacancy-single__section">

        <p class="vacancy-single__text">Вашим преимуществом будет если вы умеете вести контроль процесса урегулирования
          замечаний по работе цифровых
          продуктов и сервисов.</p>

        <span class="vacancy-single__section-title">Обязанности работы</span>

        <div class="vacancy-single__section-content">
          <ul>
            <li>Работа с обращениями клиентов о работе цифровых продуктов
              и сервисов, ответы на отзывы в магазинах приложений PlayMarket
              и AppStore, анализ обратной связи пользователей;
            </li>
            <li>Ведение и контроль процесса урегулирования замечаний по работе
              цифровых продуктов и сервисов;
            </li>
            <li>Коммуникация с внутренними подразделениями Банка и внешними
              подрядчиками по вопросам поддержки пользователей цифровых
              продуктов и сервисов;
            </li>
            <li>Участие в построении системы мониторинга контроля качества
              и уровня доступности цифровых продуктов и сервисов;
            </li>
            <li>Постановка задач по исправлению замечаний в работе цифровых
              сервисов, контроль сроков и качества их исполнения;
            </li>
            <li>Ведение статистики, предоставление отчетности по цифровым
              продуктам и сервисам Банка;
            </li>
          </ul>
        </div>
      </div>

      <div class="vacancy-single__section">
        <span class="vacancy-single__section-title">Мы предлагаем</span>

        <div class="vacancy-single__section-content">
          <ul>
            <li>Интересные проекты и задачи, а также невероятно полезный опыт;</li>
            <li>Зеленый свет для новых идей и предложений: мы часто делаем то,
              на что другие не отваживаются;
            </li>
            <li>Супер-команду единомышленников и профессионалов, где каждый
              всегда может рассчитывать на поддержку и помощь коллег;
            </li>
            <li>Комфортный офис рядом со ст. метро Пролетарская;</li>
            <li>Рабочий график: пн.-чт. 8:30 – 17:30, пт. 8:30 – 16:15;</li>
            <li>Трудовой отпуск продолжительностью 29 календарных дней;</li>
            <li>Возможность карьерного и профессионального роста;</li>
            <li>Расширенный социальный пакет (включая добровольное медицинское
              страхование, специальные предложения от ших партнеров);
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
