<section class="section career-form career-form--single" id="v-form">
  <div class="container-770">
    <div class="vacancy-form">
      <div class="vacancy-form__header">
        <span class="vacancy-form__title">Заинтересовала вакансия?</span>
        <p class="vacancy-form__text vacancy-form__text--bold">
          Оставьте свои контактные данные, <a href="#">скачайте и заполните анкету</a>,
          прикрепите к&nbsp;письму. После мы свяжемся с вами.</p>
      </div>
      <div class="vacancy-form__content ">
        {{> blocks/internal/about-career/components/form}}
      </div>
    </div>
  </div>
</section>
