$icons: (sprite: (width: 1880px, height: 1843px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
account-form-error: (width: 65px, height: 61px, backgroundX: 0px, backgroundY: 0px),
android-gray: (width: 17px, height: 18px, backgroundX: -65px, backgroundY: -61px),
android-white: (width: 21px, height: 24px, backgroundX: -82px, backgroundY: -79px),
android-white-mobile: (width: 17px, height: 18px, backgroundX: -103px, backgroundY: -103px),
appstore-gray: (width: 15px, height: 18px, backgroundX: -120px, backgroundY: -121px),
appstore-middle-desktop: (width: 19px, height: 23px, backgroundX: -135px, backgroundY: -139px),
appstore-middle-mobile: (width: 15px, height: 18px, backgroundX: -154px, backgroundY: -162px),
appstore-small: (width: 12px, height: 15px, backgroundX: -169px, backgroundY: -180px),
appstore-white: (width: 19px, height: 23px, backgroundX: -181px, backgroundY: -195px),
appstore-white-mobile: (width: 15px, height: 18px, backgroundX: -200px, backgroundY: -218px),
back-arrow: (width: 7px, height: 12px, backgroundX: -215px, backgroundY: -236px),
banner-bullet: (width: 22px, height: 22px, backgroundX: -222px, backgroundY: -248px),
banner-tick: (width: 11px, height: 7px, backgroundX: -244px, backgroundY: -270px),
banner-tick-primary: (width: 11px, height: 7px, backgroundX: -255px, backgroundY: -277px),
browser: (width: 15px, height: 14px, backgroundX: -266px, backgroundY: -284px),
bullet-orange: (width: 30px, height: 30px, backgroundX: -281px, backgroundY: -298px),
button-arrow: (width: 22px, height: 18px, backgroundX: -311px, backgroundY: -328px),
checkbox-tick: (width: 14px, height: 10px, backgroundX: -333px, backgroundY: -346px),
circle-22-tick: (width: 11px, height: 7px, backgroundX: -347px, backgroundY: -356px),
circle-22-tick-dark: (width: 11px, height: 7px, backgroundX: -358px, backgroundY: -363px),
circle-22-tick-primary: (width: 11px, height: 7px, backgroundX: -369px, backgroundY: -370px),
convertor-arrow: (width: 10px, height: 7px, backgroundX: -380px, backgroundY: -377px),
convertor-arrow-blue: (width: 10px, height: 6px, backgroundX: -390px, backgroundY: -384px),
exchange-arrow: (width: 10px, height: 6px, backgroundX: -400px, backgroundY: -390px),
expand-down: (width: 12px, height: 13px, backgroundX: -410px, backgroundY: -396px),
expand-down-black: (width: 24px, height: 19px, backgroundX: -422px, backgroundY: -409px),
expand-down-white: (width: 18px, height: 18px, backgroundX: -446px, backgroundY: -428px),
expand-up: (width: 12px, height: 13px, backgroundX: -464px, backgroundY: -446px),
footer-menu-arrow: (width: 10px, height: 6px, backgroundX: -476px, backgroundY: -459px),
form-failure: (width: 86px, height: 81px, backgroundX: -486px, backgroundY: -465px),
form-result-account-failure: (width: 86px, height: 79px, backgroundX: -572px, backgroundY: -546px),
form-result-account-success: (width: 86px, height: 79px, backgroundX: -658px, backgroundY: -625px),
form-success: (width: 86px, height: 81px, backgroundX: -744px, backgroundY: -704px),
googleplay-middle-desktop: (width: 22px, height: 24px, backgroundX: -830px, backgroundY: -785px),
googleplay-middle-mobile: (width: 16px, height: 18px, backgroundX: -852px, backgroundY: -809px),
googleplay-small: (width: 13px, height: 15px, backgroundX: -868px, backgroundY: -827px),
header-mobile-menu-arrow: (width: 6px, height: 10px, backgroundX: -881px, backgroundY: -842px),
home-hero-arrow-left: (width: 14px, height: 24px, backgroundX: -887px, backgroundY: -852px),
home-hero-arrow-left--white: (width: 14px, height: 24px, backgroundX: -901px, backgroundY: -876px),
home-hero-arrow-right: (width: 14px, height: 24px, backgroundX: -915px, backgroundY: -900px),
home-hero-arrow-right--white: (width: 14px, height: 24px, backgroundX: -929px, backgroundY: -924px),
inner-header-arrow: (width: 10px, height: 6px, backgroundX: -943px, backgroundY: -948px),
inner-header-arrow--hover: (width: 10px, height: 6px, backgroundX: -953px, backgroundY: -954px),
inner-header-arrow--opened: (width: 10px, height: 6px, backgroundX: -963px, backgroundY: -960px),
inner-header-arrow-dropdown: (width: 10px, height: 6px, backgroundX: -973px, backgroundY: -966px),
input-date: (width: 18px, height: 19px, backgroundX: -983px, backgroundY: -972px),
insurance-params-tick: (width: 11px, height: 7px, backgroundX: -1001px, backgroundY: -991px),
list-tick: (width: 19px, height: 13px, backgroundX: -1012px, backgroundY: -998px),
list-tick--business: (width: 19px, height: 13px, backgroundX: -1031px, backgroundY: -1011px),
list-tick-white: (width: 12px, height: 8px, backgroundX: -1050px, backgroundY: -1024px),
mixmax-tick: (width: 17px, height: 12px, backgroundX: -1062px, backgroundY: -1032px),
need-step: (width: 62px, height: 62px, backgroundX: -1079px, backgroundY: -1044px),
need-step-mobile: (width: 40px, height: 40px, backgroundX: -1141px, backgroundY: -1106px),
next: (width: 22px, height: 22px, backgroundX: -1181px, backgroundY: -1146px),
next-hover: (width: 31px, height: 18px, backgroundX: -1203px, backgroundY: -1168px),
package-tick: (width: 12px, height: 10px, backgroundX: -1234px, backgroundY: -1186px),
popover-close: (width: 16px, height: 16px, backgroundX: -1246px, backgroundY: -1196px),
popover-question: (width: 8px, height: 11px, backgroundX: -1262px, backgroundY: -1212px),
popover-question-hover: (width: 8px, height: 11px, backgroundX: -1270px, backgroundY: -1223px),
popover-tail: (width: 17px, height: 28px, backgroundX: -1278px, backgroundY: -1234px),
popup-close: (width: 26px, height: 26px, backgroundX: -1295px, backgroundY: -1262px),
progress-tick: (width: 14px, height: 10px, backgroundX: -1321px, backgroundY: -1288px),
rates-blank: (width: 16px, height: 16px, backgroundX: -1335px, backgroundY: -1298px),
rates-eur: (width: 13px, height: 16px, backgroundX: -1351px, backgroundY: -1314px),
rates-eur-white: (width: 13px, height: 16px, backgroundX: -1364px, backgroundY: -1330px),
rates-map: (width: 16px, height: 17px, backgroundX: -1377px, backgroundY: -1346px),
rates-map-blue: (width: 16px, height: 17px, backgroundX: -1393px, backgroundY: -1363px),
rates-minus: (width: 10px, height: 7px, backgroundX: -1409px, backgroundY: -1380px),
rates-plus: (width: 10px, height: 7px, backgroundX: -1419px, backgroundY: -1387px),
rates-rub: (width: 13px, height: 15px, backgroundX: -1429px, backgroundY: -1394px),
rates-rub-white: (width: 13px, height: 15px, backgroundX: -1442px, backgroundY: -1409px),
rates-usd: (width: 11px, height: 20px, backgroundX: -1455px, backgroundY: -1424px),
rates-usd-white: (width: 11px, height: 20px, backgroundX: -1466px, backgroundY: -1444px),
scroll-up: (width: 22px, height: 13px, backgroundX: -1477px, backgroundY: -1464px),
select-arrow: (width: 10px, height: 6px, backgroundX: -1499px, backgroundY: -1477px),
select-arrow-primary: (width: 10px, height: 6px, backgroundX: -1509px, backgroundY: -1483px),
social-facebook: (width: 12px, height: 23px, backgroundX: -1519px, backgroundY: -1489px),
social-facebook-black: (width: 10px, height: 18px, backgroundX: -1531px, backgroundY: -1512px),
social-instagram: (width: 22px, height: 22px, backgroundX: -1541px, backgroundY: -1530px),
social-telegram-black: (width: 18px, height: 17px, backgroundX: -1563px, backgroundY: -1552px),
social-vkontakte: (width: 24px, height: 13px, backgroundX: -1581px, backgroundY: -1569px),
social-vkontakte-black: (width: 18px, height: 10px, backgroundX: -1605px, backgroundY: -1582px),
social-youtube: (width: 22px, height: 16px, backgroundX: -1623px, backgroundY: -1592px),
social-youtube-black: (width: 17px, height: 12px, backgroundX: -1645px, backgroundY: -1608px),
steps-right-arrow: (width: 10px, height: 17px, backgroundX: -1662px, backgroundY: -1620px),
terms-list-business-tick: (width: 19px, height: 13px, backgroundX: -1672px, backgroundY: -1637px),
tick: (width: 22px, height: 22px, backgroundX: -1691px, backgroundY: -1650px),
tick-small-white: (width: 10px, height: 7px, backgroundX: -1713px, backgroundY: -1672px),
tick-white: (width: 22px, height: 22px, backgroundX: -1723px, backgroundY: -1679px),
upload-doc-plus: (width: 20px, height: 20px, backgroundX: -1745px, backgroundY: -1701px),
upload-doc-reset: (width: 16px, height: 16px, backgroundX: -1765px, backgroundY: -1721px),
upload-doc-tick: (width: 14px, height: 10px, backgroundX: -1781px, backgroundY: -1737px),
video-overlay-close: (width: 27px, height: 27px, backgroundX: -1795px, backgroundY: -1747px),
video-play: (width: 25px, height: 30px, backgroundX: -1822px, backgroundY: -1774px),
video-play-small: (width: 18px, height: 21px, backgroundX: -1847px, backgroundY: -1804px),
video-play-small--mobile: (width: 15px, height: 18px, backgroundX: -1865px, backgroundY: -1825px),
);
