.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-action--add {
  width: 492px;
  height: 492px;
}
.icon-action--arrow-left {
  width: 10px;
  height: 12px;
}
.icon-action--arrow-right {
  width: 12px;
  height: 14px;
}
.icon-action--download {
  width: 22px;
  height: 22px;
}
.icon-action--expand-down {
  width: 12px;
  height: 12px;
}
.icon-action--left-arrow {
  width: 22px;
  height: 22px;
}
.icon-action--more {
  width: 13px;
  height: 4px;
}
.icon-action--next {
  width: 22px;
  height: 22px;
}
.icon-action--next-hover {
  width: 31px;
  height: 18px;
}
.icon-action--remove {
  width: 492px;
  height: 492px;
}
.icon-action--right-arrow {
  width: 22px;
  height: 22px;
}
.icon-action--search {
  width: 19px;
  height: 20px;
}
.icon-action--switch {
  width: 12px;
  height: 12px;
}
.icon-additional--book {
  width: 22px;
  height: 22px;
}
.icon-additional--case {
  width: 22px;
  height: 22px;
}
.icon-additional--document {
  width: 22px;
  height: 22px;
}
.icon-additional--question {
  width: 8px;
  height: 11px;
}
.icon-additional--support {
  width: 22px;
  height: 22px;
}
.icon-additional--web {
  width: 22px;
  height: 22px;
}
.icon-app-download-close {
  width: 18px;
  height: 18px;
}
.icon-back-arrow {
  width: 7px;
  height: 12px;
}
.icon-brands--abbanks {
  width: 58px;
  height: 58px;
}
.icon-brands--aka {
  width: 92px;
  height: 33px;
}
.icon-brands--android {
  width: 22px;
  height: 22px;
}
.icon-brands--apple {
  width: 22px;
  height: 22px;
}
.icon-brands--brrb {
  width: 46px;
  height: 54px;
}
.icon-brands--ebrr {
  width: 60px;
  height: 59px;
}
.icon-brands--erip {
  width: 94px;
  height: 64px;
}
.icon-brands--facebook {
  width: 22px;
  height: 22px;
}
.icon-brands--fmo {
  width: 98px;
  height: 33px;
}
.icon-brands--ifc {
  width: 107px;
  height: 36px;
}
.icon-brands--instagram {
  width: 22px;
  height: 22px;
}
.icon-brands--mfz {
  width: 176px;
  height: 40px;
}
.icon-brands--nefco {
  width: 109px;
  height: 44px;
}
.icon-brands--vk {
  width: 22px;
  height: 22px;
}
.icon-brands--youtube {
  width: 22px;
  height: 22px;
}
.icon-button--blank {
  width: 22px;
  height: 22px;
}
.icon-button--calc {
  width: 24px;
  height: 24px;
}
.icon-button-arrow {
  width: 22px;
  height: 18px;
}
.icon-button-toggle-arrow {
  width: 11px;
  height: 7px;
}
.icon-chat--chat {
  width: 29px;
  height: 25px;
}
.icon-chat--fb {
  width: 32px;
  height: 14px;
}
.icon-chat--skype {
  width: 21px;
  height: 25px;
}
.icon-chat--tg {
  width: 26px;
  height: 19px;
}
.icon-chat--viber {
  width: 33px;
  height: 33px;
}
.icon-chat--vk {
  width: 29px;
  height: 16px;
}
.icon-currency--byn {
  width: 31px;
  height: 13px;
}
.icon-currency--eur {
  width: 22px;
  height: 22px;
}
.icon-currency--pay {
  width: 30px;
  height: 17px;
}
.icon-currency--rub {
  width: 22px;
  height: 22px;
}
.icon-currency--up {
  width: 18px;
  height: 22px;
}
.icon-currency--usd {
  width: 22px;
  height: 23px;
}
.icon-download {
  width: 20px;
  height: 24px;
}
.icon-files--docx {
  width: 22px;
  height: 22px;
}
.icon-files--download {
  width: 22px;
  height: 22px;
}
.icon-files--exel {
  width: 22px;
  height: 22px;
}
.icon-files--pdf {
  width: 22px;
  height: 22px;
}
.icon-header--back {
  width: 18px;
  height: 14px;
}
.icon-header--back-big {
  width: 24px;
  height: 20px;
}
.icon-header--lang-arrow {
  width: 10px;
  height: 6px;
}
.icon-header--search {
  width: 19px;
  height: 20px;
}
.icon-header--search-big {
  width: 19px;
  height: 19px;
}
.icon-header--sub-docs {
  width: 14px;
  height: 17px;
}
.icon-header--sub-questions {
  width: 16px;
  height: 14px;
}
.icon-header--sub-usd {
  width: 10px;
  height: 17px;
}
.icon-logo--colored {
  width: 149px;
  height: 47px;
}
.icon-logo--white {
  width: 157px;
  height: 51px;
}
.icon-map--atm {
  width: 13px;
  height: 16px;
}
.icon-map--clock {
  width: 14px;
  height: 14px;
}
.icon-map--close {
  width: 16px;
  height: 16px;
}
.icon-map--metro {
  width: 15px;
  height: 11px;
}
.icon-map--office {
  width: 15px;
  height: 16px;
}
.icon-map--terminal {
  width: 10px;
  height: 16px;
}
.icon-map--timer {
  width: 10.8px;
  height: 10.9px;
}
.icon-socials--facebook {
  width: 22px;
  height: 22px;
}
.icon-socials--instagram {
  width: 22px;
  height: 22px;
}
.icon-socials--vk {
  width: 22px;
  height: 22px;
}
.icon-socials--youtube {
  width: 22px;
  height: 22px;
}
.icon-terms-tick {
  width: 19px;
  height: 13px;
}
.icon-ui--attach {
  width: 22px;
  height: 22px;
}
.icon-ui--call {
  width: 18px;
  height: 18px;
}
.icon-ui--chat {
  width: 24px;
  height: 24px;
}
.icon-ui--convert {
  width: 22px;
  height: 22px;
}
.icon-ui--convert-small {
  width: 18px;
  height: 18px;
}
.icon-ui--filter {
  width: 22px;
  height: 22px;
}
.icon-ui--location {
  width: 18px;
  height: 18px;
}
.icon-ui--login {
  width: 24px;
  height: 24px;
}
.icon-ui--phone {
  width: 18px;
  height: 18px;
}
.icon-ui--tick {
  width: 22px;
  height: 22px;
}
